
// FONTS

$main-font: 'Montserrat', sans-serif;
$main-font-semi: 'montserratsemibold', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// COLORS

$avo-green: #73C48D;
$avo-green-active: #63AB80;

$header-grey: #30363F;
$body-black: #1F232A;
$inactive-grey: #A2A8B1;

$separator-grey: #d2d7dc;
$separator-lightgrey: #efefef;

$impression-blue: rgb(50, 157, 223);
$engagement-orange: rgb(255, 139, 104);
$social-following-red: rgb(231, 72, 69);

//SEPARATORS:
// usage:
// .some-element { @include separator("bottom", $separator-grey); }

@mixin separator($position, $color) {
  border-#{$position}: 1px solid $color;
}

//BUTTONS:

//BUTTON MIXINS

@mixin button-box-shadow($color) {
  @if $color {
    &:hover {
      box-shadow: 0px 0px 3px $color;
    }
    &:active {
      box-shadow: 0px 0px 0px white;
    }
  } @else {
    &:hover {
      box-shadow: 0px 0px 0px white;
    }
    &:active {
      box-shadow: 0px 0px 0px white;
    }
  }
}

// PLACEHOLDER CLASS

%basic-button {
    border: none;
    border-radius: 1px;
    font-family: $main-font;
    transition: background .5s, box-shadow .3s;
    &:focus {
      outline: none;
    }
}

//ACTUAL BUTTON CLASSES

.primary-button {
  @extend %basic-button;
  background: $avo-green;
  color: white;
  @include button-box-shadow($avo-green-active);
}

.secondary-button {
  @extend %basic-button;
}


// UTILITY MIXINS

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
