@import 'utility';

.avocado-button-focus:focus {
    outline: none !important;
    border: 1px solid #73C48D;
    color: $avo-green;
    box-shadow: 0 0 10px #73C48D;
}

.avocado-hover:hover {
    border: 1px solid #73C48D;
    color: $avo-green;
}

.avocado-focus:focus {
    border: 1px solid #73C48D;
    outline: none;
}

.modal-dialog{
    top: 13vh;
}

.modal-body{
    padding:0px;
}

.modal-close-button{
    @extend %x-button;
    position: fixed;
    width: 30px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    line-height: 20px;
    left: 93.5%;
    top: 2%;
}
.desc-header{
    font-size:25px;
}
.button-icon {
    padding-right: 25px;
    padding-left: 10px;
    font-size: 30px;
    @media (max-width: 1350px) {
        padding-right: 10px;
    }
}

.category {
    border: 1px solid $header-grey;
    border-radius: 1px;
    color: $body-black;
    font-family: $secondary-font;
    min-width: 150px;
}


#loading {
    display: none;
    top: 31%;
    left: 43%;
    position: fixed;
    z-index: 1001;
}


.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
    a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
        &:hover,
         :focus {
            color: #f1f1f1;
        }
    }
}



.search {
    width: 35%;
    border-radius: 1px;
    border: 0;
    color: white;
    background-color: white;
    height: 50px;
    font-size: 16px;
    font-family: $main-font;
    background-color: $avo-green;
    margin-left: 31%;
    &:hover {
        color: white !important;
        border: 1px solid $avo-green;
        box-shadow: 0 0 10px $avo-green;
    }
    &:focus {
        outline: none !important;
        border: 1px solid $avo-green;
        box-shadow: 0 0 10px $avo-green;
    }
}


.header.avocado-header {
    position: relative;
}

.row.avocado-row {
    width: 100%;
    position: absolute;
}

img.avocado-img-header {
    background-size: cover;
}

.discover-screen {
    width: 80%;
    float: right;
    margin-top: 5%;
}

@media (min-width:1250px) {
    img.avocado-img-header {
        width: 100%;
    }
}

.img-responsive {
    width: 100%;
}


/*nav bar */

ul.nav.navbar-nav.login-sect {
    float: right;
}

a.about-us {
    max-width: 50px;
}

.icon.wb-menu {
    color: black;
    font-size: 32px;
}

.navbar-toggle {
    padding-top: 3%;
    float: right;
    background: transparent;
    border: none;
}

.navbar {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.collapse.in {
    display: table-caption;
}

@media (min-width: 700px) {
    .navbar-nav.avocado-ul {
        margin: .58575rem -.9375rem;
        max-width: 500px;
    }
    img.at-logo-nav {
        display: none;
    }
}

a.navbar-brand {
    margin-top: -5%;
}

a {
    color:inherit;
    @include green-hover;
    text-decoration: none;
    &:focus , &:hover{
      text-decoration: none !important;
      color:$avo-green !important;
    }
}

.influencer-card {
    min-width: 950px;
    margin-top: -36px;
    margin-bottom: -12px;
}

button.navbar-toggle.collapsed {
    background-color: transparent;
    border: 0;
}

.nav-href {
    display: inline;
    text-transform: uppercase;
    font-size: 14.5px;
    font-family: $main-font;
    padding-right: 40px;
    letter-spacing: 1.3px;
}

.login {
    border: 1px solid white;
    padding: 5px 15px;
    font-size: 14.5px;
    font-family: $main-font;
}

ul.nav.navbar-nav {
    padding: 25px;
}

nav.navbar.navbar-default.navbar-fixed-top {
    padding-top: 1%;
    background: transparent;
}


/*banner text agency main page view*/

.agency-header {
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Montserrat', '700', sans-serif;
    position: relative;
    bottom: 114px;
    padding-left: 14%;
    color: white;
    font-weight: bold;
}

.agency-header-det {
    font-size: 20pt;
    position: relative;
    bottom: 325px;
    color: white;
    text-transform: uppercase;
    max-width: 1100px;
    padding-left: 14%;
    font-family: 'montserratlight', sans-serif;
}

a.view-btn {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 10px 30px;
    background-color: $avo-green;
    font-family: $main-font;
    position: relative;
    margin-left: 75%;
    top: -365px;
    font-size: 16px;
}

.container.agency-section {
    margin-top: -215px;
}

.col-xs-6.first-sect-pic {
    padding-right: 0;
}


/*first section */

.powerful-tool {
    font-size: 34px;
    max-width: 350px;
    color: $header-grey;
    font-family: $main-font;
    line-height: 43px;
    letter-spacing: 1px;
    margin-left: 30%;
    margin-top: 12%;
}

.powerful-tool-info {
    max-width: 400px;
    font-size: 18px;
    color: $header-grey;
    font-family: $main-font;
    margin-top: 2%;
    margin-left: 30%;
}


/*second section */

.discover-word {
    font-size: 34px;
    max-width: 525px;
    line-height: 47px;
    letter-spacing: 0.5px;
    font-family: $main-font;
    color: $header-grey;
    padding-top: 25%;
    padding-bottom: 2%;
    padding-left: 20%;
}

.discover-details {
    font-size: 18px;
    padding-left: 20%;
    font-family: $main-font;
    color: $header-grey;
    max-width: 545px;
    letter-spacing: 0.1px;
}

.row.first-sect {
    margin-top: -15%;
    padding-bottom: 4%;
}

.row.second-sect {
    background-color: rgb(245, 245, 245);
}

.col-xs-6.second-sec-col {
    margin-bottom: -3%;
}

.row.third-sect {
    text-align: center;
}


.signup-btn {
    @extend .primary-button;

    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 12px 20px;
}

.sign-up{
    @extend .primary-button;


}


.row.third-sect {
    padding-top: 5%;
}

.button-protect {
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    padding-top: 3%;
    padding-bottom: 3%;
}


/*footer section */

footer.avocado-footer {
    padding: 50px 150px;
}

.footer-title,
.footer-offices-title {
    font-family: 'montserratsemibold', sans-serif;
    text-transform: uppercase;
    color: #4E4E4E;
}

li.footer-title {
    padding-bottom: 5%;
}

.footer-offices-title {
    padding-bottom: 1%;
}

.address {
    font-size: 15px;
    font-family: $main-font;
    color: #4E4E4E;
}

img.newyork-map {
    margin-top: -50px;
}

.office-loc {
    display: inline-block;
    margin-top: 1%;
}

.new-york {
    font-size: 19px;
    text-transform: uppercase;
    font-family: 'montserratsemibold', sans-serif;
    color: #4E4E4E;
    display: inline;
}

li.footer-links {
    font-family: $main-font;
    color: #5F5F5F;
    text-transform: capitalize;
    padding-bottom: 2%;
}

@media (max-width:700px) {
    .logo-mobile {
        background: url(assets/images/fb-white.png);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 12%;
        position: relative;
        top: -30px;
    }
}


/*laptop screen size*/

@media(min-width:975px) and (max-width:1250px) {
    .agency-header-det {
        padding-left: 14%;
        font-size: 15pt;
        bottom: 240px;
        max-width: 800px;
    }
    .agency-header {
        font-size: 55pt;
        bottom: 84px;
        padding-left: 14%;
    }
    a.view-btn {
        font-size: 14px;
        padding: 8px 20px;
        top: -270px;
    }
    .container.agency-section {
        margin-top: -165px;
    }
    .powerful-tool-info {
        margin-left: 25%;
        font-size: 16px;
    }
    .powerful-tool {
        font-size: 30px;
        line-height: 38px;
        margin-left: 25%;
        margin-top: 14%;
    }
    .row.first-sect {
        margin-top: -16%;
    }
    img.img-responsive.discover-screen {
        min-width: 525px;
    }
    img.influencer-card {
        min-width: 710px;
        margin-top: -27px;
    }
    .discover-word {
        font-size: 28px;
        max-width: 440px;
        line-height: 35px;
        padding-top: 25%;
        padding-left: 25%;
    }
    .discover-details {
        font-size: 16px;
        padding-left: 25%;
        max-width: 475px;
        line-height: 24px;
    }
    .col-xs-6.second-sec-col {
        margin-bottom: -39px;
    }
    .row.second-sect {
        padding-bottom: 1%;
    }
    .powerful-tool {
        margin-top: 7%;
    }
    footer.avocado-footer {
        padding: 50px 50px;
    }
    .text-container {
        position: relative;
        top: 170px;
    }
    ul.nav.navbar-nav {
        padding: 20px;
    }
    a.start-btn {
        font-size: 12px;
        padding: 12px 10px 12px 15px;
    }
    .learn-more.shadow {
        font-size: 13px;
    }
    div.main-banner-header {
        font-size: 28px;
        max-width: 375px;
    }
    div.main-banner-det {
        font-size: 18px;
        line-height: 35px;
    }
    div.dashboard-img-div {
        top: -507px;
    }
    .software-head {
        font-size: 24px;
        padding-left: 14%;
        padding-left: 14%;
        max-width: 0;
        margin-bottom: 3%;
    }
    .first-sect-header {
        margin-top: -32%;
    }
    .influencers-first.sm-lapt,
    .brands-second.sm-lapt,
    .agency-third.sm-lapt {
        font-size: 14px;
        min-height: 140px;
    }
    a.learn-more-btn {
        font-size: 13px;
    }
    div.software-head {
        font-size: 21px;
        padding-left: 12%;
        padding-right: 12%;
        max-width: 1000px;
        margin-bottom: 4%;
    }
    img.analytics-mockup {
        margin-top: -15px;
        min-width: 575px;
        margin-left: 3%;
    }
    div.second-sect-word {
        padding-left: 14%;
        font-size: 24px;
        max-width: 350px;
        line-height: 32px;
    }
    div.second-word-det {
        padding-left: 14%;
        font-size: 14px;
        line-height: 21px;
        max-width: 350px;
        position: relative;
        top: -25px;
    }
    .many-toast-icon {
        margin-bottom: -1px;
    }
}


/*main page index*/

.main-nav-dark {
    color: rgb(99, 99, 99);
}

.border-dark {
    border: 2px solid rgb(97, 97, 97);
    border-radius: 2px;
}

.center-ul {
    margin-left: 10%;
}

.main-banner-header {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 34px;
    color: black;
    position: relative;
    padding-left: 12%;
    max-width: 450px;
    top: -590px;
    line-height: 37px;
    letter-spacing: 1px;
}

.main-banner-det {
    font-size: 22px;
    position: relative;
    color: black;
    top: -570px;
    letter-spacing: 1px;
    padding-left: 12%;
    line-height: 48px;
    font-family: 'montserratsemibold', sans-serif;
}

i.icon.wb-plus.list-icon.avo {
    font-size: 20px;
    color: rgb(124, 202, 152);
}

.start-button-div {
    position: relative;
    top: -525px;
}

.start-btn {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 14px 23px;
    background-color: #73c48d;
    font-family: 'montserratlight', sans-serif;
    margin-left: 12%;
    font-size: 17px;
}

.learn-more {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: $main-font;
    color: rgb(99, 99, 99);
    margin-left: 2%;
}

.shadow {
    box-shadow: inset 0 0px 0 white, inset 0 -1.5px 0 rgb(99, 99, 99);
    padding-bottom: 1px;
}

.shadow-grey {
    box-shadow: -1px 5px 13px 1px #E6E6E6;
    -webkit-box-shadow: -1px 5px 13px 1px #E6E6E6;
    -moz-box-shadow: -1px 5px 13px 1px #E6E6E6;
    -o-box-shadow: -1px 5px 13px 1px #E6E6E6;
}

.dashboard-img-div {
    display: inline;
    position: relative;
    top: -458px;
}

i.icon.wb-plus.list-icon.avo.med {
    font-size: 14px;
}

.dashboard-img {
    position: relative;
    margin: 63px auto;
    left: calc(175px);
    width: calc(100% - 290px);
}

.software-head {
    font-family: $main-font-semi;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding-left: 20%;
    padding-right: 20%;
    color: black;
    margin-bottom: 4%;
    margin-top: -9%;
    max-width: 1450px;
}

span.software {
    color: #73c48d;
}

.first-sect-header {
    margin-top: -22%;
}

.second-sect-index {
    background-color: rgb(245, 245, 245);
    padding-top: 8%;
    padding-bottom: 4%;
}

.analytics-mockup {
    margin-top: -25px;
    min-width: 830px;
    margin-left: 7%;
}

.number-02 {
    font-size: 170px;
    margin-left: 2%;
    font-family: $main-font-semi;
    letter-spacing: 3px;
    color: rgb(225, 224, 225);
}

.box-words {
    z-index: 1;
    padding-left: 5%;
    position: relative;
    top: -15px;
}

.second-index-col {
    z-index: 2;
}

.second-sect-word {
    padding-left: 10%;
    font-size: 28px;
    max-width: 400px;
    line-height: 35px;
    letter-spacing: 1px;
    position: relative;
    top: -40px;
    font-family: $main-font;
    color: rgb(70, 70, 70);
}

.second-word-det {
    padding-left: 10%;
    font-family: $main-font;
    color: rgb(70, 70, 70);
    line-height: 25px;
    max-width: 400px;
    font-size: 17px;
    margin-top: -3%;
}

.third-sect-index {
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 8%;
}

.influencers-first,
.brands-second,
.agency-third {
    font-size: 16px;
    color: rgb(70, 70, 70);
    font-family: $main-font;
    min-height: 135px;
    padding-left: 3%;
    padding-right: 3%;
}

.icons-title {
    color: rgb(62, 62, 62);
    font-size: 20px;
    font-family: $main-font;
    padding-bottom: 2%;
}

.icon-section {
    text-align: center;
}

.learn-more-btn {
    font-size: 16px;
    letter-spacing: 1.5px;
    padding: 5px 10px;
    border: 1px solid black;
    color: rgb(70, 70, 70);
    font-family: $main-font;
}

.toast-icon,
.avocado-icon {
    min-height: 104px;
}



.col-xs-6.form-col {
    width: 35%;
    margin-top: 3%;
    margin-left: 14%;
    margin-right: -14%;
}

.form-control {
    font-size: 20px;
    /*Commenting out text transform due to the fact that it is confusing to UX. Let me know if this is confusing -- Trump
   text-transform: uppercase;*/
    letter-spacing: 2px;
    font-family: $secondary-font;
    color: #515862;
}

#field {
    margin-bottom: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.get-started-btn {
    @extend .primary-button;
    letter-spacing: 1.5px;
    font-family: $main-font;
    padding: 14px 23px;
    width: 100%;
}


/*large screen size */

@media (min-width:1500px) and (max-width:2600px) {}


/*large screen size */

@media(min-width:1500px) and (max-width:2600px) {
    .agency-header-det {
        padding-left: 14%;
        max-width: 1450px;
        font-size: 26pt;
        bottom: 455px;
    }
    .agency-header {
        font-size: 105pt;
        bottom: 160px;
        padding-left: 14%;
    }
    a.view-btn {
        font-size: 20px;
        top: -510px;
        padding: 19px 37px;
        display: none;
    }
    .container.agency-section {
        margin-top: -300px;
    }
    ul.nav.navbar-nav.navbar-right.login-sect {
        margin-right: 1%;
    }
    .powerful-tool {
        font-size: 46px;
        max-width: 550px;
        line-height: 50px;
    }
    .powerful-tool-info {
        font-size: 24px;
        max-width: 575px;
    }
    .discover-word {
        font-size: 44px;
        max-width: 675px;
        padding-top: 12%;
        max-width: 500px;
        padding-left: 0;
    }
    .discover-details {
        font-size: 24px;
        max-width: 550px;
        padding-left: 0;
    }
    .row.second-sect {
        padding-bottom: 1%;
    }
}

@media(min-width:1650px) and (max-width:2600px) {
    .main-banner-header.large {
        font-size: 46px;
        line-height: 50px;
        max-width: 650px;
    }
    .main-banner-det {
        font-size: 30px;
    }
    i.icon.wb-plus.list-icon.avo.lg {
        font-size: 28px;
    }
    .text-container {
        top: -230px;
        position: relative;
    }
    .dashboard-img-div {
        top: -280px;
    }
    .software-head.lg {
        font-size: 32px;
        max-width: none;
        margin-top: 0;
    }
    div.number-02 {
        font-size: 225px;
        margin-left: -12%;
        letter-spacing: 6px;
    }
    .second-sect-word {
        padding-left: 6%;
        font-size: 44px;
        max-width: 600px;
        line-height: 48px;
    }
    .second-word-det {
        padding-left: 6%;
        font-size: 20px;
        line-height: 30px;
        max-width: 460px;
        margin-top: -2%;
    }
    .icons-title {
        font-size: 26px;
    }
    .agency-third,
    .brands-second,
    .influencers-first {
        font-size: 18px;
    }
    .avocado-icon,
    .toast-icon,
    .many-toast-icon {
        min-height: 130px;
    }
}

@media(min-width:600px) and (max-width:974px) {
    ul.nav.navbar-nav.avocado-ul.center-ul {
        padding: 10px;
    }
    ul.nav.navbar-nav {
        padding: 0;
        margin-left: 4%;
    }
    .main-banner-header {
        font-size: 23px;
        line-height: 30px;
        padding-left: 5%;
        top: -280px;
        max-width: 250px;
    }
    .main-banner-det {
        padding-left: 5%;
        top: -278px;
        line-height: 28px;
        font-size: 16px;
    }
    .second-sect-index {
        padding-bottom: 0;
    }
    .start-button-div {
        top: -256px;
    }
    .start-btn {
        font-size: 13px;
        margin-left: 5%;
        padding: 11px 7px 10px 12px;
    }
    .nav-href,
    .login {
        font-size: 12.5px;
        color: black;
    }
    .learn-more,
    .software-head {
        font-size: 14px;
    }
    .dashboard-img-div {
        top: -235px;
    }
    .analytics-mockup {
        margin-top: -30px;
        margin-left: 0;
        min-width: 0;
        width: 113%;
    }
    .number-02 {
        font-size: 110px;
        margin-left: -10%;
        margin-top: 5%;
    }
    .second-sect-word {
        font-size: 22px;
        line-height: 29px;
        padding-left: 7%;
    }
    .second-word-det {
        font-size: 14px;
        padding-left: 7%;
        margin-top: -9%;
        line-height: 20px;
    }
    .avocado-icon,
    .toast-icon,
    .many-toast-icon {
        max-height: 85px;
        min-height: 0;
    }
    .many-toast-icon {
        max-height: 84px;
    }
    .influencers-first,
    .brands-second,
    .agency-third {
        font-size: 13px;
        min-height: 165px;
    }
    .learn-more-btn {
        font-size: 12px;
    }
    .learn-more-btn-div {
        padding-top: 2%;
    }
    footer.avocado-footer {
        padding: 50px 50px;
    }
    .footer-links {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .white-logo {
        width: 85%;
    }
    .agency-header-det {
        font-size: 16pt;
        bottom: 280px;
        max-width: 700px;
    }
    .agency-header {
        font-size: 80px;
        bottom: 114px;
        padding-left: 5%;
    }
    a.view-btn {
        margin-left: 70%;
        top: -242px;
    }
    .col-xs-6.powerful-col {
        width: 43%;
    }
    .powerful-tool {
        font-size: 26px;
        max-width: 350px;
        line-height: 36px;
        margin-left: 11%;
        margin-top: 17%;
    }
    .powerful-tool-info {
        min-width: 290px;
        font-size: 16px;
        margin-left: 12%;
        margin-top: 3%;
    }
    .influencer-card {
        min-width: 600px;
        margin-left: -12%;
        margin-top: 34px;
    }
    .discover-screen {}
    .row.first-sect {
        margin-top: -24%;
        padding-bottom: 5%;
    }
    .discover-details {
        font-size: 16px;
    }
    .discover-word {
        font-size: 28px;
        padding-top: 44%;
    }
    .signup-header {
        font-size: 68px;
        margin-top: 15%;
    }
    .col-xs-6.form-col {
        width: 40%;
        margin-left: 10%;
        margin-right: -10%;
    }
    #field {
        padding-top: 9%;
        padding-bottom: 9%;
        margin-bottom: 4%;
    }
}

@media (min-width:738px) and (max-width:3000px) {
    i.icon.wb-menu {
        display: none;
    }
}


/*iphone 5*/

@media (min-width:1px) and (max-width:359px) {
    ul.nav.navbar-nav {
        padding: 0;
    }
    .dashboard-img {
        display: none;
    }
    .row.avocado-row {
        position: initial;
    }
    .navbar-toggle {
        padding-top: 5%;
    }
    .third-sect-index {
        padding-left: 0;
        padding-right: 0;
    }
    .software-head {
        font-size: 14px;
        padding-left: 0;
        padding-right: 0;
    }
    .first-sect-header {
        margin-top: -20%;
        margin-bottom: 3%;
    }
    .start-btn {
        font-size: 9px;
        margin-left: 4%;
        padding: 7px 5px 7px 10px;
    }
    .learn-more {
        font-size: 10px;
    }
    .start-button-div {
        top: -115px;
    }
    .main-banner-header {
        font-size: 16px;
        padding-left: 4%;
        max-width: 150px;
        top: -135px;
        line-height: 12px;
    }
    .main-banner-det {
        font-size: 12px;
        top: -125px;
        padding-left: 4%;
        line-height: 18px;
        letter-spacing: 0px;
    }
    img.at-logo-nav {
        width: 75%;
    }
    .navbar-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .analytics-mockup {
        min-width: 0;
        margin-left: 0;
        margin-top: 10px;
    }
    .number-02 {
        font-size: 115px;
    }
    .box-words {
        top: -42px;
    }
    .second-sect-word {
        font-size: 25px;
    }
    .second-word-det {
        font-size: 16px;
        position: relative;
        top: -30px;
    }
    .icon.wb-menu {
        position: relative;
        right: -6px;
    }
    .button-protect {
        padding-top: 6%;
        padding-bottom: 6%;
    }
    footer.avocado-footer {
        padding: 10px 10px;
    }
    .footer-links {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .footer-offices-title {
        padding-top: 10%;
    }
    img.white-logo {
        display: none;
    }
}

@media (min-width:360px) and (max-width:411px) {
    ul.nav.navbar-nav {
        padding: 0;
    }
    .dashboard-img {
        display: none;
    }
    .third-sect-index {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-toggle {
        padding-top: 4%;
    }
    .row.avocado-row {
        position: initial;
    }
    .software-head {
        font-size: 16px;
        padding-left: 0;
        padding-right: 0;
    }
    .first-sect-header {
        margin-top: -20%;
        margin-bottom: 3%;
    }
    .start-btn {
        font-size: 11px;
        margin-left: 3%;
        padding: 8px 5px 8px 10px;
    }
    .learn-more {
        font-size: 12px;
    }
    .start-button-div {
        top: -125px;
    }
    .main-banner-header {
        font-size: 19px;
        padding-left: 3%;
        max-width: 178px;
        top: -155px;
        line-height: 18px;
    }
    .main-banner-det {
        font-size: 14px;
        top: -145px;
        padding-left: 3%;
        line-height: 18px;
        letter-spacing: 0px;
    }
    img.at-logo-nav {
        width: 75%;
    }
    .navbar-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .analytics-mockup {
        min-width: 0;
        margin-left: 0;
        margin-top: 10px;
    }
    .number-02 {
        font-size: 120px;
    }
    .box-words {
        top: -42px;
    }
    .second-sect-word {
        font-size: 25px;
    }
    .second-word-det {
        font-size: 16px;
        position: relative;
        top: -30px;
    }
    .icon.wb-menu {
        position: relative;
        right: -6px;
    }
    .button-protect {
        padding-top: 6%;
        padding-bottom: 6%;
    }
    footer.avocado-footer {
        padding: 10px 10px;
    }
    .footer-links {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .footer-offices-title {
        padding-top: 10%;
    }
    img.white-logo {
        display: none;
    }
}

@media (min-width:412px) and (max-width:699px) {
    ul.nav.navbar-nav {
        padding: 0;
    }
    .dashboard-img {
        display: none;
    }
    .analytics-mockup {
        margin-top: 0;
        min-width: 0;
        margin-left: 0;
    }
    .row.avocado-row {
        position: initial;
    }
    footer.avocado-footer {
        padding: 10px 10px;
    }
    .navbar-toggle {
        padding-top: 4%;
    }
    .footer-links {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    img.newyork-map {
        margin-top: 0;
    }
    .icon-section {
        padding-bottom: 15px;
    }
    .first-sect-header {
        margin-top: -28%;
    }
    img.at-logo-nav {
        width: 75%;
    }
    .software-head {
        font-size: 18px;
        padding-left: 0;
        padding-right: 0;
    }
    .main-banner-header {
        font-size: 23px;
        padding-left: 3%;
        max-width: 170px;
        top: -185px;
        line-height: 20px;
    }
    .main-banner-det {
        font-size: 14px;
        top: -176px;
        padding-left: 3%;
        line-height: 22px;
        letter-spacing: 0px;
    }
    .start-button-div {
        top: -154px;
    }
    .start-btn {
        font-size: 13px;
        margin-left: 3%;
        padding: 8px 5px 8px 10px;
    }
    .learn-more {
        font-size: 13px;
    }
    .number-02 {
        font-size: 120px;
    }
    .box-words {
        top: -40px;
    }
    .second-sect-index {
        padding-bottom: 0;
    }
    .second-sect-word {
        padding-left: 4%;
        top: -30px;
    }
    .button-protect {
        padding-top: 6%;
        padding-bottom: 6%;
    }
    .second-word-det {
        font-size: 16px;
        top: -20px;
        position: relative;
        padding-left: 4%;
    }
    img.white-logo {
        display: none;
    }
    .agency-header {
        font-size: 58px;
        padding-left: 3%;
        bottom: 70px;
        font-family: 'montserratsemibold';
    }
    .agency-header-det {
        font-size: 14pt;
        padding-left: 7%;
    }
    a.view-btn {
        margin-left: 7%;
        top: -290px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    /*iphone 6 landscape */
    .navbar-toggle {
        padding-top: 17px;
    }
    img.at-logo-nav {
        margin-top: 5%;
    }
    .main-banner-header {
        font-size: 28px;
        max-width: 200px;
        top: -300px;
        line-height: 24px;
    }
    .main-banner-det {
        font-size: 18px;
        top: -290px;
        line-height: 25px;
    }
    .start-button-div {
        top: -270px;
    }
    .dashboard-img {
        width: calc(100% - 97px);
    }
    .dashboard-img-div {
        top: -267px;
        right: 65px;
    }
    .second-word-det {
        top: 0px;
    }
    .influencers-first,
    .brands-second,
    .agency-third {
        min-height: 181px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .main-banner-header {
        top: -255px;
        max-width: 250px;
        line-height: 22px;
    }
    .main-banner-det {
        top: -250px;
        line-height: 25px;
    }
    .start-button-div {
        top: -235px;
    }
    .dashboard-img-div {
        top: -218px;
    }
}


/*settings page */

.form-control {
    letter-spacing: 0px;
    color: #515862;
    font-size: 15px;
}

.title {
    color: rgb(29, 40, 76);
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    font-weight: 600;
}

.settings {
    text-align: center;
    margin-top: 5%;
}

.settings-box {
    margin-top: 15%;
}

.input-container {
    /*margin-left: 3%;*/
}

.uploaded-img-square {
    background-color: lightgray;
    width: 150px;
    height: 150px;
}

.upload-img {
    display: -webkit-box;
    margin-top: 10%;
}

.profile-title {
    margin-left: 10%;
    font-family: 'Open Sans', sans-serif;
    display: -webkit-inline-box;
    color: rgb(29, 40, 76);
    text-transform: uppercase;
    font-weight: 600;
}

.upload-img-btn {
    border: 1px solid #30363F;
    padding: 7px 20px;
    background-color: transparent;
    border-radius: 3px;
    display: -webkit-inline-box;
    color: rgb(29, 40, 76);
    margin-left: 10%;
    margin-top: 8%;
}

textarea.form-control.category.avocado-focus {
    height: 40px;
}

.small-col {
    height: 100%;
    border-right: 1px solid rgb(210, 215, 220);
}

.update-profile-btn {
   @extend .primary-button;
    height: 50px;

}

.switch-div {
    margin-bottom: 5%;
}

.input-container.email-setting {
    margin-top: 5%;
}


@media(min-width:900px) and (max-width:1100px) {
    .settings-box {
        margin-left: 25%;
    }
}

@media(min-width:600px) and (max-width:899px) {
    .settings-box {
        margin-left: 30%;
    }
    .settings {
        margin-top: 12%;
    }
}

@media(min-width:300px) and (max-width:599px) {
    .settings-lg-col {
        width: 55%;
        margin-left: 5%;
        margin-top: 3%;
    }
    .small-col {
        width: 40%;
    }
    .settings {
        margin-top: 25%;
    }
    .settings-box {
        margin-left: 35%;
    }
    .uploaded-img-square {
        display: -webkit-inline-box;
    }
    .profile-title {
        font-size: 11px;
        float: right;
    }
    .update-profile-btn {
        height: 40px;
        width: 150px;
    }
    .title {
        width: 120px;
    }
    .sidebar-left {
        /*margin-top: 66px;*/
    }
}
