/*styling for avocado-get-influencers.php */

$baseFont :'Montserrat',
sans-serif;
.info-container {
    height: 220px;
}

.campaign-info {
    margin-top: 2%;
}

.camapaign-label-container {
    float: left;
    margin-left: 9%;
    .campaign-label-div {
        margin-bottom: 5%;
    }
}

.campaign-info-index {
    margin-top: -20px;
    text-align: justify;
    direction: rtl;
    padding-right: 5%;
}

@media (max-width:767px) {
    .campaign-info-index {
        margin-top: 0.5%;
    }
}

.info-button {
    float: right;
    font-family: $baseFont;
    margin-top: 1%;
    margin-bottom: 2%;
    height: 45px;
    margin-right: 15px;
    max-width: 185px;
    width: calc(100% - 40px);
    &:focus {
        outline: none;
    }
}

.save-btn {
    font-family: $baseFont;
    height: 36px;
    background-color: white;
    border: 1px solid #30363F;
    padding: 9px 12px;
    margin-left: -2px;
    float: left;
}

i.icon.ti-plus.black-plus {
    color: #30363F;
    font-weight: 800;
    font-size: 14px;
}

.select-campaign-container {
    position: relative;
    right: calc(100% - 384px);
}

#campaign-select-text {
    width: 165px;
    font-family: $baseFont;
}

select.form-control.category.avocado-focus.campaign-dropdown.col-xs-12 {
    width: 145px;
}

.index-name {
    font-size: 16px;
}

.posts-green {
    color: #73c48d;
}

.impression-blue {
    color: rgb(50, 157, 223);
}

.engagement-orange {
    color: rgb(255, 139, 104);
}

.social-following-red {
    color: rgb(231, 72, 69);
}

.campaign-desc-label {
    float: left;
    margin-left: 12.5%;
    margin-top: 3%;
    color: #30363F;
}

.campaign-desc-textarea {
    height: 50px;
    width: 70%;
    margin-left: 12.5%;
    margin-top: 1%;
    float: left;
}

#apply {
    height: 40px;
    width: 180px;
    font-size: 15px;
    font-family: $baseFont;
    margin-right: 46%;
}

#apply:focus {
    outline: none;
}

.table-bordered {
    border: 1px solid rgba(243, 246, 246, 1);
}

.table-responsive {
    overflow-x: hidden;
    margin-top: -5%;
}

td.insta-column,
td.twit-column,
td.face-column,
td.influencer-column {
    border-left: hidden;
    border-right: hidden;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    position: relative;
}

td.influencer-column {
    .influencer-info-container {
        max-width: 180px;
        padding-top: 5px;
    }
    .influencer-campaign-image {
        max-width: 65px;
        max-height: 65px;
        width: 100%;
        height: 100%;
        float: left;
    }
    .influencer-handle-text {
        font-size: 15px;
        color: #30363F;
        font-weight: 100;
        padding-left: 12px;
        &.handle {
            margin-right: -25px;
        }
    }
}

.post-results-container {
    color: #1f232a;
    margin-top: -7%;
    font-size: 12px;
    margin-left: -7%;
    font-family: $baseFont;
}

.results-mini-col {
    text-align: -webkit-right;
    margin-top: -30%;
    margin-right: 15%;
    font-size: 16px;
    font-family: 'montserratsemibold';
}

tr.influencer-result-row {
    text-align: center;
    border-bottom: 1px solid #efefef;
}

th.text-center {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'montserratsemibold';
    color: rgba(29, 44, 76, 1);
    padding-top: 2%;
    padding-bottom: 2%;
    letter-spacing: 0.5px;
    border-left: hidden;
    border-right: hidden;
    border-top: 1px solid rgb(210, 215, 220);
}

@media (min-width:800px) and (max-width:1000px) {
    .results-mini-col {
        margin-top: -33%;
    }
}

@media (min-width:1001px) and (max-width:1200px) {
    .results-mini-col {
        margin-top: -29%;
    }
    .index-name {
        font-size: 14px;
    }
    .campaign-info-index {
        margin-top: -60px;
    }
}

@media (min-width:1201px) and (max-width:1399px) {
    .index-name {
        font-size: 14px;
    }
}

@media (min-width:1400px) and (max-width:1650px) {
    .results-mini-col {
        margin-top: -24%;
    }
    .post-results-container {
        margin-top: -5%;
        margin-left: -6%;
    }
}

@media (min-width:1651px) and (max-width:1850px) {
    .results-mini-col {
        margin-top: -22%;
        margin-right: 18%;
    }
    .post-results-container {
        margin-top: -5%;
        margin-left: -5%;
    }
}

@media (min-width:1851px) and (max-width:2100px) {
    div.results-mini-col {
        margin-top: -19%;
        margin-right: 23%
    }
    div.post-results-container {
        margin-top: -5%;
        margin-left: -5%;
    }
}

@media (min-width:2101px) and (max-width:3100px) {
    .results-mini-col {
        margin-top: -17%;
        margin-right: 22%
    }
    .post-results-container {
        margin-top: -4%;
        margin-left: -18px;
    }
}

.secondary-button {
    border: 1px solid #30363F;
    color: #30363F;
    background-color: white;
}

.main-button {
    color: white;
    background-color: #73C48D;
    border: 0px;
    &:hover {
        outline: none !important;
        border: 1px solid #73C48D;
        box-shadow: 0 0 10px #73C48D;
    }
}

.secondary-button:hover {
    outline: none !important;
    border: 1px solid #73C48D;
    color: #73C48D;
    box-shadow: 0 0 10px #73C48D;
}

.campaign-select {
    padding-top: 20px;
    .campaign-calc-btn-container {
        width: calc(100% - 48px);
    }
}

.campaign-dropdown {
    display: inline;
    width: 20%;
}

.go-back-btn-div,
.user-campaign-name,
.user-campaign-inf-count {
    display: inline-block;
}

.go-back-btn-div,
.user-campaign-name {
    font-family: 'montserratlight';
}

.campaign-inf-count,
.user-campaign-inf-count {
    font-family: 'montserratsemibold';
}

.back-btn {
    font-size: 15px;
    text-transform: uppercase;
    color: #30363F;
    padding: 10px 35px 10px 35px;
    border: 1px solid black;
}

.go-back-btn-div {
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: 1%;
    vertical-align: -webkit-baseline-middle;
}

.user-campaign-name {
    font-size: 28px;
    margin-left: 2%;
    margin-right: 2%;
    color: #515862;
    vertical-align: sub;
}

.campaign-inf-count {
    font-size: 4rem;
    color: #73C490;
}

.user-campaign-inf-count {
    font-size: 16px;
    color: #30363F;
    vertical-align: sub;
}

#campaign-select-text {
    color: #30363F;
    padding-left: 25px;
    display: inline;
    padding-top: 7px;
}

.post-container {
    padding-left: 4%;
    padding-right: 4%;
}

.number-posts-text {
    color: #30363F;
    font-size: 12px;
    display: inline;
    padding-left: 10px;
}

.influencer-campaign-image {
    max-width: 65px;
    max-height: 65px;
    width: 100%;
    height: 100%;
    float: left;
}

.campaignfocus {
    font-weight: 600;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 3em;
    width: 110px;
    color: #73c48d;
    font-family: $baseFont;
    &:focus {
        outline: none;
        background-color: transparent;
        color: rgba(0, 0, 44, 0.37);
    }
}

.result-row {
    border-top: 1px solid rgb(210, 215, 220);
}

.result-name {
    font-size: 16px;
    font-family: $baseFont;
    color: #515862;
}

.results-text {
    color: #73C48D;
    font-family: 'montserratsemibold';
    font-size: 3em;
    padding-right: 17px;
    font-weight: 600;
}

tbody {
    border-top: 1px solid rgb(210, 215, 220);
}

#campaign-label {
    font-family: $baseFont;
    color: #30363F;
    padding-right: 10px;
}

#campaign-name {
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 24px;
    color: #A2A8B1;
    &:focus {
        outline: none;
    }
}