@import 'utility';

.dashboard-table {
  margin-left: 1%;
}

a:hover {
   text-decoration: none;
}

#allcampaigns {
  font-size:22px;
  font-family: $secondary-font;
  color: #515862;
  letter-spacing: 1px;
}

.divider-top {
  border-bottom: 1px solid rgb(210, 215, 220);
  padding-bottom: 20px;
  border-right: 1px solid rgb(210, 215, 220);
}

#campaign-details {
  position: fixed;
  width: 100%;
  border-left: 1px solid rgb(210, 215, 220);
  margin-left: -14px;
  padding-left: 14px;
  margin-bottom: 20px;
  padding-bottom: 100%;
}

td.campaign-details.name {
  text-overflow: ellipsis;
  overflow: hidden;
}

.stats {
  color: $avo-green;
  font-family: $main-font-semi;
  font-size: 35px;
  font-weight: 600;
  // padding-top: 10px;
  width: 16%;
}


.button-stats {
  width: 17%;
}

.button-stats-bt {
  width: 100%;
  max-width: 145px;
  height: 35px;
  border: 0px;
  font-size: 12px;
  margin-right: 5px;
  font-family: $main-font-skinny;
}

.label-info {
  color: rgb(29, 40, 76);
  font-weight: 600;
  font-size: 15px;
  font-family: $secondary-font;
  padding-bottom: 10px;
}

.campaign-block {
  border-bottom: 1px solid rgb(210, 215, 220);
  padding-bottom: 10px;
  padding-top: 0px;
  border-right: 1px solid rgb(210, 215, 220);
  &:hover {
  background-color: #eaeaea;
    }
}

#campaign-title {
  color: rgb(29, 40, 76);
  font-size: 20px;
  font-family: $secondary-font;

}

.title {
  font-weight: 600;
  font-family: $secondary-font;
  font-size: 15px;
  color: rgb(29, 40, 76);
}

#summary {
  color: #515862;
  font-size: 13px;
  width: 70%;
}

.option-button {
  border: 1px solid black;
  border-radius: 0px;
  background-color: white;
  font-size: 13px;
  font-family: $main-font;
  padding-left: 1px;
  margin-right: 5px;
  height: 40px;
  width: 130px;
}


i.icon.pe-trash.list-dashboard {
  text-align: -webkit-center;
  font-size: 21px;
  width: 150px;
  font-weight: bold;
  color: $header-grey;
}

.view-button-area {
  vertical-align: bottom;
}

.view-campaign-btn {
  width: 130px;
  height: 35px;
}

.campaign-block {
  background-color: #fcfcfc;
}

button:focus {
  outline: none;
}

.campaign-details {
  font-size: 17px;
  color: rgb(29, 40, 76);
  font-family: $secondary-font;
  padding-top: 30px;
}


/*Are you sure delete button pop up */
.modal-content.delete {
  min-height: 230px;
  max-width: 500px;
}


.delete-icon-popup-div{
  margin-top: 10%;
  text-align: -webkit-center;
}
.trash-icon {
  max-width: 80px;
  margin-top: 4%;
  margin-left: 5%;
  &.margin{
    margin-top: 6%;
    margin-bottom: 1%;
  }
}
.delete-list-text{
  font-size: 26px;
}

.delete-popup-detail {
  text-transform: uppercase;
  font-size: 18px;
  color: black;
}
.delete-btn-div{
  padding-top: 2%;
  margin-bottom: 3%;
}

.delete-yes.primary-button {
background: rgb(226,92,101);
}

.delete-yes, .delete-no {
  width: 130px;
  height: 35px;
  margin-left: 1%;
}
/*Laptop to Tablet */

@media only screen and (max-width: 1024px) and (min-width:768px) {
  .stats {
  font-size: 30px;
    }
  .campaign-details {
  font-size: 15px;
    }
    .label-info {
  font-size: 15px;
  }
}

/*Laptop to a smaller size. Still large enough to keep all info on screen but we have to make it just a bit smaller. */

@media only screen and (max-width: 768px) and (min-width:600px) {
    .stats {
    font-size: 20px;
    width: 22%;
    }
    .campaign-details,
    .label-info {
    font-size: 13px;
    }
}


/*Anything smaller then we start getting rid of some information */

@media only screen and (max-width: 600px) {
    .stats {
  font-size: 20px;
    }
    .campaign-block {
    padding: 0;
    }
    .campaign-details {
    padding-top: 2.5%;
    }
    .campaign-details,
    .label-info {
    font-size: 13px;
    }
    .delete-btn-area {
    width: 20%;
    }
    .blank-td.mobile,
    .stats.mobile-off.impressions,
    .label-info.mobile-off.impressions,
    .label-info.reach,
    .blank-td,
    .blank-td.mobile,
    .stats.reach {
    display: none;
    }
    .button-stats-bt,
    .view-campaign-btn {
    width: 135px;
    font-size: 11px;
    }
}


@media (max-width:480px) {
    .dashboard-table {
    margin-left: 5px;
    }
    .stats{
      font-size: 22px;
    }
    .button-stats-bt {
    width: 91%;
    font-size: 10px;
    }
    .delete-btn-area{
      vertical-align: baseline;
    }
    .label-info{
      vertical-align: text-top;
      padding-bottom: 5%;
    }
    .campaign-details{
      padding-top: 7%;
    }
    td.stats,
    .label-info,
    .campaign-details,
    .delete-btn-area {
    text-align: -webkit-center;
    }
    .campaign-details,
    .delete-btn-area,
    td.campaign-details.name,
    .stats {
    width: 15%;
    max-width: 0;
    }
    .button-stats {
    max-width: 0;
    padding-right: 0;
    width: 20%;
    position: relative;
    top: -15px;

    }
    i.icon.pe-trash.list-dashboard {
    width: 0;
    margin-left: -30%;
    }
  }
