/* Hello folks, sit down and relax because this is the real discover scss sheet */

@import 'utility';

.noUi-connect {
    background: $header-grey;
    box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
    transition: background 450ms;
}


.noUi-handle {
    border-radius: 30px;
    background: $inactive-grey;
    cursor: default;
    width: 20px;
    height: 20px;
    box-shadow: none;
    border: 0px;
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}


.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    left: -17px;
    top: -6px;
    height: 1;
}

.measure-text {
    font-size: 13px;
    font-family: $main-font;
    color: $header-grey;
    font-weight: 600;
    padding-left: 11px;
    min-width: 120px;
    float: left;
    min-width: 150px;
}

#slider-instagram {
    height: 12px;
    margin-top: 5px;
    margin-left: -4%;
    padding-right: 0px;
}

#slider-instagram-engagement {
    height: 12px;
    margin-top: 5px;
    margin-left: -4%;
    padding-right: 0px;
}

#slider-twitter {
    height: 12px;
    margin-top: 5px;
    margin-left: -4%;
    padding-right: 0px;
}

#slider-twitter-engagement {
    height: 12px;
    margin-top: 5px;
    margin-left: -4%;
    padding-right: 0px;
}

#slider-facebook {
    height: 12px;
    margin-top: 5px;
    margin-left: -4%;
    padding-right: 0px;
}

#slider-facebook-engagement {
    height: 12px;
    margin-top: 5px;
    margin-left: -4%;
    padding-right: 0px;
}

.engagement-slider {
    margin-top: 13px;
}


.input-filter {
    border: 0px;
    color: $header-grey;
    padding-left: 0px;
    padding-right: 0px;
    &:focus {
        outline: none;
        background-color: transparent;
    }
}

.tokenfield {
    position: inherit;
    height: 40px !important;
    margin: 0 auto !important;
    max-width: 600px !important;
    border: 1px solid $header-grey;
    border-radius: 1px;
    color: $body-black;
    font-family: $secondary-font;
    min-width: 150px;
    margin-top: 15px !important;
    &.focus {
        outline: none !important;
        border: 1px solid $avo-green;
    }
}



.token {
    border: 1px solid $header-grey !important;
    background-color: white !important;
    color: $header-grey;
    font-family: $secondary-font;
    font-weight: 600;
    &:hover {
        border: 1px solid $avo-green !important;
        color: $avo-green;
    }
}

span.token-label {
    margin-right: 1%;
}

/* Overlay styiling  */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
    a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
        &:hover,
         :focus {
            color: #f1f1f1;
        }
    }
}


@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
        a {
            font-size: 20px;
        }
    }
}

.button-icon-active {
    color: $avo-green;
} 

.description-text {
    padding-bottom: 10px;
    padding-top: 10px;
    color: $inactive-grey;
    font-weight: 100;
    font-size: 13px;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

.discover-header {
    color: #515862;
    text-align: center;
    font-size: 45px;
    font-family: $main-font;
    font-weight: 600;
    letter-spacing: 2px;
}

#engagement-text {
    margin-top: 15px;
}

.filter-button-container {
    padding-bottom: 20px;
}

.filter-text {
    font-size: 20px;
    color: $header-grey;
    font-family: $secondary-font;
    font-weight: 400;
    padding-left: 0px;
    min-width: 135px;
    text-align: center;
}

.filter-input {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 15px;
    height: 40px;
}

.influencer-header {
    color: #515862;
    font-family: $main-font;
    font-weight: 600;
    font-size: 23px;
    padding-left: 12px;
    padding-bottom: 20px;
}

.influencer-results-container {
    height: 360px;
    border-top: 1px solid rgb(210, 215, 220);
    padding-left: 50px;
    padding-top: 20px;
}



#loading {
    display: none;
    top: 31%;
    left: 43%;
    position: fixed;
    z-index: 1001;
}




.button-container {
    text-align: center;
}

.filter-section {
    padding-top: 20px;
}




.search-button {
    width: 300px;
    border-radius: 1px;
    border: 0px;
    color: white;
    background-color: white;
    height: 50px;
    font-size: 16px;
    font-family: $main-font;
    background-color: $avo-green;
    margin-bottom: 30px;
}

.slider-container {
    width: 80%;
    &:after {
        display: table;
        content: "";
        clear: both;
    }
}

.sliders {
    float: left;
    width: 80%;
}

@media only screen and (max-width: 700px) {
    .discover-header {
        font-size: 35px;
    }
    .filter-text {
        font-size: 16px;
    }
    .filter-input {
        max-width: 425px;
    }
    .tokenfield {
        max-width: 425px !important;
    }
    .description-text {
        max-width: 425px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 768px) {
    .measure-text {
        min-width: 0px;
    }
}





@media only screen and (max-width: 767px) {
    .filter-text {
        font-size: 13px;
    }
    .description-text {
        font-size: 11px;
    }
    .influencer-results-container {
        padding-left: 0px;
    }
    .influencer-header {
        text-align: center;
        font-size: 20px;
    }
    .filter-button-container {
        text-align: center;
    }
    .button-icon {
        font-size: 20px;
        padding-left: 20px;
    }
    .measure-text {
        float: none;
        text-align: center;
        padding-left: 0px;
    }
    .sliders {
        float: none;
        margin: 0 auto;
    }
    .slider-container {
        width: 100%;
    }
    .found-influencers {
        padding-right: 0px;
    }
}


.disable-platform {
    display: none;
}

.active-handle-information {
    display: unset;
}

 .advanced-filter{

    font-size: 13px;
    font-weight: 600;
    margin-top: -20px;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing:0px;

}
