
  @import 'utility';

#email{
    height:30px;
}
#email:focus{
    outline:none;
}
#spacing{
    width:100%;
    height:100px;
}

.login-form{
    margin-top:100px;

}

#login-button{
    @extend .primary-button;
        width:72%; 
    height:50px; 
    margin-bottom:30px; 
    margin-left:14%; 
    float:left;
    font-size: 16px;
}

#register-button{
    @extend .secondary-button;
    width:72%; 
    height:50px; 
    margin-left:14%;
}

  @media (max-width:960px){
  #centercontent{
    padding-right: 0% !important; 
    padding-left: 0% !important;
  }
}
  #centercontent{
    padding-right:27%; 
    padding-left:27%;
    padding-top:50px;
  }
  #footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}
#agency{
    display: inline;
    border-right: 1px solid rgb(226,225,229);
    border-left: 1px solid rgb(226,225,229);
    border-top: 1px solid rgb(226,225,229);
    border-radius:2px;
    padding-right: 9.5%;
    padding-left: 9.5%;
    padding-top: 1.7%;
    padding-bottom:1.7%;
  
}
#influencer{
    display: inline;
    border-right: 1px solid rgb(226,225,229);
    border-top: 1px solid rgb(226,225,229);
    border-left:1px solid rgb(226,225,229);
    border-radius:2px;
    padding-right: 9.5%;
    padding-left: 9.5%;
    padding-top: 1.7%; 
    padding-bottom:1.7%;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c4c4c4 !important;
}

#header-text{
    text-align:center; 
    font-family:'Montserrat', sans-serif; 
    color:#515862; 
    letter-spacing: 2px; 
    font-size:36px; 
    padding-bottom:50px; 
    padding-top:25px;
}

@media screen and (max-width:480px){
    #header-text{
    text-align:center; 
    font-family:'Montserrat', sans-serif; 
    color:#515862; 
    letter-spacing: 2px; 
    font-size:25px; 
    padding-bottom:50px; 
    padding-top:50px;
}

    #icon{
        height:90px;
        width:97px;
    }


}