
 @import 'utility';

 
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #C7C7CD !important;
}
.input-group{
  padding-top:0px;
}


.signup-btn {
    @extend .primary-button;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 12px 20px;
}

.sign-up{
    @extend .primary-button;
}

@media only screen and (max-width: 590px) {
    .signup-header {
        font-size:45px;
        padding-bottom: 55px;
    }

    .input-group{
      /*min-width:300px;*/
      width: 300px;
      display:inline;
    }
    #field{
          height: 60px;
    }
    .col-xs-6.form-col{
      width:96%;
      margin-left:2%;
    }
    span{
      display:block;
    }

    .signup-btn-row{
      margin-top:12%;
    }
}
/*sign up page */

.signup-header {
    font-size: 100px;
    font-family: $main-font-semi;
    color: #515862;
}

.signup-subheader {
    font-size: 26px;
    font-family: $main-font;
    color: #515862;
    letter-spacing: 1px;
}

.col-xs-12.signup-col {
    text-align: center;
    margin-top: 9%;
}

.signup-btn-row {
    margin-bottom: 32%;
    margin-top: 3%;
}

.container-fluid.signup {
    background: url(/assets/images/signup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
