.active-tab{
    color:#73C48D !important;
}

.avo-nav{
    text-align:right;
    padding-right:30px;
}

.avo-navtabs {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display: inline;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 65px;
    padding-right:20px;
    
}

.bar-settings{
    color: rgb(70, 70, 70);;
    text-align: center;
    font-size: 25px;
    margin-left: 5px;
    height: 20px;
    padding-top: 20px;
}

.campaign-nav,
.create-nav,
.discover-nav,
.price-nav,
 {
    color: rgb(29, 40, 76);
}

.collapse-icon.dropdown{
    display:none;
}

.discover-nav {
    padding-bottom: 21px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: -10px;
}

.dropdown-content a {
    color:rgb(70, 70, 70);
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 20px;
    letter-spacing: 1px;
    margin-left: 5px;
    padding:15px 20px 60px 20px;
    text-align:center;
    text-decoration: none;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.floater-border {
    position: relative;
    margin-bottom: -10px;
}

.link-pages{
    text-decoration: none;
    color: rgb(70, 70, 70);
}
.link-pages:hover{
  text-decoration:none;
  background-color: transparent;
}


.logo-container{
    height:66px;
    margin-top:-8px;
}

.nav-bottom{
    height: 35px; 
    border-bottom:1px solid rgb(210,215,220);
    background-color: #73C48D;
}


@media(min-width:650px) and (max-width:900px) {
    .avo-navtabs{
        padding-right:10px;
        font-size:14px;
    }
    .avo-nav{
        padding-right:20px;
    }

}

@media(min-width:300px) and (max-width:900px) {
    .avo-navtabs{
        padding-right:10px;
        font-size:14px;
    }
    .avo-nav{
        padding-right:0px;
    }
}

@media(max-width:900px) {
    /*.avocado-nav-container{
        position:fixed;
        background:white;
        width:100%;
        z-index:1;
    }*/
    .avo-navtabs{
        display:none;
    }
.collapse-icon.dropdown{
    display:unset;
    float:right;
    width:140px;
}
   .dropdown-content{
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0px;
} 
   .dropdown-content a{
       font-size:15px;
   }

}


