.primary-button, .btn-campaign-options-primary, .secondary-button, .btn-campaign-options {
  border-radius: 1px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  -webkit-transition: background .4s, box-shadow .4s, color .4s, border .4s;
  transition: background .4s, box-shadow .4s, color .4s, border .4s;
  cursor: pointer; }
  .primary-button:focus, .btn-campaign-options-primary:focus, .secondary-button:focus, .btn-campaign-options:focus {
    outline: none; }

.primary-button, .btn-campaign-options-primary {
  border: none;
  background: #73C48D;
  text-transform: uppercase;
  color: white; }
  .primary-button:hover, .btn-campaign-options-primary:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .primary-button:active, .btn-campaign-options-primary:active {
    box-shadow: 0px 0px 0px white; }

.secondary-button, .btn-campaign-options {
  border: 1px solid #30363F;
  background: white;
  color: #30363F; }
  .secondary-button:hover, .btn-campaign-options:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .secondary-button:active, .btn-campaign-options:active {
    box-shadow: 0px 0px 0px white; }
  .secondary-button:hover, .btn-campaign-options:hover {
    color: #63AB80;
    border: 1px solid #63AB80; }

.stats {
  color: #73C48D;
  font-family: 'montserratsemibold';
  font-size: 40px;
  font-weight: 600;
  padding-top: 10px;
  text-align: center;
  max-width: 100px; }

.label-info {
  color: #1d284c;
  font-weight: 600;
  font-size: 13px;
  font-family: 'open sans';
  padding-bottom: 10px;
  text-align: center; }

.campaign-details {
  font-size: 15px;
  color: #1d284c;
  font-family: 'open sans';
  padding-top: 30px;
  width: 40%;
  min-width: 300px; }

.engagement-count {
  padding-bottom: 0px;
  margin-bottom: 0px; }

.invite {
  margin-left: 0%; }

.btn-campaign-options {
  width: 150px;
  height: 35px;
  margin-right: 1px;
  margin-bottom: 20px; }

.btn-campaign-options-primary {
  width: 150px;
  height: 35px;
  margin-right: 5px;
  margin-bottom: 20px; }

.button-container {
  padding-left: 25px;
  border-bottom: 0px;
  height: 145px;
  padding-top: 45px; }

.campaign-name {
  padding-left: 13px;
  padding-bottom: 20px;
  margin-left: 0px;
  margin-top: -12px;
  color: #73C48D;
  font-size: 30px; }

.campaign-summary {
  font-size: 13px;
  color: #1d284c; }

#campaign-breakdown {
  height: 180px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 4px; }

.campaign-border {
  border-top: 1px solid #d2d7dc;
  border-bottom: 1px solid #d2d7dc; }

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .stats {
    font-size: 30px; }
  .campaign-details {
    font-size: 15px; }
  .label-info {
    font-size: 15px; }
  .button-container {
    width: 75%; } }

@media (max-width: 800px) and (min-width: 601px) {
  .button-container {
    height: 230px; } }

/*Laptop to a smaller size. Still large enough to keep all info on screen but we have to make it just a bit smaller. */
@media only screen and (max-width: 768px) and (min-width: 600px) {
  .influencer-card-discover {
    width: 100%; }
  #campaign-breakdown {
    height: 150px; }
  .stats {
    font-size: 20px; }
  .campaign-details {
    font-size: 12px; }
  .label-info {
    font-size: 12px; }
  .button-container {
    width: 90%; } }

@media only screen and (max-width: 600px) and (min-width: 374px) {
  .button-container {
    height: 230px;
    text-align: center; } }

/*Anything smaller then we start getting rid of some information */
@media only screen and (max-width: 600px) {
  #campaign-breakdown {
    height: 150px; }
  .stats {
    font-size: 25px; }
  .campaign-details {
    font-size: 12px; }
  .label-info {
    font-size: 12px; }
  .mobile-off {
    display: none; } }

@media (max-width: 482px) and (min-width: 360px) {
  .influencer-card-discover {
    width: 100%; }
  .button-container {
    height: 285px; } }

@media only screen and (max-width: 425px) {
  .influencer-card-discover {
    width: 100%; }
  .button-container {
    padding-right: 0px;
    text-align: center;
    padding-left: 0px;
    width: 75%; } }

@media (max-width: 360px) {
  .button-container {
    height: 400px; } }

@media (max-width: 320px) {
  .button-container {
    width: 100%; } }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImF2b2NhZG8tY2FtcGFpZ24uY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsbUJBQW1CO0VBQ25CLHNDQUFzQztFQUN0QywyQkFBMkI7RUFDM0IsMEVBQWtFO0VBQWxFLGtFQUFrRTtFQUNsRSxnQkFBZ0IsRUFBRTtFQUNsQjtJQUNFLGNBQWMsRUFBRTs7QUFFcEI7RUFDRSxhQUFhO0VBQ2Isb0JBQW9CO0VBQ3BCLDBCQUEwQjtFQUMxQixhQUFhLEVBQUU7RUFDZjtJQUNFLGdDQUFnQyxFQUFFO0VBQ3BDO0lBQ0UsOEJBQThCLEVBQUU7O0FBRXBDO0VBQ0UsMEJBQTBCO0VBQzFCLGtCQUFrQjtFQUNsQixlQUFlLEVBQUU7RUFDakI7SUFDRSxnQ0FBZ0MsRUFBRTtFQUNwQztJQUNFLDhCQUE4QixFQUFFO0VBQ2xDO0lBQ0UsZUFBZTtJQUNmLDBCQUEwQixFQUFFOztBQUVoQztFQUNFLGVBQWU7RUFDZixrQ0FBa0M7RUFDbEMsZ0JBQWdCO0VBQ2hCLGlCQUFpQjtFQUNqQixrQkFBa0I7RUFDbEIsbUJBQW1CO0VBQ25CLGlCQUFpQixFQUFFOztBQUVyQjtFQUNFLGVBQWU7RUFDZixpQkFBaUI7RUFDakIsZ0JBQWdCO0VBQ2hCLHlCQUF5QjtFQUN6QixxQkFBcUI7RUFDckIsbUJBQW1CLEVBQUU7O0FBRXZCO0VBQ0UsZ0JBQWdCO0VBQ2hCLGVBQWU7RUFDZix5QkFBeUI7RUFDekIsa0JBQWtCO0VBQ2xCLFdBQVc7RUFDWCxpQkFBaUIsRUFBRTs7QUFFckI7RUFDRSxvQkFBb0I7RUFDcEIsbUJBQW1CLEVBQUU7O0FBRXZCO0VBQ0UsZ0JBQWdCLEVBQUU7O0FBRXBCO0VBQ0UsYUFBYTtFQUNiLGFBQWE7RUFDYixrQkFBa0I7RUFDbEIsb0JBQW9CLEVBQUU7O0FBRXhCO0VBQ0UsYUFBYTtFQUNiLGFBQWE7RUFDYixrQkFBa0I7RUFDbEIsb0JBQW9CLEVBQUU7O0FBRXhCO0VBQ0UsbUJBQW1CO0VBQ25CLG1CQUFtQjtFQUNuQixjQUFjO0VBQ2Qsa0JBQWtCLEVBQUU7O0FBRXRCO0VBQ0UsbUJBQW1CO0VBQ25CLHFCQUFxQjtFQUNyQixpQkFBaUI7RUFDakIsa0JBQWtCO0VBQ2xCLGVBQWU7RUFDZixnQkFBZ0IsRUFBRTs7QUFFcEI7RUFDRSxnQkFBZ0I7RUFDaEIsZUFBZSxFQUFFOztBQUVuQjtFQUNFLGNBQWM7RUFDZCxxQkFBcUI7RUFDckIsa0JBQWtCO0VBQ2xCLG1CQUFtQjtFQUNuQixtQkFBbUIsRUFBRTs7QUFFdkI7RUFDRSw4QkFBOEI7RUFDOUIsaUNBQWlDLEVBQUU7O0FBRXJDO0VBQ0U7SUFDRSxnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFLGdCQUFnQixFQUFFO0VBQ3BCO0lBQ0UsZ0JBQWdCLEVBQUU7RUFDcEI7SUFDRSxXQUFXLEVBQUUsRUFBRTs7QUFFbkI7RUFDRTtJQUNFLGNBQWMsRUFBRSxFQUFFOztBQUV0Qix1SEFBdUg7QUFDdkg7RUFDRTtJQUNFLFlBQVksRUFBRTtFQUNoQjtJQUNFLGNBQWMsRUFBRTtFQUNsQjtJQUNFLGdCQUFnQixFQUFFO0VBQ3BCO0lBQ0UsZ0JBQWdCLEVBQUU7RUFDcEI7SUFDRSxnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFLFdBQVcsRUFBRSxFQUFFOztBQUVuQjtFQUNFO0lBQ0UsY0FBYztJQUNkLG1CQUFtQixFQUFFLEVBQUU7O0FBRTNCLG1FQUFtRTtBQUNuRTtFQUNFO0lBQ0UsY0FBYyxFQUFFO0VBQ2xCO0lBQ0UsZ0JBQWdCLEVBQUU7RUFDcEI7SUFDRSxnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFLGdCQUFnQixFQUFFO0VBQ3BCO0lBQ0UsY0FBYyxFQUFFLEVBQUU7O0FBRXRCO0VBQ0U7SUFDRSxZQUFZLEVBQUU7RUFDaEI7SUFDRSxjQUFjLEVBQUUsRUFBRTs7QUFFdEI7RUFDRTtJQUNFLFlBQVksRUFBRTtFQUNoQjtJQUNFLG1CQUFtQjtJQUNuQixtQkFBbUI7SUFDbkIsa0JBQWtCO0lBQ2xCLFdBQVcsRUFBRSxFQUFFOztBQUVuQjtFQUNFO0lBQ0UsY0FBYyxFQUFFLEVBQUU7O0FBRXRCO0VBQ0U7SUFDRSxZQUFZLEVBQUUsRUFBRSIsImZpbGUiOiJhdm9jYWRvLWNhbXBhaWduLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5wcmltYXJ5LWJ1dHRvbiwgLmJ0bi1jYW1wYWlnbi1vcHRpb25zLXByaW1hcnksIC5zZWNvbmRhcnktYnV0dG9uLCAuYnRuLWNhbXBhaWduLW9wdGlvbnMge1xuICBib3JkZXItcmFkaXVzOiAxcHg7XG4gIGZvbnQtZmFtaWx5OiBcIk1vbnRzZXJyYXRcIiwgc2Fucy1zZXJpZjtcbiAgdGV4dC10cmFuc2Zvcm06IGNhcGl0YWxpemU7XG4gIHRyYW5zaXRpb246IGJhY2tncm91bmQgLjRzLCBib3gtc2hhZG93IC40cywgY29sb3IgLjRzLCBib3JkZXIgLjRzO1xuICBjdXJzb3I6IHBvaW50ZXI7IH1cbiAgLnByaW1hcnktYnV0dG9uOmZvY3VzLCAuYnRuLWNhbXBhaWduLW9wdGlvbnMtcHJpbWFyeTpmb2N1cywgLnNlY29uZGFyeS1idXR0b246Zm9jdXMsIC5idG4tY2FtcGFpZ24tb3B0aW9uczpmb2N1cyB7XG4gICAgb3V0bGluZTogbm9uZTsgfVxuXG4ucHJpbWFyeS1idXR0b24sIC5idG4tY2FtcGFpZ24tb3B0aW9ucy1wcmltYXJ5IHtcbiAgYm9yZGVyOiBub25lO1xuICBiYWNrZ3JvdW5kOiAjNzNDNDhEO1xuICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xuICBjb2xvcjogd2hpdGU7IH1cbiAgLnByaW1hcnktYnV0dG9uOmhvdmVyLCAuYnRuLWNhbXBhaWduLW9wdGlvbnMtcHJpbWFyeTpob3ZlciB7XG4gICAgYm94LXNoYWRvdzogMHB4IDBweCA0cHggIzYzQUI4MDsgfVxuICAucHJpbWFyeS1idXR0b246YWN0aXZlLCAuYnRuLWNhbXBhaWduLW9wdGlvbnMtcHJpbWFyeTphY3RpdmUge1xuICAgIGJveC1zaGFkb3c6IDBweCAwcHggMHB4IHdoaXRlOyB9XG5cbi5zZWNvbmRhcnktYnV0dG9uLCAuYnRuLWNhbXBhaWduLW9wdGlvbnMge1xuICBib3JkZXI6IDFweCBzb2xpZCAjMzAzNjNGO1xuICBiYWNrZ3JvdW5kOiB3aGl0ZTtcbiAgY29sb3I6ICMzMDM2M0Y7IH1cbiAgLnNlY29uZGFyeS1idXR0b246aG92ZXIsIC5idG4tY2FtcGFpZ24tb3B0aW9uczpob3ZlciB7XG4gICAgYm94LXNoYWRvdzogMHB4IDBweCA0cHggIzYzQUI4MDsgfVxuICAuc2Vjb25kYXJ5LWJ1dHRvbjphY3RpdmUsIC5idG4tY2FtcGFpZ24tb3B0aW9uczphY3RpdmUge1xuICAgIGJveC1zaGFkb3c6IDBweCAwcHggMHB4IHdoaXRlOyB9XG4gIC5zZWNvbmRhcnktYnV0dG9uOmhvdmVyLCAuYnRuLWNhbXBhaWduLW9wdGlvbnM6aG92ZXIge1xuICAgIGNvbG9yOiAjNjNBQjgwO1xuICAgIGJvcmRlcjogMXB4IHNvbGlkICM2M0FCODA7IH1cblxuLnN0YXRzIHtcbiAgY29sb3I6ICM3M0M0OEQ7XG4gIGZvbnQtZmFtaWx5OiAnbW9udHNlcnJhdHNlbWlib2xkJztcbiAgZm9udC1zaXplOiA0MHB4O1xuICBmb250LXdlaWdodDogNjAwO1xuICBwYWRkaW5nLXRvcDogMTBweDtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICBtYXgtd2lkdGg6IDEwMHB4OyB9XG5cbi5sYWJlbC1pbmZvIHtcbiAgY29sb3I6ICMxZDI4NGM7XG4gIGZvbnQtd2VpZ2h0OiA2MDA7XG4gIGZvbnQtc2l6ZTogMTNweDtcbiAgZm9udC1mYW1pbHk6ICdvcGVuIHNhbnMnO1xuICBwYWRkaW5nLWJvdHRvbTogMTBweDtcbiAgdGV4dC1hbGlnbjogY2VudGVyOyB9XG5cbi5jYW1wYWlnbi1kZXRhaWxzIHtcbiAgZm9udC1zaXplOiAxNXB4O1xuICBjb2xvcjogIzFkMjg0YztcbiAgZm9udC1mYW1pbHk6ICdvcGVuIHNhbnMnO1xuICBwYWRkaW5nLXRvcDogMzBweDtcbiAgd2lkdGg6IDQwJTtcbiAgbWluLXdpZHRoOiAzMDBweDsgfVxuXG4uZW5nYWdlbWVudC1jb3VudCB7XG4gIHBhZGRpbmctYm90dG9tOiAwcHg7XG4gIG1hcmdpbi1ib3R0b206IDBweDsgfVxuXG4uaW52aXRlIHtcbiAgbWFyZ2luLWxlZnQ6IDAlOyB9XG5cbi5idG4tY2FtcGFpZ24tb3B0aW9ucyB7XG4gIHdpZHRoOiAxNTBweDtcbiAgaGVpZ2h0OiAzNXB4O1xuICBtYXJnaW4tcmlnaHQ6IDFweDtcbiAgbWFyZ2luLWJvdHRvbTogMjBweDsgfVxuXG4uYnRuLWNhbXBhaWduLW9wdGlvbnMtcHJpbWFyeSB7XG4gIHdpZHRoOiAxNTBweDtcbiAgaGVpZ2h0OiAzNXB4O1xuICBtYXJnaW4tcmlnaHQ6IDVweDtcbiAgbWFyZ2luLWJvdHRvbTogMjBweDsgfVxuXG4uYnV0dG9uLWNvbnRhaW5lciB7XG4gIHBhZGRpbmctbGVmdDogMjVweDtcbiAgYm9yZGVyLWJvdHRvbTogMHB4O1xuICBoZWlnaHQ6IDE0NXB4O1xuICBwYWRkaW5nLXRvcDogNDVweDsgfVxuXG4uY2FtcGFpZ24tbmFtZSB7XG4gIHBhZGRpbmctbGVmdDogMTNweDtcbiAgcGFkZGluZy1ib3R0b206IDIwcHg7XG4gIG1hcmdpbi1sZWZ0OiAwcHg7XG4gIG1hcmdpbi10b3A6IC0xMnB4O1xuICBjb2xvcjogIzczQzQ4RDtcbiAgZm9udC1zaXplOiAzMHB4OyB9XG5cbi5jYW1wYWlnbi1zdW1tYXJ5IHtcbiAgZm9udC1zaXplOiAxM3B4O1xuICBjb2xvcjogIzFkMjg0YzsgfVxuXG4jY2FtcGFpZ24tYnJlYWtkb3duIHtcbiAgaGVpZ2h0OiAxODBweDtcbiAgcGFkZGluZy1ib3R0b206IDMwcHg7XG4gIHBhZGRpbmctbGVmdDogMHB4O1xuICBwYWRkaW5nLXJpZ2h0OiAwcHg7XG4gIGJvcmRlci1yYWRpdXM6IDRweDsgfVxuXG4uY2FtcGFpZ24tYm9yZGVyIHtcbiAgYm9yZGVyLXRvcDogMXB4IHNvbGlkICNkMmQ3ZGM7XG4gIGJvcmRlci1ib3R0b206IDFweCBzb2xpZCAjZDJkN2RjOyB9XG5cbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1heC13aWR0aDogMTAyNHB4KSBhbmQgKG1pbi13aWR0aDogNzY4cHgpIHtcbiAgLnN0YXRzIHtcbiAgICBmb250LXNpemU6IDMwcHg7IH1cbiAgLmNhbXBhaWduLWRldGFpbHMge1xuICAgIGZvbnQtc2l6ZTogMTVweDsgfVxuICAubGFiZWwtaW5mbyB7XG4gICAgZm9udC1zaXplOiAxNXB4OyB9XG4gIC5idXR0b24tY29udGFpbmVyIHtcbiAgICB3aWR0aDogNzUlOyB9IH1cblxuQG1lZGlhIChtYXgtd2lkdGg6IDgwMHB4KSBhbmQgKG1pbi13aWR0aDogNjAxcHgpIHtcbiAgLmJ1dHRvbi1jb250YWluZXIge1xuICAgIGhlaWdodDogMjMwcHg7IH0gfVxuXG4vKkxhcHRvcCB0byBhIHNtYWxsZXIgc2l6ZS4gU3RpbGwgbGFyZ2UgZW5vdWdoIHRvIGtlZXAgYWxsIGluZm8gb24gc2NyZWVuIGJ1dCB3ZSBoYXZlIHRvIG1ha2UgaXQganVzdCBhIGJpdCBzbWFsbGVyLiAqL1xuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiA3NjhweCkgYW5kIChtaW4td2lkdGg6IDYwMHB4KSB7XG4gIC5pbmZsdWVuY2VyLWNhcmQtZGlzY292ZXIge1xuICAgIHdpZHRoOiAxMDAlOyB9XG4gICNjYW1wYWlnbi1icmVha2Rvd24ge1xuICAgIGhlaWdodDogMTUwcHg7IH1cbiAgLnN0YXRzIHtcbiAgICBmb250LXNpemU6IDIwcHg7IH1cbiAgLmNhbXBhaWduLWRldGFpbHMge1xuICAgIGZvbnQtc2l6ZTogMTJweDsgfVxuICAubGFiZWwtaW5mbyB7XG4gICAgZm9udC1zaXplOiAxMnB4OyB9XG4gIC5idXR0b24tY29udGFpbmVyIHtcbiAgICB3aWR0aDogOTAlOyB9IH1cblxuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiA2MDBweCkgYW5kIChtaW4td2lkdGg6IDM3NHB4KSB7XG4gIC5idXR0b24tY29udGFpbmVyIHtcbiAgICBoZWlnaHQ6IDIzMHB4O1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjsgfSB9XG5cbi8qQW55dGhpbmcgc21hbGxlciB0aGVuIHdlIHN0YXJ0IGdldHRpbmcgcmlkIG9mIHNvbWUgaW5mb3JtYXRpb24gKi9cbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1heC13aWR0aDogNjAwcHgpIHtcbiAgI2NhbXBhaWduLWJyZWFrZG93biB7XG4gICAgaGVpZ2h0OiAxNTBweDsgfVxuICAuc3RhdHMge1xuICAgIGZvbnQtc2l6ZTogMjVweDsgfVxuICAuY2FtcGFpZ24tZGV0YWlscyB7XG4gICAgZm9udC1zaXplOiAxMnB4OyB9XG4gIC5sYWJlbC1pbmZvIHtcbiAgICBmb250LXNpemU6IDEycHg7IH1cbiAgLm1vYmlsZS1vZmYge1xuICAgIGRpc3BsYXk6IG5vbmU7IH0gfVxuXG5AbWVkaWEgKG1heC13aWR0aDogNDgycHgpIGFuZCAobWluLXdpZHRoOiAzNjBweCkge1xuICAuaW5mbHVlbmNlci1jYXJkLWRpc2NvdmVyIHtcbiAgICB3aWR0aDogMTAwJTsgfVxuICAuYnV0dG9uLWNvbnRhaW5lciB7XG4gICAgaGVpZ2h0OiAyODVweDsgfSB9XG5cbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1heC13aWR0aDogNDI1cHgpIHtcbiAgLmluZmx1ZW5jZXItY2FyZC1kaXNjb3ZlciB7XG4gICAgd2lkdGg6IDEwMCU7IH1cbiAgLmJ1dHRvbi1jb250YWluZXIge1xuICAgIHBhZGRpbmctcmlnaHQ6IDBweDtcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgcGFkZGluZy1sZWZ0OiAwcHg7XG4gICAgd2lkdGg6IDc1JTsgfSB9XG5cbkBtZWRpYSAobWF4LXdpZHRoOiAzNjBweCkge1xuICAuYnV0dG9uLWNvbnRhaW5lciB7XG4gICAgaGVpZ2h0OiA0MDBweDsgfSB9XG5cbkBtZWRpYSAobWF4LXdpZHRoOiAzMjBweCkge1xuICAuYnV0dG9uLWNvbnRhaW5lciB7XG4gICAgd2lkdGg6IDEwMCU7IH0gfVxuIl19 */