/*styling for avocado-get-influencers.php */
/* using SCSS variables to store breakpoints  note that sc stands for screen */
.primary-button, .info-button, .secondary-button {
  border-radius: 1px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  -webkit-transition: background .4s, box-shadow .4s, color .4s, border .4s;
  transition: background .4s, box-shadow .4s, color .4s, border .4s;
  cursor: pointer; }
  .primary-button:focus, .info-button:focus, .secondary-button:focus {
    outline: none; }

.primary-button, .info-button {
  border: none;
  background: #73C48D;
  color: white; }
  .primary-button:hover, .info-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .primary-button:active, .info-button:active {
    box-shadow: 0px 0px 0px white; }

.secondary-button {
  border: 1px solid #30363F;
  background: white;
  color: #30363F; }
  .secondary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .secondary-button:active {
    box-shadow: 0px 0px 0px white; }
  .secondary-button:hover {
    color: #63AB80;
    border: 1px solid #63AB80; }

.info-container {
  height: 150px; }

.campaign-info {
  margin-top: 2%; }

.camapaign-label-container {
  float: left;
  margin-left: 9%; }
  .camapaign-label-container .campaign-label-div {
    margin-bottom: 5%; }

.campaign-info-index {
  margin-top: -20px;
  text-align: justify;
  direction: rtl;
  padding-right: 5%; }

.index-name {
  font-size: 16px; }

.posts-green {
  color: #73C48D; }

.impression-blue {
  color: #329ddf; }

.engagement-orange {
  color: #ff8b68; }

.social-following-red {
  color: #e74845; }

@media (max-width: 767px) {
  .campaign-info-index {
    margin-top: 0.5%; } }

.info-button {
  float: right;
  margin-top: 1%;
  margin-bottom: 2%;
  height: 45px;
  margin-right: 3%;
  max-width: 175px;
  width: 100%; }

.save-btn {
  font-family: "Montserrat", sans-serif;
  height: 36px;
  background-color: white;
  border: 1px solid #30363F;
  padding: 9px 12px;
  margin-left: -2px;
  float: left; }

i.icon.ti-plus.black-plus {
  color: #30363F;
  font-weight: 800;
  font-size: 14px; }

.select-campaign-container {
  position: relative;
  right: calc(100% - 384px); }

#campaign-select-text {
  width: 165px;
  font-family: "Montserrat", sans-serif; }

.add-to-existing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

select.form-control.category.avocado-focus.campaign-dropdown.col-xs-12 {
  width: 145px; }

@media (min-width: 480px) and (max-width: 768px) {
  /*  tablet  */
  .nav-bottom {
    height: 25px; }
  .post-container.tablet {
    padding-left: 1%;
    padding-right: 1%; }
  .select-campaign-container {
    right: 0; }
  .camapaign-label-container {
    margin-left: 0; }
  button#apply.secondary-button {
    width: 145px;
    font-size: 13px; }
  .index-name {
    font-size: 14px; }
  .campaign-calc-btn-container.tablet {
    width: 100%; }
  .influencer-info-container {
    display: inline-block;
    margin-left: 0; }
  td.influencer-column .influencer-handle-text {
    padding-left: 0;
    min-width: 0; }
  .info-button {
    font-size: 13px;
    max-width: 160px; }
  .results-mini-col.tablet {
    font-size: 12px;
    margin-top: -39%;
    margin-right: -2%; } }

@media (min-width: 481px) and (max-width: 615px) {
  .mobile-apply {
    position: relative;
    top: -55px;
    font-size: 13px; }
  .results-mini-col.tm {
    margin-top: -57%;
    margin-right: -13%; } }

@media (min-width: 1px) and (max-width: 480px) {
  /*  mobile  */
  .nav-bottom {
    height: 15px; }
  .results-mini-col.mobile {
    display: none; }
  .campaign-select {
    text-align: -webkit-center; }
  #campaign-name.mobile {
    font-size: 18px;
    width: 50%; }
  .camapaign-label-container.mobile {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .post-container.mobile {
    padding-left: 0;
    padding-right: 0; }
  .post-results-container.mobile {
    text-align: -webkit-right; }
  .influencer-info-container.mobile {
    margin-left: 0;
    display: block; }
  #apply.secondary-button.small {
    width: 150px;
    font-size: 14px; }
  .info-button.mobile {
    max-width: 160px;
    font-size: 13px; }
  .mobile-apply {
    position: relative;
    top: -55px;
    font-size: 13px; }
  .influencer-handle-text {
    font-size: 13px;
    text-overflow: ellipsis;
    min-width: 65px;
    white-space: nowrap;
    overflow: hidden; }
  .results-text.mobile {
    float: right;
    font-size: 2.4em; }
  .index-name {
    font-size: 14px; }
  .result-name.mobile {
    font-size: 12px;
    margin-left: -30%; }
  .campaign-info-index {
    margin-top: 6%; } }

@media (min-width: 351px) and (max-width: 410px) {
  /* minor edits for smaller screen mobile  */
  .info-button.sm-mobile {
    max-width: 148px;
    font-size: 12px; }
  .select-campaign-container.small {
    right: 9px; }
  .campaignfocus.mobile {
    width: 108px; }
  .post-results-container.tm {
    margin-right: 20%; } }

@media (min-width: 300px) and (max-width: 350px) {
  button.info-button.sm-mobile {
    max-width: 75%; }
  div.select-campaign-container.small {
    right: 30px; }
  .campaignfocus.mobile {
    width: 85px; }
  #campaign-select-text {
    width: 130px; }
  #apply.secondary-button.small {
    width: 135px; }
  p.result-name.mobile {
    max-width: 65px;
    margin-left: -16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; } }

.campaign-desc-label {
  float: left;
  margin-left: 12.5%;
  margin-top: 3%;
  color: #30363F; }

.campaign-desc-textarea {
  height: 50px;
  width: 70%;
  margin-left: 12.5%;
  margin-top: 1%;
  float: left; }

#apply {
  height: 40px;
  width: 180px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin-right: 46%; }
  #applyfocus {
    outline: none; }

.post-container {
  padding-left: 4%;
  padding-right: 4%; }

table {
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0; }
  table tbody {
    border-top: 1px solid #d2d7dc; }

.insta-logo,
.fb-logo {
  max-width: 30px;
  max-height: 30px; }

.twitter-logo2 {
  max-width: 25px;
  max-height: 25px; }

td.insta-column,
td.twit-column,
td.face-column,
td.influencer-column {
  border-left: hidden;
  border-right: hidden;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  position: relative; }

.influencer-info-container {
  padding-top: 5px;
  margin-left: 20%;
  display: inline-block; }

.influencer-campaign-image {
  max-width: 65px;
  max-height: 65px;
  width: 100%;
  height: 100%; }

.influencer-handle-text {
  font-size: 15px;
  color: #30363F;
  font-weight: 100;
  margin-top: 5%; }

.post-results-container {
  color: #30363F;
  font-size: 12px;
  margin-left: -8%;
  font-family: "Montserrat", sans-serif; }

.results-mini-col {
  text-align: -webkit-right;
  margin-top: -30%;
  margin-right: 15%;
  font-size: 16px;
  font-family: "montserratsemibold", sans-serif; }

tr.influencer-result-row {
  text-align: center;
  border-bottom: 1px solid #efefef; }

th.text-center {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "montserratsemibold", sans-serif;
  color: #30363F;
  padding-top: 2%;
  padding-bottom: 2%;
  letter-spacing: 0.5px;
  border-top: 1px solid #d2d7dc; }

@media (min-width: 769px) and (max-width: 1000px) {
  .results-mini-col {
    margin-top: -40%;
    margin-right: -11%; } }

@media (min-width: 1001px) and (max-width: 1200px) {
  .results-mini-col {
    margin-top: -29%; }
  .index-name {
    font-size: 14px; }
  .campaign-info-index {
    margin-top: -60px; } }

@media (min-width: 1201px) and (max-width: 1399px) {
  .index-name {
    font-size: 14px; } }

@media (min-width: 1400px) and (max-width: 1650px) {
  .results-mini-col {
    margin-top: -24%; } }

@media (min-width: 1651px) and (max-width: 1850px) {
  .results-mini-col {
    margin-top: -22%;
    margin-right: 18%; } }

@media (min-width: 1851px) and (max-width: 2100px) {
  div.results-mini-col {
    margin-top: -19%;
    margin-right: 23%; }
  .post-results-container {
    margin-left: -5%; } }

@media (min-width: 2101px) and (max-width: 3100px) {
  .results-mini-col {
    margin-top: -17%;
    margin-right: 22%; } }

.campaign-select {
  padding-top: 20px; }

.campaign-calc-btn-container {
  width: calc(100% - 30px); }

.campaign-dropdown {
  display: inline;
  width: 20%; }

.go-back-btn-div,
.user-campaign-name,
.user-campaign-inf-count {
  display: inline-block; }

.go-back-btn-div,
.user-campaign-name {
  font-family: "montserratlight", sans-serif; }

.campaign-inf-count,
.user-campaign-inf-count {
  font-family: "montserratsemibold", sans-serif; }

.back-btn {
  font-size: 15px;
  text-transform: uppercase;
  color: #30363F;
  padding: 10px 35px 10px 35px;
  border: 1px solid black; }

.go-back-btn-div {
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: 1%;
  vertical-align: -webkit-baseline-middle; }

.user-campaign-name {
  font-size: 28px;
  margin-left: 2%;
  margin-right: 2%;
  color: #515862;
  vertical-align: sub; }

.campaign-inf-count {
  font-size: 4rem;
  color: #73C48D; }

.user-campaign-inf-count {
  font-size: 16px;
  color: #30363F;
  vertical-align: sub; }

#campaign-select-text {
  color: #30363F;
  padding-left: 25px;
  display: inline;
  padding-top: 7px;
  font-size: 14px; }

.number-posts-text {
  color: #30363F;
  font-size: 12px;
  display: inline;
  padding-left: 10px; }

.campaignfocus {
  font-weight: 600;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 2.4em;
  width: 110px;
  height: 45px;
  color: #73C48D;
  font-family: "Montserrat", sans-serif; }
  .campaignfocus:focus {
    outline: none;
    background-color: transparent;
    color: rgba(0, 0, 44, 0.37); }

.result-name {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #30363F; }

.results-text {
  color: #73C48D;
  font-family: "montserratsemibold", sans-serif;
  font-size: 3em;
  padding-right: 17px;
  font-weight: 600; }

#campaign-label {
  font-family: "Montserrat", sans-serif;
  color: #30363F;
  padding-right: 10px; }

#campaign-name {
  border: 0;
  border-bottom: 1px solid #efefef;
  font-size: 24px;
  color: #A2A8B1; }
  #campaign-name:focus {
    outline: none; }


/*create campaign popups*/
.modal-body {
  padding: 0; }

.modal-content {
  min-height: 550px; }

.popup-detail {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 4%;
  margin-top: -4%;
  color: black; }

.input-div {
  display: inline-block;
  text-align: -webkit-center; }

.input-popup {
  margin-top: 10%;
  text-align: right;
  max-width: 60px;
  font-size: 36px;
  color: #30363F;
  border: none;
  background-color: rgba(220, 220, 220, 0.2);
  font-family: 'montserratsemibold';
  border-radius: 3px; }

.row,
.submit-btn-div {
  text-align: center;
  font-family: "Montserrat", sans-serif; }

.icon-popup-div {
  text-align: center; }

.submit-btn {
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 30px 10px 30px;
  color: white;
  background-color: #73C48D;
  border: none;
  min-width: 195px; }

.submit-btn-div {
  padding-top: 5%; }

.avocado-popup-icon {
  max-width: 255px; }

.fb-logo-popup,
.insta-logo-popup,
.twitter-icon-popup {
  max-width: 25px;
  max-height: 50px;
  display: block;
  text-align: center; }

.close {
  opacity: 1;
  font-size: 3rem;
  margin-right: 10px;
  color: #000; }

.col-xs-12.popup-detail.success {
  margin-top: 0%; }

.col-xs-12.btn-col {
  margin-top: -2%; }

.popup-btn-div {
  padding-top: 3%; }

@media (max-width: 500px) {
  .popup-detail {
    font-size: 18px; }
  .input-popup {
    text-align: center; } }

input[type="number"].input-popup:focus {
  border: 1px solid #73C4A0;
  outline: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  /*-webkit-appearance: none;*/
  /*margin: 0;*/ }

.success-popup-icon {
  max-width: 375px; }

.yay {
  font-size: 28px; }

.form-control {
  font-size: 15px;
  letter-spacing: 1px; }

.token-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #A2A8B1;
  font-family: 'Open Sans';
  letter-spacing: 1px; }

body {
  margin: 0;
  font-family: 'Lato', sans-serif; }


