.primary-button, .secondary-button {
  border-radius: 1px;
  font-family: "Montserrat", sans-serif;
  transition: background .4s, box-shadow .4s, color .4s, border .4s;
  cursor: pointer; }
  .primary-button:focus, .secondary-button:focus {
    outline: none; }

.primary-button {
  border: none;
  background: #73C48D;
  color: white; }
  .primary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .primary-button:active {
    box-shadow: 0px 0px 0px white; }

.secondary-button {
  border: 1px solid #30363F;
  background: white;
  color: #30363F; }
  .secondary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .secondary-button:active {
    box-shadow: 0px 0px 0px white; }
  .secondary-button:hover {
    color: #63AB80;
    border: 1px solid #63AB80; }

body {
  background-color: #73C48D;
  display: block;
  margin: 8px; }

.thank-you-email {
  background: white;
  color: black;
  padding-top: 80px;
  text-align: center;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5em;
  min-height: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.confirm-btn {
  width: 100%;
  width: 240px;
  background-color: #73C48D;
  border: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  height: 42px;
  line-height: 40px;
  margin: 0 auto;
  display: block;
  font-size: 1em; }

h1.check-email {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: normal; }
