.primary-button, .secondary-button {
  border-radius: 1px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  -webkit-transition: background .4s, box-shadow .4s, color .4s, border .4s;
  transition: background .4s, box-shadow .4s, color .4s, border .4s;
  cursor: pointer; }
  .primary-button:focus, .secondary-button:focus {
    outline: none; }

.primary-button {
  border: none;
  background: #73C48D;
  color: white; }
  .primary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .primary-button:active {
    box-shadow: 0px 0px 0px white; }

.secondary-button {
  border: 1px solid #30363F;
  background: white;
  color: #30363F; }
  .secondary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .secondary-button:active {
    box-shadow: 0px 0px 0px white; }
  .secondary-button:hover {
    color: #63AB80;
    border: 1px solid #63AB80; }

.dashboard-table {
  margin-left: 1%; }

a:hover {
  text-decoration: none; }

#allcampaigns {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  color: #515862;
  letter-spacing: 1px; }

.divider-top {
  border-bottom: 1px solid #d2d7dc;
  padding-bottom: 20px;
  border-right: 1px solid #d2d7dc; }

#campaign-details {
  position: fixed;
  width: 100%;
  border-left: 1px solid #d2d7dc;
  margin-left: -14px;
  padding-left: 14px;
  margin-bottom: 20px;
  padding-bottom: 100%; }

td.campaign-details.name {
  text-overflow: ellipsis;
  overflow: hidden; }

.stats {
  color: #73C48D;
  font-family: "montserratsemibold", sans-serif;
  font-size: 35px;
  font-weight: 600;
  width: 16%; }

.button-stats {
  width: 17%; }

.button-stats-bt {
  width: 100%;
  max-width: 145px;
  height: 35px;
  border: 0px;
  font-size: 12px;
  margin-right: 5px;
  font-family: "montserratlight", sans-serif; }

.label-info {
  color: #1d284c;
  font-weight: 600;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 10px; }

.campaign-block {
  border-bottom: 1px solid #d2d7dc;
  padding-bottom: 10px;
  padding-top: 0px;
  border-right: 1px solid #d2d7dc; }
  .campaign-block:hover {
    background-color: #eaeaea; }

#campaign-title {
  color: #1d284c;
  font-size: 20px;
  font-family: "Open Sans", sans-serif; }

.title {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #1d284c; }

#summary {
  color: #515862;
  font-size: 13px;
  width: 70%; }

.option-button {
  border: 1px solid black;
  border-radius: 0px;
  background-color: white;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  padding-left: 1px;
  margin-right: 5px;
  height: 40px;
  width: 130px; }

i.icon.pe-trash.list-dashboard {
  text-align: -webkit-center;
  font-size: 21px;
  width: 130px;
  font-weight: bold;
  color: #30363F; }

.view-button-area {
  vertical-align: bottom; }

.view-campaign-btn {
  width: 130px;
  height: 35px; }

.campaign-block {
  background-color: #fcfcfc; }

button:focus {
  outline: none; }

.campaign-details {
  font-size: 17px;
  color: #1d284c;
  font-family: "Open Sans", sans-serif;
  padding-top: 30px; }

/* No campaigns made yet css */
.no-campaign-container {
  text-align: center;
  margin-bottom: 8%; }
  .no-campaign-container .no-campaign {
    max-width: 100%; }
  .no-campaign-container .opps-message {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    text-align: -webkit-center;
    margin-bottom: 1%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #1d284c; }
    @media (max-width: 768px) {
      .no-campaign-container .opps-message {
        width: 85%; } }
  .no-campaign-container .no-campaign-btn {
    height: 50px;
    width: 25%; }
    @media (max-width: 768px) {
      .no-campaign-container .no-campaign-btn {
        width: 33%;
        margin-top: 2%; } }

@media (max-width: 480px) {
  .no-campaign {
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 5%; }
  .no-campaign-btn.mobile {
    height: 45px;
    width: 50%;
    margin-top: 3%; }
  .opps-message.mobile {
    width: 85%;
    font-size: 18px; } }

/*Added css for mobile - Bashir */
/*Laptop to Tablet */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .stats {
    font-size: 30px; }
  .campaign-details {
    font-size: 15px; }
  .label-info {
    font-size: 15px; } }

/*Laptop to a smaller size. Still large enough to keep all info on screen but we have to make it just a bit smaller. */
@media only screen and (max-width: 768px) and (min-width: 600px) {
  .stats {
    font-size: 20px;
    width: 22%; }
  .campaign-details,
  .label-info {
    font-size: 13px; } }

/*Anything smaller then we start getting rid of some information */
@media only screen and (max-width: 600px) {
  .stats {
    font-size: 20px; }
  .campaign-block {
    padding: 0; }
  .campaign-details {
    padding-top: 2.5%; }
  .campaign-details,
  .label-info {
    font-size: 13px; }
  .delete-btn-area {
    width: 20%; }
  .blank-td.mobile,
  .stats.mobile-off.impressions,
  .label-info.mobile-off.impressions,
  .label-info.reach,
  .blank-td,
  .blank-td.mobile,
  .stats.reach {
    display: none; }
  .button-stats-bt,
  .view-campaign-btn {
    width: 135px;
    font-size: 11px; } }

@media (max-width: 480px) {
  .dashboard-table {
    margin-left: 5px; }
  .stats {
    font-size: 22px; }
  .button-stats-bt {
    width: 91%;
    font-size: 10px; }
  .delete-btn-area {
    vertical-align: baseline; }
  .label-info {
    vertical-align: text-top;
    padding-bottom: 5%; }
  .campaign-details {
    padding-top: 7%; }
  td.stats,
  .label-info,
  .campaign-details,
  .delete-btn-area {
    text-align: -webkit-center; }
  .campaign-details,
  .delete-btn-area,
  td.campaign-details.name,
  .stats {
    width: 15%;
    max-width: 0; }
  .button-stats {
    max-width: 0;
    padding-right: 0;
    width: 20%;
    position: relative;
    top: -15px; }
  i.icon.pe-trash.list-dashboard {
    width: 0;
    margin-left: -30%; } }


