.primary-button, .secondary-button {
  border-radius: 1px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  -webkit-transition: background .4s, box-shadow .4s, color .4s, border .4s;
  transition: background .4s, box-shadow .4s, color .4s, border .4s;
  cursor: pointer; }
  .primary-button:focus, .secondary-button:focus {
    outline: none; }

.primary-button {
  border: none;
  background: #73C48D;
  color: white; }
  .primary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .primary-button:active {
    box-shadow: 0px 0px 0px white; }

.secondary-button {
  border: 1px solid #30363F;
  background: white;
  color: #30363F; }
  .secondary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .secondary-button:active {
    box-shadow: 0px 0px 0px white; }
  .secondary-button:hover {
    color: #63AB80;
    border: 1px solid #63AB80; }

.dashboard-table {
  margin-left: 1%; }

a:hover {
  text-decoration: none; }

#allcampaigns {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  color: #515862;
  letter-spacing: 1px; }

.divider-top {
  border-bottom: 1px solid #d2d7dc;
  padding-bottom: 20px;
  border-right: 1px solid #d2d7dc; }

#campaign-details {
  position: fixed;
  width: 100%;
  border-left: 1px solid #d2d7dc;
  margin-left: -14px;
  padding-left: 14px;
  margin-bottom: 20px;
  padding-bottom: 100%; }

td.campaign-details.name {
  text-overflow: ellipsis;
  overflow: hidden; }

.stats {
  color: #73C48D;
  font-family: "montserratsemibold", sans-serif;
  font-size: 35px;
  font-weight: 600;
  width: 16%; }

.button-stats {
  width: 17%; }

.button-stats-bt {
  width: 100%;
  max-width: 145px;
  height: 35px;
  border: 0px;
  font-size: 12px;
  margin-right: 5px;
  font-family: "montserratlight", sans-serif; }

.label-info {
  color: #1d284c;
  font-weight: 600;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 10px; }

.campaign-block {
  border-bottom: 1px solid #d2d7dc;
  padding-bottom: 10px;
  padding-top: 0px;
  border-right: 1px solid #d2d7dc; }
  .campaign-block:hover {
    background-color: #eaeaea; }

#campaign-title {
  color: #1d284c;
  font-size: 20px;
  font-family: "Open Sans", sans-serif; }

.title {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #1d284c; }

#summary {
  color: #515862;
  font-size: 13px;
  width: 70%; }

.option-button {
  border: 1px solid black;
  border-radius: 0px;
  background-color: white;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  padding-left: 1px;
  margin-right: 5px;
  height: 40px;
  width: 130px; }

i.icon.pe-trash.list-dashboard {
  text-align: -webkit-center;
  font-size: 21px;
  width: 150px;
  font-weight: bold;
  color: #30363F; }

.view-button-area {
  vertical-align: bottom; }

.view-campaign-btn {
  width: 130px;
  height: 35px; }

.campaign-block {
  background-color: #fcfcfc; }

button:focus {
  outline: none; }

.campaign-details {
  font-size: 17px;
  color: #1d284c;
  font-family: "Open Sans", sans-serif;
  padding-top: 30px; }

/*Are you sure delete button pop up */
.delete-icon-popup-div {
  margin-top: 3%;
  text-align: -webkit-center; }

.trash-icon {
  max-width: 100px; }

.delete-list-text {
  font-size: 24px; }

.delete-popup-detail {
  text-transform: uppercase;
  font-size: 18px;
  color: black; }

.delete-btn-div {
  padding-top: 1%;
  margin-bottom: 3%; }

.delete-yes.primary-button {
  background: #e25c65; }

.delete-yes, .delete-no {
  width: 130px;
  height: 35px;
  margin-left: 1%; }

/*Laptop to Tablet */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .stats {
    font-size: 30px; }
  .campaign-details {
    font-size: 15px; }
  .label-info {
    font-size: 15px; } }

/*Laptop to a smaller size. Still large enough to keep all info on screen but we have to make it just a bit smaller. */
@media only screen and (max-width: 768px) and (min-width: 600px) {
  .stats {
    font-size: 20px;
    width: 22%; }
  .campaign-details,
  .label-info {
    font-size: 13px; } }

/*Anything smaller then we start getting rid of some information */
@media only screen and (max-width: 600px) {
  .stats {
    font-size: 20px; }
  .campaign-block {
    padding: 0; }
  .campaign-details {
    padding-top: 2.5%; }
  .campaign-details,
  .label-info {
    font-size: 13px; }
  .delete-btn-area {
    width: 20%; }
  .blank-td.mobile,
  .stats.mobile-off.impressions,
  .label-info.mobile-off.impressions,
  .label-info.reach,
  .blank-td,
  .blank-td.mobile,
  .stats.reach {
    display: none; }
  .button-stats-bt,
  .view-campaign-btn {
    width: 135px;
    font-size: 11px; } }

@media (max-width: 480px) {
  .dashboard-table {
    margin-left: 5px; }
  .stats {
    font-size: 22px; }
  .button-stats-bt {
    width: 91%;
    font-size: 10px; }
  .delete-btn-area {
    vertical-align: baseline; }
  .label-info {
    vertical-align: text-top;
    padding-bottom: 5%; }
  .campaign-details {
    padding-top: 7%; }
  td.stats,
  .label-info,
  .campaign-details,
  .delete-btn-area {
    text-align: -webkit-center; }
  .campaign-details,
  .delete-btn-area,
  td.campaign-details.name,
  .stats {
    width: 15%;
    max-width: 0; }
  .button-stats {
    max-width: 0;
    padding-right: 0;
    width: 20%;
    position: relative;
    top: -15px; }
  i.icon.pe-trash.list-dashboard {
    width: 0;
    margin-left: -30%; } }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImRhc2hib2FyZC5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDRSxtQkFBbUI7RUFDbkIsc0NBQXNDO0VBQ3RDLDJCQUEyQjtFQUMzQiwwRUFBa0U7RUFBbEUsa0VBQWtFO0VBQ2xFLGdCQUFnQixFQUFFO0VBQ2xCO0lBQ0UsY0FBYyxFQUFFOztBQUVwQjtFQUNFLGFBQWE7RUFDYixvQkFBb0I7RUFDcEIsYUFBYSxFQUFFO0VBQ2Y7SUFDRSxnQ0FBZ0MsRUFBRTtFQUNwQztJQUNFLDhCQUE4QixFQUFFOztBQUVwQztFQUNFLDBCQUEwQjtFQUMxQixrQkFBa0I7RUFDbEIsZUFBZSxFQUFFO0VBQ2pCO0lBQ0UsZ0NBQWdDLEVBQUU7RUFDcEM7SUFDRSw4QkFBOEIsRUFBRTtFQUNsQztJQUNFLGVBQWU7SUFDZiwwQkFBMEIsRUFBRTs7QUFFaEM7RUFDRSxnQkFBZ0IsRUFBRTs7QUFFcEI7RUFDRSxzQkFBc0IsRUFBRTs7QUFFMUI7RUFDRSxnQkFBZ0I7RUFDaEIscUNBQXFDO0VBQ3JDLGVBQWU7RUFDZixvQkFBb0IsRUFBRTs7QUFFeEI7RUFDRSxpQ0FBaUM7RUFDakMscUJBQXFCO0VBQ3JCLGdDQUFnQyxFQUFFOztBQUVwQztFQUNFLGdCQUFnQjtFQUNoQixZQUFZO0VBQ1osK0JBQStCO0VBQy9CLG1CQUFtQjtFQUNuQixtQkFBbUI7RUFDbkIsb0JBQW9CO0VBQ3BCLHFCQUFxQixFQUFFOztBQUV6QjtFQUNFLHdCQUF3QjtFQUN4QixpQkFBaUIsRUFBRTs7QUFFckI7RUFDRSxlQUFlO0VBQ2YsOENBQThDO0VBQzlDLGdCQUFnQjtFQUNoQixpQkFBaUI7RUFDakIsV0FBVyxFQUFFOztBQUVmO0VBQ0UsV0FBVyxFQUFFOztBQUVmO0VBQ0UsWUFBWTtFQUNaLGlCQUFpQjtFQUNqQixhQUFhO0VBQ2IsWUFBWTtFQUNaLGdCQUFnQjtFQUNoQixrQkFBa0I7RUFDbEIsMkNBQTJDLEVBQUU7O0FBRS9DO0VBQ0UsZUFBZTtFQUNmLGlCQUFpQjtFQUNqQixnQkFBZ0I7RUFDaEIscUNBQXFDO0VBQ3JDLHFCQUFxQixFQUFFOztBQUV6QjtFQUNFLGlDQUFpQztFQUNqQyxxQkFBcUI7RUFDckIsaUJBQWlCO0VBQ2pCLGdDQUFnQyxFQUFFO0VBQ2xDO0lBQ0UsMEJBQTBCLEVBQUU7O0FBRWhDO0VBQ0UsZUFBZTtFQUNmLGdCQUFnQjtFQUNoQixxQ0FBcUMsRUFBRTs7QUFFekM7RUFDRSxpQkFBaUI7RUFDakIscUNBQXFDO0VBQ3JDLGdCQUFnQjtFQUNoQixlQUFlLEVBQUU7O0FBRW5CO0VBQ0UsZUFBZTtFQUNmLGdCQUFnQjtFQUNoQixXQUFXLEVBQUU7O0FBRWY7RUFDRSx3QkFBd0I7RUFDeEIsbUJBQW1CO0VBQ25CLHdCQUF3QjtFQUN4QixnQkFBZ0I7RUFDaEIsc0NBQXNDO0VBQ3RDLGtCQUFrQjtFQUNsQixrQkFBa0I7RUFDbEIsYUFBYTtFQUNiLGFBQWEsRUFBRTs7QUFFakI7RUFDRSwyQkFBMkI7RUFDM0IsZ0JBQWdCO0VBQ2hCLGFBQWE7RUFDYixrQkFBa0I7RUFDbEIsZUFBZSxFQUFFOztBQUVuQjtFQUNFLHVCQUF1QixFQUFFOztBQUUzQjtFQUNFLGFBQWE7RUFDYixhQUFhLEVBQUU7O0FBRWpCO0VBQ0UsMEJBQTBCLEVBQUU7O0FBRTlCO0VBQ0UsY0FBYyxFQUFFOztBQUVsQjtFQUNFLGdCQUFnQjtFQUNoQixlQUFlO0VBQ2YscUNBQXFDO0VBQ3JDLGtCQUFrQixFQUFFOztBQUV0QixzQ0FBc0M7QUFDdEM7RUFDRSxlQUFlO0VBQ2YsMkJBQTJCLEVBQUU7O0FBRS9CO0VBQ0UsaUJBQWlCLEVBQUU7O0FBRXJCO0VBQ0UsZ0JBQWdCLEVBQUU7O0FBRXBCO0VBQ0UsMEJBQTBCO0VBQzFCLGdCQUFnQjtFQUNoQixhQUFhLEVBQUU7O0FBRWpCO0VBQ0UsZ0JBQWdCO0VBQ2hCLGtCQUFrQixFQUFFOztBQUV0QjtFQUNFLG9CQUFvQixFQUFFOztBQUV4QjtFQUNFLGFBQWE7RUFDYixhQUFhO0VBQ2IsZ0JBQWdCLEVBQUU7O0FBRXBCLHFCQUFxQjtBQUNyQjtFQUNFO0lBQ0UsZ0JBQWdCLEVBQUU7RUFDcEI7SUFDRSxnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFLGdCQUFnQixFQUFFLEVBQUU7O0FBRXhCLHVIQUF1SDtBQUN2SDtFQUNFO0lBQ0UsZ0JBQWdCO0lBQ2hCLFdBQVcsRUFBRTtFQUNmOztJQUVFLGdCQUFnQixFQUFFLEVBQUU7O0FBRXhCLG1FQUFtRTtBQUNuRTtFQUNFO0lBQ0UsZ0JBQWdCLEVBQUU7RUFDcEI7SUFDRSxXQUFXLEVBQUU7RUFDZjtJQUNFLGtCQUFrQixFQUFFO0VBQ3RCOztJQUVFLGdCQUFnQixFQUFFO0VBQ3BCO0lBQ0UsV0FBVyxFQUFFO0VBQ2Y7Ozs7Ozs7SUFPRSxjQUFjLEVBQUU7RUFDbEI7O0lBRUUsYUFBYTtJQUNiLGdCQUFnQixFQUFFLEVBQUU7O0FBRXhCO0VBQ0U7SUFDRSxpQkFBaUIsRUFBRTtFQUNyQjtJQUNFLGdCQUFnQixFQUFFO0VBQ3BCO0lBQ0UsV0FBVztJQUNYLGdCQUFnQixFQUFFO0VBQ3BCO0lBQ0UseUJBQXlCLEVBQUU7RUFDN0I7SUFDRSx5QkFBeUI7SUFDekIsbUJBQW1CLEVBQUU7RUFDdkI7SUFDRSxnQkFBZ0IsRUFBRTtFQUNwQjs7OztJQUlFLDJCQUEyQixFQUFFO0VBQy9COzs7O0lBSUUsV0FBVztJQUNYLGFBQWEsRUFBRTtFQUNqQjtJQUNFLGFBQWE7SUFDYixpQkFBaUI7SUFDakIsV0FBVztJQUNYLG1CQUFtQjtJQUNuQixXQUFXLEVBQUU7RUFDZjtJQUNFLFNBQVM7SUFDVCxrQkFBa0IsRUFBRSxFQUFFIiwiZmlsZSI6ImRhc2hib2FyZC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIucHJpbWFyeS1idXR0b24sIC5zZWNvbmRhcnktYnV0dG9uIHtcbiAgYm9yZGVyLXJhZGl1czogMXB4O1xuICBmb250LWZhbWlseTogXCJNb250c2VycmF0XCIsIHNhbnMtc2VyaWY7XG4gIHRleHQtdHJhbnNmb3JtOiBjYXBpdGFsaXplO1xuICB0cmFuc2l0aW9uOiBiYWNrZ3JvdW5kIC40cywgYm94LXNoYWRvdyAuNHMsIGNvbG9yIC40cywgYm9yZGVyIC40cztcbiAgY3Vyc29yOiBwb2ludGVyOyB9XG4gIC5wcmltYXJ5LWJ1dHRvbjpmb2N1cywgLnNlY29uZGFyeS1idXR0b246Zm9jdXMge1xuICAgIG91dGxpbmU6IG5vbmU7IH1cblxuLnByaW1hcnktYnV0dG9uIHtcbiAgYm9yZGVyOiBub25lO1xuICBiYWNrZ3JvdW5kOiAjNzNDNDhEO1xuICBjb2xvcjogd2hpdGU7IH1cbiAgLnByaW1hcnktYnV0dG9uOmhvdmVyIHtcbiAgICBib3gtc2hhZG93OiAwcHggMHB4IDRweCAjNjNBQjgwOyB9XG4gIC5wcmltYXJ5LWJ1dHRvbjphY3RpdmUge1xuICAgIGJveC1zaGFkb3c6IDBweCAwcHggMHB4IHdoaXRlOyB9XG5cbi5zZWNvbmRhcnktYnV0dG9uIHtcbiAgYm9yZGVyOiAxcHggc29saWQgIzMwMzYzRjtcbiAgYmFja2dyb3VuZDogd2hpdGU7XG4gIGNvbG9yOiAjMzAzNjNGOyB9XG4gIC5zZWNvbmRhcnktYnV0dG9uOmhvdmVyIHtcbiAgICBib3gtc2hhZG93OiAwcHggMHB4IDRweCAjNjNBQjgwOyB9XG4gIC5zZWNvbmRhcnktYnV0dG9uOmFjdGl2ZSB7XG4gICAgYm94LXNoYWRvdzogMHB4IDBweCAwcHggd2hpdGU7IH1cbiAgLnNlY29uZGFyeS1idXR0b246aG92ZXIge1xuICAgIGNvbG9yOiAjNjNBQjgwO1xuICAgIGJvcmRlcjogMXB4IHNvbGlkICM2M0FCODA7IH1cblxuLmRhc2hib2FyZC10YWJsZSB7XG4gIG1hcmdpbi1sZWZ0OiAxJTsgfVxuXG5hOmhvdmVyIHtcbiAgdGV4dC1kZWNvcmF0aW9uOiBub25lOyB9XG5cbiNhbGxjYW1wYWlnbnMge1xuICBmb250LXNpemU6IDIycHg7XG4gIGZvbnQtZmFtaWx5OiBcIk9wZW4gU2Fuc1wiLCBzYW5zLXNlcmlmO1xuICBjb2xvcjogIzUxNTg2MjtcbiAgbGV0dGVyLXNwYWNpbmc6IDFweDsgfVxuXG4uZGl2aWRlci10b3Age1xuICBib3JkZXItYm90dG9tOiAxcHggc29saWQgI2QyZDdkYztcbiAgcGFkZGluZy1ib3R0b206IDIwcHg7XG4gIGJvcmRlci1yaWdodDogMXB4IHNvbGlkICNkMmQ3ZGM7IH1cblxuI2NhbXBhaWduLWRldGFpbHMge1xuICBwb3NpdGlvbjogZml4ZWQ7XG4gIHdpZHRoOiAxMDAlO1xuICBib3JkZXItbGVmdDogMXB4IHNvbGlkICNkMmQ3ZGM7XG4gIG1hcmdpbi1sZWZ0OiAtMTRweDtcbiAgcGFkZGluZy1sZWZ0OiAxNHB4O1xuICBtYXJnaW4tYm90dG9tOiAyMHB4O1xuICBwYWRkaW5nLWJvdHRvbTogMTAwJTsgfVxuXG50ZC5jYW1wYWlnbi1kZXRhaWxzLm5hbWUge1xuICB0ZXh0LW92ZXJmbG93OiBlbGxpcHNpcztcbiAgb3ZlcmZsb3c6IGhpZGRlbjsgfVxuXG4uc3RhdHMge1xuICBjb2xvcjogIzczQzQ4RDtcbiAgZm9udC1mYW1pbHk6IFwibW9udHNlcnJhdHNlbWlib2xkXCIsIHNhbnMtc2VyaWY7XG4gIGZvbnQtc2l6ZTogMzVweDtcbiAgZm9udC13ZWlnaHQ6IDYwMDtcbiAgd2lkdGg6IDE2JTsgfVxuXG4uYnV0dG9uLXN0YXRzIHtcbiAgd2lkdGg6IDE3JTsgfVxuXG4uYnV0dG9uLXN0YXRzLWJ0IHtcbiAgd2lkdGg6IDEwMCU7XG4gIG1heC13aWR0aDogMTQ1cHg7XG4gIGhlaWdodDogMzVweDtcbiAgYm9yZGVyOiAwcHg7XG4gIGZvbnQtc2l6ZTogMTJweDtcbiAgbWFyZ2luLXJpZ2h0OiA1cHg7XG4gIGZvbnQtZmFtaWx5OiBcIm1vbnRzZXJyYXRsaWdodFwiLCBzYW5zLXNlcmlmOyB9XG5cbi5sYWJlbC1pbmZvIHtcbiAgY29sb3I6ICMxZDI4NGM7XG4gIGZvbnQtd2VpZ2h0OiA2MDA7XG4gIGZvbnQtc2l6ZTogMTVweDtcbiAgZm9udC1mYW1pbHk6IFwiT3BlbiBTYW5zXCIsIHNhbnMtc2VyaWY7XG4gIHBhZGRpbmctYm90dG9tOiAxMHB4OyB9XG5cbi5jYW1wYWlnbi1ibG9jayB7XG4gIGJvcmRlci1ib3R0b206IDFweCBzb2xpZCAjZDJkN2RjO1xuICBwYWRkaW5nLWJvdHRvbTogMTBweDtcbiAgcGFkZGluZy10b3A6IDBweDtcbiAgYm9yZGVyLXJpZ2h0OiAxcHggc29saWQgI2QyZDdkYzsgfVxuICAuY2FtcGFpZ24tYmxvY2s6aG92ZXIge1xuICAgIGJhY2tncm91bmQtY29sb3I6ICNlYWVhZWE7IH1cblxuI2NhbXBhaWduLXRpdGxlIHtcbiAgY29sb3I6ICMxZDI4NGM7XG4gIGZvbnQtc2l6ZTogMjBweDtcbiAgZm9udC1mYW1pbHk6IFwiT3BlbiBTYW5zXCIsIHNhbnMtc2VyaWY7IH1cblxuLnRpdGxlIHtcbiAgZm9udC13ZWlnaHQ6IDYwMDtcbiAgZm9udC1mYW1pbHk6IFwiT3BlbiBTYW5zXCIsIHNhbnMtc2VyaWY7XG4gIGZvbnQtc2l6ZTogMTVweDtcbiAgY29sb3I6ICMxZDI4NGM7IH1cblxuI3N1bW1hcnkge1xuICBjb2xvcjogIzUxNTg2MjtcbiAgZm9udC1zaXplOiAxM3B4O1xuICB3aWR0aDogNzAlOyB9XG5cbi5vcHRpb24tYnV0dG9uIHtcbiAgYm9yZGVyOiAxcHggc29saWQgYmxhY2s7XG4gIGJvcmRlci1yYWRpdXM6IDBweDtcbiAgYmFja2dyb3VuZC1jb2xvcjogd2hpdGU7XG4gIGZvbnQtc2l6ZTogMTNweDtcbiAgZm9udC1mYW1pbHk6IFwiTW9udHNlcnJhdFwiLCBzYW5zLXNlcmlmO1xuICBwYWRkaW5nLWxlZnQ6IDFweDtcbiAgbWFyZ2luLXJpZ2h0OiA1cHg7XG4gIGhlaWdodDogNDBweDtcbiAgd2lkdGg6IDEzMHB4OyB9XG5cbmkuaWNvbi5wZS10cmFzaC5saXN0LWRhc2hib2FyZCB7XG4gIHRleHQtYWxpZ246IC13ZWJraXQtY2VudGVyO1xuICBmb250LXNpemU6IDIxcHg7XG4gIHdpZHRoOiAxNTBweDtcbiAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gIGNvbG9yOiAjMzAzNjNGOyB9XG5cbi52aWV3LWJ1dHRvbi1hcmVhIHtcbiAgdmVydGljYWwtYWxpZ246IGJvdHRvbTsgfVxuXG4udmlldy1jYW1wYWlnbi1idG4ge1xuICB3aWR0aDogMTMwcHg7XG4gIGhlaWdodDogMzVweDsgfVxuXG4uY2FtcGFpZ24tYmxvY2sge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmNmY2ZjOyB9XG5cbmJ1dHRvbjpmb2N1cyB7XG4gIG91dGxpbmU6IG5vbmU7IH1cblxuLmNhbXBhaWduLWRldGFpbHMge1xuICBmb250LXNpemU6IDE3cHg7XG4gIGNvbG9yOiAjMWQyODRjO1xuICBmb250LWZhbWlseTogXCJPcGVuIFNhbnNcIiwgc2Fucy1zZXJpZjtcbiAgcGFkZGluZy10b3A6IDMwcHg7IH1cblxuLypBcmUgeW91IHN1cmUgZGVsZXRlIGJ1dHRvbiBwb3AgdXAgKi9cbi5kZWxldGUtaWNvbi1wb3B1cC1kaXYge1xuICBtYXJnaW4tdG9wOiAzJTtcbiAgdGV4dC1hbGlnbjogLXdlYmtpdC1jZW50ZXI7IH1cblxuLnRyYXNoLWljb24ge1xuICBtYXgtd2lkdGg6IDEwMHB4OyB9XG5cbi5kZWxldGUtbGlzdC10ZXh0IHtcbiAgZm9udC1zaXplOiAyNHB4OyB9XG5cbi5kZWxldGUtcG9wdXAtZGV0YWlsIHtcbiAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgZm9udC1zaXplOiAxOHB4O1xuICBjb2xvcjogYmxhY2s7IH1cblxuLmRlbGV0ZS1idG4tZGl2IHtcbiAgcGFkZGluZy10b3A6IDElO1xuICBtYXJnaW4tYm90dG9tOiAzJTsgfVxuXG4uZGVsZXRlLXllcy5wcmltYXJ5LWJ1dHRvbiB7XG4gIGJhY2tncm91bmQ6ICNlMjVjNjU7IH1cblxuLmRlbGV0ZS15ZXMsIC5kZWxldGUtbm8ge1xuICB3aWR0aDogMTMwcHg7XG4gIGhlaWdodDogMzVweDtcbiAgbWFyZ2luLWxlZnQ6IDElOyB9XG5cbi8qTGFwdG9wIHRvIFRhYmxldCAqL1xuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiAxMDI0cHgpIGFuZCAobWluLXdpZHRoOiA3NjhweCkge1xuICAuc3RhdHMge1xuICAgIGZvbnQtc2l6ZTogMzBweDsgfVxuICAuY2FtcGFpZ24tZGV0YWlscyB7XG4gICAgZm9udC1zaXplOiAxNXB4OyB9XG4gIC5sYWJlbC1pbmZvIHtcbiAgICBmb250LXNpemU6IDE1cHg7IH0gfVxuXG4vKkxhcHRvcCB0byBhIHNtYWxsZXIgc2l6ZS4gU3RpbGwgbGFyZ2UgZW5vdWdoIHRvIGtlZXAgYWxsIGluZm8gb24gc2NyZWVuIGJ1dCB3ZSBoYXZlIHRvIG1ha2UgaXQganVzdCBhIGJpdCBzbWFsbGVyLiAqL1xuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiA3NjhweCkgYW5kIChtaW4td2lkdGg6IDYwMHB4KSB7XG4gIC5zdGF0cyB7XG4gICAgZm9udC1zaXplOiAyMHB4O1xuICAgIHdpZHRoOiAyMiU7IH1cbiAgLmNhbXBhaWduLWRldGFpbHMsXG4gIC5sYWJlbC1pbmZvIHtcbiAgICBmb250LXNpemU6IDEzcHg7IH0gfVxuXG4vKkFueXRoaW5nIHNtYWxsZXIgdGhlbiB3ZSBzdGFydCBnZXR0aW5nIHJpZCBvZiBzb21lIGluZm9ybWF0aW9uICovXG5AbWVkaWEgb25seSBzY3JlZW4gYW5kIChtYXgtd2lkdGg6IDYwMHB4KSB7XG4gIC5zdGF0cyB7XG4gICAgZm9udC1zaXplOiAyMHB4OyB9XG4gIC5jYW1wYWlnbi1ibG9jayB7XG4gICAgcGFkZGluZzogMDsgfVxuICAuY2FtcGFpZ24tZGV0YWlscyB7XG4gICAgcGFkZGluZy10b3A6IDIuNSU7IH1cbiAgLmNhbXBhaWduLWRldGFpbHMsXG4gIC5sYWJlbC1pbmZvIHtcbiAgICBmb250LXNpemU6IDEzcHg7IH1cbiAgLmRlbGV0ZS1idG4tYXJlYSB7XG4gICAgd2lkdGg6IDIwJTsgfVxuICAuYmxhbmstdGQubW9iaWxlLFxuICAuc3RhdHMubW9iaWxlLW9mZi5pbXByZXNzaW9ucyxcbiAgLmxhYmVsLWluZm8ubW9iaWxlLW9mZi5pbXByZXNzaW9ucyxcbiAgLmxhYmVsLWluZm8ucmVhY2gsXG4gIC5ibGFuay10ZCxcbiAgLmJsYW5rLXRkLm1vYmlsZSxcbiAgLnN0YXRzLnJlYWNoIHtcbiAgICBkaXNwbGF5OiBub25lOyB9XG4gIC5idXR0b24tc3RhdHMtYnQsXG4gIC52aWV3LWNhbXBhaWduLWJ0biB7XG4gICAgd2lkdGg6IDEzNXB4O1xuICAgIGZvbnQtc2l6ZTogMTFweDsgfSB9XG5cbkBtZWRpYSAobWF4LXdpZHRoOiA0ODBweCkge1xuICAuZGFzaGJvYXJkLXRhYmxlIHtcbiAgICBtYXJnaW4tbGVmdDogNXB4OyB9XG4gIC5zdGF0cyB7XG4gICAgZm9udC1zaXplOiAyMnB4OyB9XG4gIC5idXR0b24tc3RhdHMtYnQge1xuICAgIHdpZHRoOiA5MSU7XG4gICAgZm9udC1zaXplOiAxMHB4OyB9XG4gIC5kZWxldGUtYnRuLWFyZWEge1xuICAgIHZlcnRpY2FsLWFsaWduOiBiYXNlbGluZTsgfVxuICAubGFiZWwtaW5mbyB7XG4gICAgdmVydGljYWwtYWxpZ246IHRleHQtdG9wO1xuICAgIHBhZGRpbmctYm90dG9tOiA1JTsgfVxuICAuY2FtcGFpZ24tZGV0YWlscyB7XG4gICAgcGFkZGluZy10b3A6IDclOyB9XG4gIHRkLnN0YXRzLFxuICAubGFiZWwtaW5mbyxcbiAgLmNhbXBhaWduLWRldGFpbHMsXG4gIC5kZWxldGUtYnRuLWFyZWEge1xuICAgIHRleHQtYWxpZ246IC13ZWJraXQtY2VudGVyOyB9XG4gIC5jYW1wYWlnbi1kZXRhaWxzLFxuICAuZGVsZXRlLWJ0bi1hcmVhLFxuICB0ZC5jYW1wYWlnbi1kZXRhaWxzLm5hbWUsXG4gIC5zdGF0cyB7XG4gICAgd2lkdGg6IDE1JTtcbiAgICBtYXgtd2lkdGg6IDA7IH1cbiAgLmJ1dHRvbi1zdGF0cyB7XG4gICAgbWF4LXdpZHRoOiAwO1xuICAgIHBhZGRpbmctcmlnaHQ6IDA7XG4gICAgd2lkdGg6IDIwJTtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgdG9wOiAtMTVweDsgfVxuICBpLmljb24ucGUtdHJhc2gubGlzdC1kYXNoYm9hcmQge1xuICAgIHdpZHRoOiAwO1xuICAgIG1hcmdpbi1sZWZ0OiAtMzAlOyB9IH1cbiJdfQ== */