
a:hover{
    text-decoration:none;
}
#allcampaigns{
    font-size: 22px;
    font-family: 'open sans';
    color: #515862;
    letter-spacing: 1px;
}

.divider-top{
    border-bottom:1px solid rgb(210,215,220);
    padding-bottom:20px;
    border-right:1px solid rgb(210,215,220);
}

#campaign-details{
    position: fixed;
    width: 21%;
    border-left: 1px solid rgb(210,215,220);
    margin-left: -14px;
    padding-left: 14px;
    margin-bottom: 20px;
    padding-bottom: 100%;
}

td.campaign-details.name{
  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.stats{
    color: #73C48D;
    font-family: 'montserratsemibold';
    font-size: 3em;
    padding-right: 17px;
    font-weight: 600;
    padding-top: 10px;
}

.label-info{

    color: rgb(29, 40, 76);
    font-weight: 600;
    font-size: 15px;
    font-family: 'open sans';
    padding-bottom: 10px;

}

.campaign-block{
    border-bottom: 1px solid rgb(210,215,220);
    padding-bottom: 10px;
    padding-top: 0px;
    border-right:1px solid rgb(210,215,220);
}

#campaign-title{
color: rgb(29, 40, 76);
font-size: 20px;
font-family:'open sans';

}

.title{
    font-weight:600;
    font-family:'open sans';
    font-size:15px;
    color:rgb(29, 40, 76);
}

#summary{
    color:#515862;
    font-size:13px;
    width: 70%;
}

.option-button{
    border: 1px solid black;
    border-radius: 0px;
    background-color: white;
    font-size: 13px;
    font-family: 'montserratthin';
    padding-left: 1px;
    margin-right: 5px;
    height: 40px;
    width: 130px;
}
.campaign-block:hover{
    background-color:#eaeaea;
}
.other-nav{
    padding-bottom:21px;
}

table{
    margin-left: 11px;
}

.campaign-details{
font-size:17px;
color:rgb(29, 40, 76);
font-family:'open sans';
padding-top: 30px;
}

i.fa.fa-exclamation-triangle {
  font-size: 22px;
  color: #EC3241;
}
