.primary-button, .secondary-button {
  border-radius: 1px;
  font-family: "Montserrat", sans-serif;
  transition: background .4s, box-shadow .4s, color .4s, border .4s;
  cursor: pointer; }
  .primary-button:focus, .secondary-button:focus {
    outline: none; }

.remove-influencer {
  font-size: 21px;
  color: #73C48D;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  border: 2px solid;
  border-radius: 50%;
  transition: color .5s ease;
  cursor: pointer; }
  .remove-influencer:hover {
    color: #e74845; }

.primary-button {
  border: none;
  background: #73C48D;
  color: white; }
  .primary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .primary-button:active {
    box-shadow: 0px 0px 0px white; }

.secondary-button {
  border: 1px solid #30363F;
  background: white;
  color: #30363F; }
  .secondary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .secondary-button:active {
    box-shadow: 0px 0px 0px white; }
  .secondary-button:hover {
    color: #63AB80;
    border: 1px solid #63AB80; }

.engagement-count {
  text-align: center;
  font-size: 14px;
  font-family: "montserratlight", sans-serif;
  font-weight: 200;
  margin-top: -17px;
  padding-bottom: 5px;
  color: #30363F; }

.follower-count {
  text-align: center;
  font-size: 14px;
  font-family: "montserratlight", sans-serif;
  font-weight: 200;
  margin-top: -4px;
  color: #30363F; }

.influencer-card-discover {
  height: 65%;
  border: 1px solid #d2d7dc;
  float: left;
  width: 88%;
  margin-bottom: 30px;
  padding-right: 0px;
  padding-left: 0px; }
  .influencer-card-discover:hover {
    border: 1px solid #73C48D; }

.influencer-image-card {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0 33%;
  object-position: 0 33%; }

.influ-bottom {
  height: 170px; }

.influencer-icons {
  text-align: center;
  margin-left: 8px;
  padding-top: 6px; }

.influencer-box {
  padding-left: 0px;
  padding-right: 0px; }

.handle-info {
  text-align: center;
  padding-bottom: 6px;
  min-height: 35px; }

.handle-text {
  font-family: "montserratlight", sans-serif;
  font-size: 19px;
  color: #30363F; }

.influencer-card-icon {
  height: 12px;
  width: 12px;
  display: inline;
  margin-right: 15px;
  margin-bottom: 5px; }

.invite {
  height: 35px;
  padding-top: 5px;
  width: 36px;
  border-radius: 32px;
  background-color: #e0e0e0;
  margin: 0 auto;
  text-align: center;
  float: none;
  margin-top: 10px; }

.total-post {
  color: #73C48D;
  text-align: center; }

.x-button-container {
  width: 30px;
  position: absolute;
  top: 75%;
  right: 3%; }

.remove-influencer {
  font-size: 18px;
  text-align: center; }

@media only screen and (max-width: 767px) {
  .influencer-card-discover {
    width: 100%; } }
