.primary-button, .secondary-button {
  border-radius: 1px;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: background .4s, box-shadow .4s, color .4s, border .4s;
  transition: background .4s, box-shadow .4s, color .4s, border .4s;
  cursor: pointer; }
  .primary-button:focus, .secondary-button:focus {
    outline: none; }

.primary-button {
  border: none;
  background: #73C48D;
  color: white; }
  .primary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .primary-button:active {
    box-shadow: 0px 0px 0px white; }

.secondary-button {
  border: 1px solid #30363F;
  background: white;
  color: #30363F; }
  .secondary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .secondary-button:active {
    box-shadow: 0px 0px 0px white; }
  .secondary-button:hover {
    color: #63AB80;
    border: 1px solid #63AB80; }

.influencer-card-container {
  padding-top: 35px;
  margin-left: 55px; }

.button-container {
  padding-left: 0px; }

.platform-container {
  text-align: center; }

.social-container {
  margin-top: 25%; }

.social-content {
  padding: 0;
  margin-top: 3%;
  margin-left: 2%; }

.social-buttons {
  display: none; }

.influencer-prof {
  font-size: 28px; }
  .influencer-prof:hover {
    color: #73C48D; }

.influencer-prof.yt {
  font-size: 36px; }

.followers-text {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "montserratlight", sans-serif;
  letter-spacing: 0.5px;
  color: #30363F; }

.inf-number {
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  line-height: 18px;
  color: #1F232A;
  letter-spacing: 1px;
  margin-bottom: 4%; }

.inf-number.youtube {
  margin-bottom: 2.5%; }

.social-button {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  color: #30363F;
  padding-left: 11px;
  background-color: #A2A8B1;
  border: 1px;
  float: left;
  margin-bottom: 8px;
  padding-top: 5px;
  padding-bottom: 31px; }

.social-btn-text {
  display: inline; }

.card-discover {
  border: 1px solid #d2d7dc;
  float: left;
  width: 100%; }

.profile-tag-margin {
  margin-bottom: 5%; }

.influencer-card-discover:hover {
  border: 1px solid #73C48D; }

.checkmark-profile {
  display: -webkit-box; }

.profile-card {
  height: 180px; }

.tag-container {
  margin-top: 20px;
  text-align: -webkit-center; }

.tag-btn {
  color: #30363F; }

.tag {
  text-align: center;
  text-transform: uppercase;
  width: 132px;
  max-width: 100%;
  height: 30px;
  font-size: 14px;
  border: 1px solid black;
  background-color: white;
  border-radius: 0;
  line-height: 23px;
  margin-top: 3%;
  margin-right: 2%; }

.fb-feed-card {
  width: 96%;
  margin-bottom: 5%;
  height: 330px;
  border: 1px solid #d2d7dc;
  border-radius: 3px;
  color: #1F232A; }
  .fb-feed-card:hover {
    border: 1px solid #73C48D; }

.fb-card {
  height: 375px;
  width: 425px;
  max-width: 100%;
  max-height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 12%;
     object-position: 0 12%;
  background-position: 50%;
  background-image: url("/assets/images/default-photo.png"); }

#facebook,
.fb-feed-div {
  padding: 0; }

.interaction-info {
  text-align: left;
  border-top: 1px solid #d2d7dc;
  height: 50px;
  font-size: 12px;
  padding: 5px 10px; }

.thumb-green {
  width: 18px; }

img.share-green {
  width: 24px; }

.comment-icon {
  width: 20px; }

.likes,
.comments,
.shares {
  display: inline-block;
  margin-right: 3%; }

.comment-icon,
.thumb-green,
.share-green {
  margin-right: 2px; }

.fb-caption {
  padding: 5px 10px;
  line-height: 22px;
  height: 55px;
  font-size: 12px;
  text-align: -webkit-left;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "montserratlight", sans-serif; }

@media (min-width: 768px) and (max-width: 991px) {
  .influencer-card-container {
    padding-right: 0;
    margin-left: 30px; }
  .col-md-8.social-collage {
    margin-left: 3%; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-3.influencer-card-container {
    width: 31.3%; } }

@media (max-width: 480px) {
  .influencer-card-container {
    margin-left: 0;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px; }
  div.social-btn-text,
  .followers-text {
    display: none; }
  .icons {
    padding-top: 10px; }
  .tag {
    float: none; }
  .social-button {
    height: 37px; }
  .platform-container {
    margin-top: 6%; }
  .instagram-logo-green,
  .twitter-logo-green,
  .facebook-logo-green {
    width: 30px; }
  .youtube-logo-green {
    width: 43px; }
  i.switch.show-facebook.influencer-card-icon.icon.bd-facebook,
  i.switch.show-instagram.influencer-card-icon.icon.bd-instagram,
  i.switch.show-twitter.influencer-card-icon.icon.bd-twitter {
    font-size: 19px; }
  .handle-text {
    font-size: 23px; }
  .follower-count,
  .engagement-count {
    font-size: 17px; }
  .inf-number {
    font-size: 19px;
    margin-bottom: 13%; }
  i.button-icon.icon.bd-instagram,
  i.button-icon.icon.bd-facebook,
  i.button-icon.icon.bd-twitter {
    font-size: 19px;
    vertical-align: middle;
    margin-left: 12px; }
  .button-container {
    padding-right: 8px; }
  .image-container {
    padding-right: 0; }
  .button-container.twitter-platform {
    padding-right: 0; }
  div#facebook {
    margin-top: -20px; }
  .fb-feed-card {
    height: 385px;
    width: 100%; }
  .fb-card {
    max-height: 295px; } }

/* landscape mobile viewz */
@media (max-width: 740px) and (orientation: landscape) {
  .influencer-card-container {
    margin-left: 13%; } }

@media (min-width: 600px) and (max-width: 770px) {
  .col-sm-9.social-content,
  .col-sm-9.social-buttons {
    float: right; } }

@media (min-width: 768px) and (max-width: 831px) {
  .profile-card {
    height: 220px; }
  .checkmark-profile {
    margin-left: 38%; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .influencer-card-container {
    margin-left: 12px; } }

.influencer-image-card {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 30%;
  object-position: 30%; }

.button-option-text {
  height: 0px;
  color: white;
  font-family: "montserratlight", sans-serif;
  font-size: 13px;
  padding-top: 2px; }

.image-container {
  padding-left: 0px;
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 15px; }

.image-size {
  padding-left: 0px;
  padding-right: 0px;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  -o-object-position: 0 12%;
  object-position: 0 12%; }

.social-buttons {
  padding-top: 20px;
  padding-bottom: 20px; }
