.primary-button, .secondary-button {
  border-radius: 1px;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: background .4s, box-shadow .4s, color .4s, border .4s;
  transition: background .4s, box-shadow .4s, color .4s, border .4s;
  cursor: pointer; }
  .primary-button:focus, .secondary-button:focus {
    outline: none; }

.primary-button {
  border: none;
  background: #73C48D;
  color: white; }
  .primary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .primary-button:active {
    box-shadow: 0px 0px 0px white; }

.secondary-button {
  border: 1px solid #30363F;
  background: white;
  color: #30363F; }
  .secondary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .secondary-button:active {
    box-shadow: 0px 0px 0px white; }
  .secondary-button:hover {
    color: #63AB80;
    border: 1px solid #63AB80; }

.influencer-card-container {
  padding-top: 35px;
  margin-left: 55px; }

.button-container {
  padding-left: 0px; }

.platform-container {
  text-align: center; }

.social-container {
  margin-top: 25%; }

.social-content {
  padding: 0;
  margin-top: 3%;
  margin-left: 2%; }

.social-buttons {
  display: none; }

.influencer-prof {
  font-size: 28px; }
  .influencer-prof:hover {
    color: #73C48D; }

.influencer-prof.yt {
  font-size: 36px; }

.followers-text {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "montserratlight", sans-serif;
  letter-spacing: 0.5px;
  color: #30363F; }

.inf-number {
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  line-height: 18px;
  color: #1F232A;
  letter-spacing: 1px;
  margin-bottom: 4%; }

.inf-number.youtube {
  margin-bottom: 2.5%; }

.social-button {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  color: #30363F;
  padding-left: 11px;
  background-color: #A2A8B1;
  border: 1px;
  float: left;
  margin-bottom: 8px;
  padding-top: 5px;
  padding-bottom: 31px; }

.social-btn-text {
  display: inline; }

.card-discover {
  border: 1px solid #d2d7dc;
  float: left;
  width: 100%; }

.profile-tag-margin {
  margin-bottom: 5%; }

.influencer-card-discover:hover {
  border: 1px solid #73C48D; }

.checkmark-profile {
  display: -webkit-box; }

.profile-card {
  height: 180px; }

.tag-container {
  margin-top: 20px;
  text-align: -webkit-center; }

.tag-btn {
  color: #30363F; }

.tag {
  text-align: center;
  text-transform: uppercase;
  width: 132px;
  max-width: 100%;
  height: 30px;
  font-size: 14px;
  border: 1px solid black;
  background-color: white;
  border-radius: 0;
  line-height: 23px;
  margin-top: 3%;
  margin-right: 2%; }

.fb-feed-card {
  width: 96%;
  margin-bottom: 5%;
  height: 330px;
  border: 1px solid #d2d7dc;
  border-radius: 3px;
  color: #1F232A; }
  .fb-feed-card:hover {
    border: 1px solid #73C48D; }

.fb-card {
  height: 375px;
  width: 425px;
  max-width: 100%;
  max-height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 12%;
     object-position: 0 12%;
  background-position: 50%;
  background-image: url("/assets/images/default-photo.png"); }

#facebook,
.fb-feed-div {
  padding: 0; }

.interaction-info {
  text-align: left;
  border-top: 1px solid #d2d7dc;
  height: 50px;
  font-size: 12px;
  padding: 5px 10px; }

.thumb-green {
  width: 18px; }

img.share-green {
  width: 24px; }

.comment-icon {
  width: 20px; }

.likes,
.comments,
.shares {
  display: inline-block;
  margin-right: 3%; }

.comment-icon,
.thumb-green,
.share-green {
  margin-right: 2px; }

.fb-caption {
  padding: 5px 10px;
  line-height: 22px;
  height: 55px;
  font-size: 12px;
  text-align: -webkit-left;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "montserratlight", sans-serif; }

@media (min-width: 768px) and (max-width: 991px) {
  .influencer-card-container {
    padding-right: 0;
    margin-left: 30px; }
  .col-md-8.social-collage {
    margin-left: 3%; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-3.influencer-card-container {
    width: 31.3%; } }

@media (max-width: 480px) {
  .influencer-card-container {
    margin-left: 0;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px; }
  div.social-btn-text,
  .followers-text {
    display: none; }
  .icons {
    padding-top: 10px; }
  .tag {
    float: none; }
  .social-button {
    height: 37px; }
  .platform-container {
    margin-top: 6%; }
  .instagram-logo-green,
  .twitter-logo-green,
  .facebook-logo-green {
    width: 30px; }
  .youtube-logo-green {
    width: 43px; }
  i.switch.show-facebook.inst-icon.icon.bd-facebook,
  i.switch.show-instagram.inst-icon.icon.bd-instagram,
  i.switch.show-twitter.inst-icon.icon.bd-twitter {
    font-size: 19px; }
  .insthandle-text {
    font-size: 23px; }
  .follower-count,
  .engagement-count {
    font-size: 17px; }
  .inf-number {
    font-size: 19px;
    margin-bottom: 13%; }
  i.button-icon.icon.bd-instagram,
  i.button-icon.icon.bd-facebook,
  i.button-icon.icon.bd-twitter {
    font-size: 19px;
    vertical-align: middle;
    margin-left: 12px; }
  .button-container {
    padding-right: 8px; }
  .image-container {
    padding-right: 0; }
  .button-container.twitter-platform {
    padding-right: 0; }
  div#facebook {
    margin-top: -20px; }
  .fb-feed-card {
    height: 385px;
    width: 100%; }
  .fb-card {
    max-height: 295px; } }

/* landscape mobile viewz */
@media (max-width: 740px) and (orientation: landscape) {
  .influencer-card-container {
    margin-left: 13%; } }

@media (min-width: 600px) and (max-width: 770px) {
  .col-sm-9.social-content,
  .col-sm-9.social-buttons {
    float: right; } }

@media (min-width: 768px) and (max-width: 831px) {
  .profile-card {
    height: 220px; }
  .checkmark-profile {
    margin-left: 38%; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .influencer-card-container {
    margin-left: 12px; } }

.influencer-image-card {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 30%;
  object-position: 30%; }

.button-option-text {
  height: 0px;
  color: white;
  font-family: "montserratlight", sans-serif;
  font-size: 13px;
  padding-top: 2px; }

.image-container {
  padding-left: 0px;
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 15px; }

.image-size {
  padding-left: 0px;
  padding-right: 0px;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  -o-object-position: 0 12%;
  object-position: 0 12%; }

.social-buttons {
  padding-top: 20px;
  padding-bottom: 20px; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImluZmx1ZW5jZXItcHJvZmlsZS5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDRSxtQkFBbUI7RUFDbkIsc0NBQXNDO0VBQ3RDLDBFQUFrRTtFQUFsRSxrRUFBa0U7RUFDbEUsZ0JBQWdCLEVBQUU7RUFDbEI7SUFDRSxjQUFjLEVBQUU7O0FBRXBCO0VBQ0UsYUFBYTtFQUNiLG9CQUFvQjtFQUNwQixhQUFhLEVBQUU7RUFDZjtJQUNFLGdDQUFnQyxFQUFFO0VBQ3BDO0lBQ0UsOEJBQThCLEVBQUU7O0FBRXBDO0VBQ0UsMEJBQTBCO0VBQzFCLGtCQUFrQjtFQUNsQixlQUFlLEVBQUU7RUFDakI7SUFDRSxnQ0FBZ0MsRUFBRTtFQUNwQztJQUNFLDhCQUE4QixFQUFFO0VBQ2xDO0lBQ0UsZUFBZTtJQUNmLDBCQUEwQixFQUFFOztBQUVoQztFQUNFLGtCQUFrQjtFQUNsQixrQkFBa0IsRUFBRTs7QUFFdEI7RUFDRSxrQkFBa0IsRUFBRTs7QUFFdEI7RUFDRSxtQkFBbUIsRUFBRTs7QUFFdkI7RUFDRSxnQkFBZ0IsRUFBRTs7QUFFcEI7RUFDRSxXQUFXO0VBQ1gsZUFBZTtFQUNmLGdCQUFnQixFQUFFOztBQUVwQjtFQUNFLGNBQWMsRUFBRTs7QUFFbEI7RUFDRSxnQkFBZ0IsRUFBRTtFQUNsQjtJQUNFLGVBQWUsRUFBRTs7QUFFckI7RUFDRSxnQkFBZ0IsRUFBRTs7QUFFcEI7RUFDRSxnQkFBZ0I7RUFDaEIsMEJBQTBCO0VBQzFCLDJDQUEyQztFQUMzQyxzQkFBc0I7RUFDdEIsZUFBZSxFQUFFOztBQUVuQjtFQUNFLGdCQUFnQjtFQUNoQixzQ0FBc0M7RUFDdEMsa0JBQWtCO0VBQ2xCLGVBQWU7RUFDZixvQkFBb0I7RUFDcEIsa0JBQWtCLEVBQUU7O0FBRXRCO0VBQ0Usb0JBQW9CLEVBQUU7O0FBRXhCO0VBQ0UsZ0JBQWdCO0VBQ2hCLHNDQUFzQztFQUN0QyxlQUFlO0VBQ2YsbUJBQW1CO0VBQ25CLDBCQUEwQjtFQUMxQixZQUFZO0VBQ1osWUFBWTtFQUNaLG1CQUFtQjtFQUNuQixpQkFBaUI7RUFDakIscUJBQXFCLEVBQUU7O0FBRXpCO0VBQ0UsZ0JBQWdCLEVBQUU7O0FBRXBCO0VBQ0UsMEJBQTBCO0VBQzFCLFlBQVk7RUFDWixZQUFZLEVBQUU7O0FBRWhCO0VBQ0Usa0JBQWtCLEVBQUU7O0FBRXRCO0VBQ0UsMEJBQTBCLEVBQUU7O0FBRTlCO0VBQ0UscUJBQXFCLEVBQUU7O0FBRXpCO0VBQ0UsY0FBYyxFQUFFOztBQUVsQjtFQUNFLGlCQUFpQjtFQUNqQiwyQkFBMkIsRUFBRTs7QUFFL0I7RUFDRSxlQUFlLEVBQUU7O0FBRW5CO0VBQ0UsbUJBQW1CO0VBQ25CLDBCQUEwQjtFQUMxQixhQUFhO0VBQ2IsZ0JBQWdCO0VBQ2hCLGFBQWE7RUFDYixnQkFBZ0I7RUFDaEIsd0JBQXdCO0VBQ3hCLHdCQUF3QjtFQUN4QixpQkFBaUI7RUFDakIsa0JBQWtCO0VBQ2xCLGVBQWU7RUFDZixpQkFBaUIsRUFBRTs7QUFFckI7RUFDRSxXQUFXO0VBQ1gsa0JBQWtCO0VBQ2xCLGNBQWM7RUFDZCwwQkFBMEI7RUFDMUIsbUJBQW1CO0VBQ25CLGVBQWUsRUFBRTtFQUNqQjtJQUNFLDBCQUEwQixFQUFFOztBQUVoQztFQUNFLGNBQWM7RUFDZCxhQUFhO0VBQ2IsZ0JBQWdCO0VBQ2hCLGtCQUFrQjtFQUNsQixxQkFBa0I7S0FBbEIsa0JBQWtCO0VBQ2xCLDBCQUF1QjtLQUF2Qix1QkFBdUI7RUFDdkIseUJBQXlCO0VBQ3pCLDBEQUEwRCxFQUFFOztBQUU5RDs7RUFFRSxXQUFXLEVBQUU7O0FBRWY7RUFDRSxpQkFBaUI7RUFDakIsOEJBQThCO0VBQzlCLGFBQWE7RUFDYixnQkFBZ0I7RUFDaEIsa0JBQWtCLEVBQUU7O0FBRXRCO0VBQ0UsWUFBWSxFQUFFOztBQUVoQjtFQUNFLFlBQVksRUFBRTs7QUFFaEI7RUFDRSxZQUFZLEVBQUU7O0FBRWhCOzs7RUFHRSxzQkFBc0I7RUFDdEIsaUJBQWlCLEVBQUU7O0FBRXJCOzs7RUFHRSxrQkFBa0IsRUFBRTs7QUFFdEI7RUFDRSxrQkFBa0I7RUFDbEIsa0JBQWtCO0VBQ2xCLGFBQWE7RUFDYixnQkFBZ0I7RUFDaEIseUJBQXlCO0VBQ3pCLHdCQUF3QjtFQUN4QixpQkFBaUI7RUFDakIsMkNBQTJDLEVBQUU7O0FBRS9DO0VBQ0U7SUFDRSxpQkFBaUI7SUFDakIsa0JBQWtCLEVBQUU7RUFDdEI7SUFDRSxnQkFBZ0IsRUFBRSxFQUFFOztBQUV4QjtFQUNFO0lBQ0UsYUFBYSxFQUFFLEVBQUU7O0FBRXJCO0VBQ0U7SUFDRSxlQUFlO0lBQ2Ysa0JBQWtCO0lBQ2xCLG1CQUFtQjtJQUNuQixvQkFBb0IsRUFBRTtFQUN4Qjs7SUFFRSxjQUFjLEVBQUU7RUFDbEI7SUFDRSxrQkFBa0IsRUFBRTtFQUN0QjtJQUNFLFlBQVksRUFBRTtFQUNoQjtJQUNFLGFBQWEsRUFBRTtFQUNqQjtJQUNFLGVBQWUsRUFBRTtFQUNuQjs7O0lBR0UsWUFBWSxFQUFFO0VBQ2hCO0lBQ0UsWUFBWSxFQUFFO0VBQ2hCOzs7SUFHRSxnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFLGdCQUFnQixFQUFFO0VBQ3BCOztJQUVFLGdCQUFnQixFQUFFO0VBQ3BCO0lBQ0UsZ0JBQWdCO0lBQ2hCLG1CQUFtQixFQUFFO0VBQ3ZCOzs7SUFHRSxnQkFBZ0I7SUFDaEIsdUJBQXVCO0lBQ3ZCLGtCQUFrQixFQUFFO0VBQ3RCO0lBQ0UsbUJBQW1CLEVBQUU7RUFDdkI7SUFDRSxpQkFBaUIsRUFBRTtFQUNyQjtJQUNFLGlCQUFpQixFQUFFO0VBQ3JCO0lBQ0Usa0JBQWtCLEVBQUU7RUFDdEI7SUFDRSxjQUFjO0lBQ2QsWUFBWSxFQUFFO0VBQ2hCO0lBQ0Usa0JBQWtCLEVBQUUsRUFBRTs7QUFFMUIsNEJBQTRCO0FBQzVCO0VBQ0U7SUFDRSxpQkFBaUIsRUFBRSxFQUFFOztBQUV6QjtFQUNFOztJQUVFLGFBQWEsRUFBRSxFQUFFOztBQUVyQjtFQUNFO0lBQ0UsY0FBYyxFQUFFO0VBQ2xCO0lBQ0UsaUJBQWlCLEVBQUUsRUFBRTs7QUFFekI7RUFDRTtJQUNFLGtCQUFrQixFQUFFLEVBQUU7O0FBRTFCO0VBQ0UsZ0JBQWdCO0VBQ2hCLFlBQVk7RUFDWixxQkFBcUI7RUFDckIsa0JBQWtCO0VBQ2xCLHdCQUF3QjtFQUN4QixxQkFBcUIsRUFBRTs7QUFFekI7RUFDRSxZQUFZO0VBQ1osYUFBYTtFQUNiLDJDQUEyQztFQUMzQyxnQkFBZ0I7RUFDaEIsaUJBQWlCLEVBQUU7O0FBRXJCO0VBQ0Usa0JBQWtCO0VBQ2xCLGlCQUFpQjtFQUNqQixnQkFBZ0I7RUFDaEIsb0JBQW9CLEVBQUU7O0FBRXhCO0VBQ0Usa0JBQWtCO0VBQ2xCLG1CQUFtQjtFQUNuQixjQUFjO0VBQ2QscUJBQXFCO0VBQ3JCLGtCQUFrQjtFQUNsQixZQUFZO0VBQ1osMEJBQTBCO0VBQzFCLHVCQUF1QixFQUFFOztBQUUzQjtFQUNFLGtCQUFrQjtFQUNsQixxQkFBcUIsRUFBRSIsImZpbGUiOiJpbmZsdWVuY2VyLXByb2ZpbGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLnByaW1hcnktYnV0dG9uLCAuc2Vjb25kYXJ5LWJ1dHRvbiB7XG4gIGJvcmRlci1yYWRpdXM6IDFweDtcbiAgZm9udC1mYW1pbHk6IFwiTW9udHNlcnJhdFwiLCBzYW5zLXNlcmlmO1xuICB0cmFuc2l0aW9uOiBiYWNrZ3JvdW5kIC40cywgYm94LXNoYWRvdyAuNHMsIGNvbG9yIC40cywgYm9yZGVyIC40cztcbiAgY3Vyc29yOiBwb2ludGVyOyB9XG4gIC5wcmltYXJ5LWJ1dHRvbjpmb2N1cywgLnNlY29uZGFyeS1idXR0b246Zm9jdXMge1xuICAgIG91dGxpbmU6IG5vbmU7IH1cblxuLnByaW1hcnktYnV0dG9uIHtcbiAgYm9yZGVyOiBub25lO1xuICBiYWNrZ3JvdW5kOiAjNzNDNDhEO1xuICBjb2xvcjogd2hpdGU7IH1cbiAgLnByaW1hcnktYnV0dG9uOmhvdmVyIHtcbiAgICBib3gtc2hhZG93OiAwcHggMHB4IDRweCAjNjNBQjgwOyB9XG4gIC5wcmltYXJ5LWJ1dHRvbjphY3RpdmUge1xuICAgIGJveC1zaGFkb3c6IDBweCAwcHggMHB4IHdoaXRlOyB9XG5cbi5zZWNvbmRhcnktYnV0dG9uIHtcbiAgYm9yZGVyOiAxcHggc29saWQgIzMwMzYzRjtcbiAgYmFja2dyb3VuZDogd2hpdGU7XG4gIGNvbG9yOiAjMzAzNjNGOyB9XG4gIC5zZWNvbmRhcnktYnV0dG9uOmhvdmVyIHtcbiAgICBib3gtc2hhZG93OiAwcHggMHB4IDRweCAjNjNBQjgwOyB9XG4gIC5zZWNvbmRhcnktYnV0dG9uOmFjdGl2ZSB7XG4gICAgYm94LXNoYWRvdzogMHB4IDBweCAwcHggd2hpdGU7IH1cbiAgLnNlY29uZGFyeS1idXR0b246aG92ZXIge1xuICAgIGNvbG9yOiAjNjNBQjgwO1xuICAgIGJvcmRlcjogMXB4IHNvbGlkICM2M0FCODA7IH1cblxuLmluZmx1ZW5jZXItY2FyZC1jb250YWluZXIge1xuICBwYWRkaW5nLXRvcDogMzVweDtcbiAgbWFyZ2luLWxlZnQ6IDU1cHg7IH1cblxuLmJ1dHRvbi1jb250YWluZXIge1xuICBwYWRkaW5nLWxlZnQ6IDBweDsgfVxuXG4ucGxhdGZvcm0tY29udGFpbmVyIHtcbiAgdGV4dC1hbGlnbjogY2VudGVyOyB9XG5cbi5zb2NpYWwtY29udGFpbmVyIHtcbiAgbWFyZ2luLXRvcDogMjUlOyB9XG5cbi5zb2NpYWwtY29udGVudCB7XG4gIHBhZGRpbmc6IDA7XG4gIG1hcmdpbi10b3A6IDMlO1xuICBtYXJnaW4tbGVmdDogMiU7IH1cblxuLnNvY2lhbC1idXR0b25zIHtcbiAgZGlzcGxheTogbm9uZTsgfVxuXG4uaW5mbHVlbmNlci1wcm9mIHtcbiAgZm9udC1zaXplOiAyOHB4OyB9XG4gIC5pbmZsdWVuY2VyLXByb2Y6aG92ZXIge1xuICAgIGNvbG9yOiAjNzNDNDhEOyB9XG5cbi5pbmZsdWVuY2VyLXByb2YueXQge1xuICBmb250LXNpemU6IDM2cHg7IH1cblxuLmZvbGxvd2Vycy10ZXh0IHtcbiAgZm9udC1zaXplOiAxM3B4O1xuICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xuICBmb250LWZhbWlseTogXCJtb250c2VycmF0bGlnaHRcIiwgc2Fucy1zZXJpZjtcbiAgbGV0dGVyLXNwYWNpbmc6IDAuNXB4O1xuICBjb2xvcjogIzMwMzYzRjsgfVxuXG4uaW5mLW51bWJlciB7XG4gIGZvbnQtc2l6ZTogMjZweDtcbiAgZm9udC1mYW1pbHk6IFwiTW9udHNlcnJhdFwiLCBzYW5zLXNlcmlmO1xuICBsaW5lLWhlaWdodDogMThweDtcbiAgY29sb3I6ICMxRjIzMkE7XG4gIGxldHRlci1zcGFjaW5nOiAxcHg7XG4gIG1hcmdpbi1ib3R0b206IDQlOyB9XG5cbi5pbmYtbnVtYmVyLnlvdXR1YmUge1xuICBtYXJnaW4tYm90dG9tOiAyLjUlOyB9XG5cbi5zb2NpYWwtYnV0dG9uIHtcbiAgZm9udC1zaXplOiAxM3B4O1xuICBmb250LWZhbWlseTogXCJNb250c2VycmF0XCIsIHNhbnMtc2VyaWY7XG4gIGNvbG9yOiAjMzAzNjNGO1xuICBwYWRkaW5nLWxlZnQ6IDExcHg7XG4gIGJhY2tncm91bmQtY29sb3I6ICNBMkE4QjE7XG4gIGJvcmRlcjogMXB4O1xuICBmbG9hdDogbGVmdDtcbiAgbWFyZ2luLWJvdHRvbTogOHB4O1xuICBwYWRkaW5nLXRvcDogNXB4O1xuICBwYWRkaW5nLWJvdHRvbTogMzFweDsgfVxuXG4uc29jaWFsLWJ0bi10ZXh0IHtcbiAgZGlzcGxheTogaW5saW5lOyB9XG5cbi5jYXJkLWRpc2NvdmVyIHtcbiAgYm9yZGVyOiAxcHggc29saWQgI2QyZDdkYztcbiAgZmxvYXQ6IGxlZnQ7XG4gIHdpZHRoOiAxMDAlOyB9XG5cbi5wcm9maWxlLXRhZy1tYXJnaW4ge1xuICBtYXJnaW4tYm90dG9tOiA1JTsgfVxuXG4uaW5mbHVlbmNlci1jYXJkLWRpc2NvdmVyOmhvdmVyIHtcbiAgYm9yZGVyOiAxcHggc29saWQgIzczQzQ4RDsgfVxuXG4uY2hlY2ttYXJrLXByb2ZpbGUge1xuICBkaXNwbGF5OiAtd2Via2l0LWJveDsgfVxuXG4ucHJvZmlsZS1jYXJkIHtcbiAgaGVpZ2h0OiAxODBweDsgfVxuXG4udGFnLWNvbnRhaW5lciB7XG4gIG1hcmdpbi10b3A6IDIwcHg7XG4gIHRleHQtYWxpZ246IC13ZWJraXQtY2VudGVyOyB9XG5cbi50YWctYnRuIHtcbiAgY29sb3I6ICMzMDM2M0Y7IH1cblxuLnRhZyB7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgd2lkdGg6IDEzMnB4O1xuICBtYXgtd2lkdGg6IDEwMCU7XG4gIGhlaWdodDogMzBweDtcbiAgZm9udC1zaXplOiAxNHB4O1xuICBib3JkZXI6IDFweCBzb2xpZCBibGFjaztcbiAgYmFja2dyb3VuZC1jb2xvcjogd2hpdGU7XG4gIGJvcmRlci1yYWRpdXM6IDA7XG4gIGxpbmUtaGVpZ2h0OiAyM3B4O1xuICBtYXJnaW4tdG9wOiAzJTtcbiAgbWFyZ2luLXJpZ2h0OiAyJTsgfVxuXG4uZmItZmVlZC1jYXJkIHtcbiAgd2lkdGg6IDk2JTtcbiAgbWFyZ2luLWJvdHRvbTogNSU7XG4gIGhlaWdodDogMzMwcHg7XG4gIGJvcmRlcjogMXB4IHNvbGlkICNkMmQ3ZGM7XG4gIGJvcmRlci1yYWRpdXM6IDNweDtcbiAgY29sb3I6ICMxRjIzMkE7IH1cbiAgLmZiLWZlZWQtY2FyZDpob3ZlciB7XG4gICAgYm9yZGVyOiAxcHggc29saWQgIzczQzQ4RDsgfVxuXG4uZmItY2FyZCB7XG4gIGhlaWdodDogMzc1cHg7XG4gIHdpZHRoOiA0MjVweDtcbiAgbWF4LXdpZHRoOiAxMDAlO1xuICBtYXgtaGVpZ2h0OiAyNDBweDtcbiAgb2JqZWN0LWZpdDogY292ZXI7XG4gIG9iamVjdC1wb3NpdGlvbjogMCAxMiU7XG4gIGJhY2tncm91bmQtcG9zaXRpb246IDUwJTtcbiAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiL2Fzc2V0cy9pbWFnZXMvZGVmYXVsdC1waG90by5wbmdcIik7IH1cblxuI2ZhY2Vib29rLFxuLmZiLWZlZWQtZGl2IHtcbiAgcGFkZGluZzogMDsgfVxuXG4uaW50ZXJhY3Rpb24taW5mbyB7XG4gIHRleHQtYWxpZ246IGxlZnQ7XG4gIGJvcmRlci10b3A6IDFweCBzb2xpZCAjZDJkN2RjO1xuICBoZWlnaHQ6IDUwcHg7XG4gIGZvbnQtc2l6ZTogMTJweDtcbiAgcGFkZGluZzogNXB4IDEwcHg7IH1cblxuLnRodW1iLWdyZWVuIHtcbiAgd2lkdGg6IDE4cHg7IH1cblxuaW1nLnNoYXJlLWdyZWVuIHtcbiAgd2lkdGg6IDI0cHg7IH1cblxuLmNvbW1lbnQtaWNvbiB7XG4gIHdpZHRoOiAyMHB4OyB9XG5cbi5saWtlcyxcbi5jb21tZW50cyxcbi5zaGFyZXMge1xuICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gIG1hcmdpbi1yaWdodDogMyU7IH1cblxuLmNvbW1lbnQtaWNvbixcbi50aHVtYi1ncmVlbixcbi5zaGFyZS1ncmVlbiB7XG4gIG1hcmdpbi1yaWdodDogMnB4OyB9XG5cbi5mYi1jYXB0aW9uIHtcbiAgcGFkZGluZzogNXB4IDEwcHg7XG4gIGxpbmUtaGVpZ2h0OiAyMnB4O1xuICBoZWlnaHQ6IDU1cHg7XG4gIGZvbnQtc2l6ZTogMTJweDtcbiAgdGV4dC1hbGlnbjogLXdlYmtpdC1sZWZ0O1xuICB0ZXh0LW92ZXJmbG93OiBlbGxpcHNpcztcbiAgb3ZlcmZsb3c6IGhpZGRlbjtcbiAgZm9udC1mYW1pbHk6IFwibW9udHNlcnJhdGxpZ2h0XCIsIHNhbnMtc2VyaWY7IH1cblxuQG1lZGlhIChtaW4td2lkdGg6IDc2OHB4KSBhbmQgKG1heC13aWR0aDogOTkxcHgpIHtcbiAgLmluZmx1ZW5jZXItY2FyZC1jb250YWluZXIge1xuICAgIHBhZGRpbmctcmlnaHQ6IDA7XG4gICAgbWFyZ2luLWxlZnQ6IDMwcHg7IH1cbiAgLmNvbC1tZC04LnNvY2lhbC1jb2xsYWdlIHtcbiAgICBtYXJnaW4tbGVmdDogMyU7IH0gfVxuXG5AbWVkaWEgKG1pbi13aWR0aDogOTkycHgpIGFuZCAobWF4LXdpZHRoOiAxMjAwcHgpIHtcbiAgLmNvbC1tZC0zLmluZmx1ZW5jZXItY2FyZC1jb250YWluZXIge1xuICAgIHdpZHRoOiAzMS4zJTsgfSB9XG5cbkBtZWRpYSAobWF4LXdpZHRoOiA0ODBweCkge1xuICAuaW5mbHVlbmNlci1jYXJkLWNvbnRhaW5lciB7XG4gICAgbWFyZ2luLWxlZnQ6IDA7XG4gICAgcGFkZGluZy10b3A6IDM1cHg7XG4gICAgcGFkZGluZy1sZWZ0OiAyMHB4O1xuICAgIHBhZGRpbmctcmlnaHQ6IDIwcHg7IH1cbiAgZGl2LnNvY2lhbC1idG4tdGV4dCxcbiAgLmZvbGxvd2Vycy10ZXh0IHtcbiAgICBkaXNwbGF5OiBub25lOyB9XG4gIC5pY29ucyB7XG4gICAgcGFkZGluZy10b3A6IDEwcHg7IH1cbiAgLnRhZyB7XG4gICAgZmxvYXQ6IG5vbmU7IH1cbiAgLnNvY2lhbC1idXR0b24ge1xuICAgIGhlaWdodDogMzdweDsgfVxuICAucGxhdGZvcm0tY29udGFpbmVyIHtcbiAgICBtYXJnaW4tdG9wOiA2JTsgfVxuICAuaW5zdGFncmFtLWxvZ28tZ3JlZW4sXG4gIC50d2l0dGVyLWxvZ28tZ3JlZW4sXG4gIC5mYWNlYm9vay1sb2dvLWdyZWVuIHtcbiAgICB3aWR0aDogMzBweDsgfVxuICAueW91dHViZS1sb2dvLWdyZWVuIHtcbiAgICB3aWR0aDogNDNweDsgfVxuICBpLnN3aXRjaC5zaG93LWZhY2Vib29rLmluc3QtaWNvbi5pY29uLmJkLWZhY2Vib29rLFxuICBpLnN3aXRjaC5zaG93LWluc3RhZ3JhbS5pbnN0LWljb24uaWNvbi5iZC1pbnN0YWdyYW0sXG4gIGkuc3dpdGNoLnNob3ctdHdpdHRlci5pbnN0LWljb24uaWNvbi5iZC10d2l0dGVyIHtcbiAgICBmb250LXNpemU6IDE5cHg7IH1cbiAgLmluc3RoYW5kbGUtdGV4dCB7XG4gICAgZm9udC1zaXplOiAyM3B4OyB9XG4gIC5mb2xsb3dlci1jb3VudCxcbiAgLmVuZ2FnZW1lbnQtY291bnQge1xuICAgIGZvbnQtc2l6ZTogMTdweDsgfVxuICAuaW5mLW51bWJlciB7XG4gICAgZm9udC1zaXplOiAxOXB4O1xuICAgIG1hcmdpbi1ib3R0b206IDEzJTsgfVxuICBpLmJ1dHRvbi1pY29uLmljb24uYmQtaW5zdGFncmFtLFxuICBpLmJ1dHRvbi1pY29uLmljb24uYmQtZmFjZWJvb2ssXG4gIGkuYnV0dG9uLWljb24uaWNvbi5iZC10d2l0dGVyIHtcbiAgICBmb250LXNpemU6IDE5cHg7XG4gICAgdmVydGljYWwtYWxpZ246IG1pZGRsZTtcbiAgICBtYXJnaW4tbGVmdDogMTJweDsgfVxuICAuYnV0dG9uLWNvbnRhaW5lciB7XG4gICAgcGFkZGluZy1yaWdodDogOHB4OyB9XG4gIC5pbWFnZS1jb250YWluZXIge1xuICAgIHBhZGRpbmctcmlnaHQ6IDA7IH1cbiAgLmJ1dHRvbi1jb250YWluZXIudHdpdHRlci1wbGF0Zm9ybSB7XG4gICAgcGFkZGluZy1yaWdodDogMDsgfVxuICBkaXYjZmFjZWJvb2sge1xuICAgIG1hcmdpbi10b3A6IC0yMHB4OyB9XG4gIC5mYi1mZWVkLWNhcmQge1xuICAgIGhlaWdodDogMzg1cHg7XG4gICAgd2lkdGg6IDEwMCU7IH1cbiAgLmZiLWNhcmQge1xuICAgIG1heC1oZWlnaHQ6IDI5NXB4OyB9IH1cblxuLyogbGFuZHNjYXBlIG1vYmlsZSB2aWV3eiAqL1xuQG1lZGlhIChtYXgtd2lkdGg6IDc0MHB4KSBhbmQgKG9yaWVudGF0aW9uOiBsYW5kc2NhcGUpIHtcbiAgLmluZmx1ZW5jZXItY2FyZC1jb250YWluZXIge1xuICAgIG1hcmdpbi1sZWZ0OiAxMyU7IH0gfVxuXG5AbWVkaWEgKG1pbi13aWR0aDogNjAwcHgpIGFuZCAobWF4LXdpZHRoOiA3NzBweCkge1xuICAuY29sLXNtLTkuc29jaWFsLWNvbnRlbnQsXG4gIC5jb2wtc20tOS5zb2NpYWwtYnV0dG9ucyB7XG4gICAgZmxvYXQ6IHJpZ2h0OyB9IH1cblxuQG1lZGlhIChtaW4td2lkdGg6IDc2OHB4KSBhbmQgKG1heC13aWR0aDogODMxcHgpIHtcbiAgLnByb2ZpbGUtY2FyZCB7XG4gICAgaGVpZ2h0OiAyMjBweDsgfVxuICAuY2hlY2ttYXJrLXByb2ZpbGUge1xuICAgIG1hcmdpbi1sZWZ0OiAzOCU7IH0gfVxuXG5AbWVkaWEgKG1pbi13aWR0aDogOTkycHgpIGFuZCAobWF4LXdpZHRoOiAxMjAwcHgpIHtcbiAgLmluZmx1ZW5jZXItY2FyZC1jb250YWluZXIge1xuICAgIG1hcmdpbi1sZWZ0OiAxMnB4OyB9IH1cblxuLmluZmx1ZW5jZXItaW1hZ2UtY2FyZCB7XG4gIG1heC13aWR0aDogMTAwJTtcbiAgd2lkdGg6IDEwMCU7XG4gIC1vLW9iamVjdC1maXQ6IGNvdmVyO1xuICBvYmplY3QtZml0OiBjb3ZlcjtcbiAgLW8tb2JqZWN0LXBvc2l0aW9uOiAzMCU7XG4gIG9iamVjdC1wb3NpdGlvbjogMzAlOyB9XG5cbi5idXR0b24tb3B0aW9uLXRleHQge1xuICBoZWlnaHQ6IDBweDtcbiAgY29sb3I6IHdoaXRlO1xuICBmb250LWZhbWlseTogXCJtb250c2VycmF0bGlnaHRcIiwgc2Fucy1zZXJpZjtcbiAgZm9udC1zaXplOiAxM3B4O1xuICBwYWRkaW5nLXRvcDogMnB4OyB9XG5cbi5pbWFnZS1jb250YWluZXIge1xuICBwYWRkaW5nLWxlZnQ6IDBweDtcbiAgbWF4LWhlaWdodDogMTAwJTtcbiAgbWF4LXdpZHRoOiAxMDAlO1xuICBtYXJnaW4tYm90dG9tOiAxNXB4OyB9XG5cbi5pbWFnZS1zaXplIHtcbiAgcGFkZGluZy1sZWZ0OiAwcHg7XG4gIHBhZGRpbmctcmlnaHQ6IDBweDtcbiAgaGVpZ2h0OiAzNTBweDtcbiAgLW8tb2JqZWN0LWZpdDogY292ZXI7XG4gIG9iamVjdC1maXQ6IGNvdmVyO1xuICB3aWR0aDogMTAwJTtcbiAgLW8tb2JqZWN0LXBvc2l0aW9uOiAwIDEyJTtcbiAgb2JqZWN0LXBvc2l0aW9uOiAwIDEyJTsgfVxuXG4uc29jaWFsLWJ1dHRvbnMge1xuICBwYWRkaW5nLXRvcDogMjBweDtcbiAgcGFkZGluZy1ib3R0b206IDIwcHg7IH1cbiJdfQ== */