.primary-button, #login-button, .secondary-button, #register-button {
  border-radius: 1px;
  font-family: "Montserrat", sans-serif;
  transition: background .4s, box-shadow .4s, color .4s, border .4s;
  cursor: pointer; }
  .primary-button:focus, #login-button:focus, .secondary-button:focus, #register-button:focus {
    outline: none; }

.primary-button, #login-button {
  border: none;
  background: #73C48D;
  color: white; }
  .primary-button:hover, #login-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .primary-button:active, #login-button:active {
    box-shadow: 0px 0px 0px white; }

.secondary-button, #register-button {
  border: 1px solid #30363F;
  background: white;
  color: #30363F; }
  .secondary-button:hover, #register-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .secondary-button:active, #register-button:active {
    box-shadow: 0px 0px 0px white; }
  .secondary-button:hover, #register-button:hover {
    color: #63AB80;
    border: 1px solid #63AB80; }

#email {
  height: 30px; }

#email:focus {
  outline: none; }

#spacing {
  width: 100%;
  height: 100px; }

#login-button {
  width: 72%;
  height: 50px;
  margin-bottom: 30px;
  margin-left: 14%;
  float: left;
  font-size: 16px; }

#register-button {
  width: 72%;
  height: 50px;
  margin-left: 14%;
  font-size: 16px; }

@media (max-width: 960px) {
  #centercontent {
    padding-right: 0% !important;
    padding-left: 0% !important; } }

#centercontent {
  padding-right: 27%;
  padding-left: 27%;
  padding-top: 50px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c4c4c4 !important; }

#header-text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #30363F;
  letter-spacing: 2px;
  font-size: 55px;
  padding-bottom: 11px; }
  @media screen and (max-width: 480px) {
    #header-text {
      font-size: 25px; } }
