.primary-button, #login-button, .secondary-button, #register-button {
  border-radius: 1px;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: background .4s, box-shadow .4s, color .4s, border .4s;
  transition: background .4s, box-shadow .4s, color .4s, border .4s;
  cursor: pointer; }
  .primary-button:focus, #login-button:focus, .secondary-button:focus, #register-button:focus {
    outline: none; }

.primary-button, #login-button {
  border: none;
  background: #73C48D;
  color: white; }
  .primary-button:hover, #login-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .primary-button:active, #login-button:active {
    box-shadow: 0px 0px 0px white; }

.secondary-button, #register-button {
  border: 1px solid #30363F;
  background: white;
  color: #30363F; }
  .secondary-button:hover, #register-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .secondary-button:active, #register-button:active {
    box-shadow: 0px 0px 0px white; }
  .secondary-button:hover, #register-button:hover {
    color: #63AB80;
    border: 1px solid #63AB80; }

#email {
  height: 30px; }

#email:focus {
  outline: none; }

#spacing {
  width: 100%;
  height: 100px; }

#login-button {
  width: 72%;
  height: 50px;
  margin-bottom: 30px;
  margin-left: 14%;
  float: left;
  font-size: 16px; }

#register-button {
  width: 72%;
  height: 50px;
  margin-left: 14%;
  font-size: 16px; }

@media (max-width: 960px) {
  #centercontent {
    padding-right: 0% !important;
    padding-left: 0% !important; } }

#centercontent {
  padding-right: 27%;
  padding-left: 27%;
  padding-top: 50px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c4c4c4 !important; }

#header-text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #30363F;
  letter-spacing: 2px;
  font-size: 55px;
  padding-bottom: 11px; }
  @media screen and (max-width: 480px) {
    #header-text {
      font-size: 25px; } }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImxvZ2luLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLG1CQUFtQjtFQUNuQixzQ0FBc0M7RUFDdEMsMEVBQWtFO0VBQWxFLGtFQUFrRTtFQUNsRSxnQkFBZ0IsRUFBRTtFQUNsQjtJQUNFLGNBQWMsRUFBRTs7QUFFcEI7RUFDRSxhQUFhO0VBQ2Isb0JBQW9CO0VBQ3BCLGFBQWEsRUFBRTtFQUNmO0lBQ0UsZ0NBQWdDLEVBQUU7RUFDcEM7SUFDRSw4QkFBOEIsRUFBRTs7QUFFcEM7RUFDRSwwQkFBMEI7RUFDMUIsa0JBQWtCO0VBQ2xCLGVBQWUsRUFBRTtFQUNqQjtJQUNFLGdDQUFnQyxFQUFFO0VBQ3BDO0lBQ0UsOEJBQThCLEVBQUU7RUFDbEM7SUFDRSxlQUFlO0lBQ2YsMEJBQTBCLEVBQUU7O0FBRWhDO0VBQ0UsYUFBYSxFQUFFOztBQUVqQjtFQUNFLGNBQWMsRUFBRTs7QUFFbEI7RUFDRSxZQUFZO0VBQ1osY0FBYyxFQUFFOztBQUVsQjtFQUNFLFdBQVc7RUFDWCxhQUFhO0VBQ2Isb0JBQW9CO0VBQ3BCLGlCQUFpQjtFQUNqQixZQUFZO0VBQ1osZ0JBQWdCLEVBQUU7O0FBRXBCO0VBQ0UsV0FBVztFQUNYLGFBQWE7RUFDYixpQkFBaUI7RUFDakIsZ0JBQWdCLEVBQUU7O0FBRXBCO0VBQ0U7SUFDRSw2QkFBNkI7SUFDN0IsNEJBQTRCLEVBQUUsRUFBRTs7QUFFcEM7RUFDRSxtQkFBbUI7RUFDbkIsa0JBQWtCO0VBQ2xCLGtCQUFrQixFQUFFOztBQUV0QjtFQUNFLHlCQUF5QjtFQUN6QiwwQkFBMEIsRUFBRTs7QUFFOUI7RUFDRSxtQkFBbUI7RUFDbkIsc0NBQXNDO0VBQ3RDLGVBQWU7RUFDZixvQkFBb0I7RUFDcEIsZ0JBQWdCO0VBQ2hCLHFCQUFxQixFQUFFO0VBQ3ZCO0lBQ0U7TUFDRSxnQkFBZ0IsRUFBRSxFQUFFIiwiZmlsZSI6ImxvZ2luLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5wcmltYXJ5LWJ1dHRvbiwgI2xvZ2luLWJ1dHRvbiwgLnNlY29uZGFyeS1idXR0b24sICNyZWdpc3Rlci1idXR0b24ge1xuICBib3JkZXItcmFkaXVzOiAxcHg7XG4gIGZvbnQtZmFtaWx5OiBcIk1vbnRzZXJyYXRcIiwgc2Fucy1zZXJpZjtcbiAgdHJhbnNpdGlvbjogYmFja2dyb3VuZCAuNHMsIGJveC1zaGFkb3cgLjRzLCBjb2xvciAuNHMsIGJvcmRlciAuNHM7XG4gIGN1cnNvcjogcG9pbnRlcjsgfVxuICAucHJpbWFyeS1idXR0b246Zm9jdXMsICNsb2dpbi1idXR0b246Zm9jdXMsIC5zZWNvbmRhcnktYnV0dG9uOmZvY3VzLCAjcmVnaXN0ZXItYnV0dG9uOmZvY3VzIHtcbiAgICBvdXRsaW5lOiBub25lOyB9XG5cbi5wcmltYXJ5LWJ1dHRvbiwgI2xvZ2luLWJ1dHRvbiB7XG4gIGJvcmRlcjogbm9uZTtcbiAgYmFja2dyb3VuZDogIzczQzQ4RDtcbiAgY29sb3I6IHdoaXRlOyB9XG4gIC5wcmltYXJ5LWJ1dHRvbjpob3ZlciwgI2xvZ2luLWJ1dHRvbjpob3ZlciB7XG4gICAgYm94LXNoYWRvdzogMHB4IDBweCA0cHggIzYzQUI4MDsgfVxuICAucHJpbWFyeS1idXR0b246YWN0aXZlLCAjbG9naW4tYnV0dG9uOmFjdGl2ZSB7XG4gICAgYm94LXNoYWRvdzogMHB4IDBweCAwcHggd2hpdGU7IH1cblxuLnNlY29uZGFyeS1idXR0b24sICNyZWdpc3Rlci1idXR0b24ge1xuICBib3JkZXI6IDFweCBzb2xpZCAjMzAzNjNGO1xuICBiYWNrZ3JvdW5kOiB3aGl0ZTtcbiAgY29sb3I6ICMzMDM2M0Y7IH1cbiAgLnNlY29uZGFyeS1idXR0b246aG92ZXIsICNyZWdpc3Rlci1idXR0b246aG92ZXIge1xuICAgIGJveC1zaGFkb3c6IDBweCAwcHggNHB4ICM2M0FCODA7IH1cbiAgLnNlY29uZGFyeS1idXR0b246YWN0aXZlLCAjcmVnaXN0ZXItYnV0dG9uOmFjdGl2ZSB7XG4gICAgYm94LXNoYWRvdzogMHB4IDBweCAwcHggd2hpdGU7IH1cbiAgLnNlY29uZGFyeS1idXR0b246aG92ZXIsICNyZWdpc3Rlci1idXR0b246aG92ZXIge1xuICAgIGNvbG9yOiAjNjNBQjgwO1xuICAgIGJvcmRlcjogMXB4IHNvbGlkICM2M0FCODA7IH1cblxuI2VtYWlsIHtcbiAgaGVpZ2h0OiAzMHB4OyB9XG5cbiNlbWFpbDpmb2N1cyB7XG4gIG91dGxpbmU6IG5vbmU7IH1cblxuI3NwYWNpbmcge1xuICB3aWR0aDogMTAwJTtcbiAgaGVpZ2h0OiAxMDBweDsgfVxuXG4jbG9naW4tYnV0dG9uIHtcbiAgd2lkdGg6IDcyJTtcbiAgaGVpZ2h0OiA1MHB4O1xuICBtYXJnaW4tYm90dG9tOiAzMHB4O1xuICBtYXJnaW4tbGVmdDogMTQlO1xuICBmbG9hdDogbGVmdDtcbiAgZm9udC1zaXplOiAxNnB4OyB9XG5cbiNyZWdpc3Rlci1idXR0b24ge1xuICB3aWR0aDogNzIlO1xuICBoZWlnaHQ6IDUwcHg7XG4gIG1hcmdpbi1sZWZ0OiAxNCU7XG4gIGZvbnQtc2l6ZTogMTZweDsgfVxuXG5AbWVkaWEgKG1heC13aWR0aDogOTYwcHgpIHtcbiAgI2NlbnRlcmNvbnRlbnQge1xuICAgIHBhZGRpbmctcmlnaHQ6IDAlICFpbXBvcnRhbnQ7XG4gICAgcGFkZGluZy1sZWZ0OiAwJSAhaW1wb3J0YW50OyB9IH1cblxuI2NlbnRlcmNvbnRlbnQge1xuICBwYWRkaW5nLXJpZ2h0OiAyNyU7XG4gIHBhZGRpbmctbGVmdDogMjclO1xuICBwYWRkaW5nLXRvcDogNTBweDsgfVxuXG46Oi13ZWJraXQtaW5wdXQtcGxhY2Vob2xkZXIge1xuICAvKiBDaHJvbWUvT3BlcmEvU2FmYXJpICovXG4gIGNvbG9yOiAjYzRjNGM0ICFpbXBvcnRhbnQ7IH1cblxuI2hlYWRlci10ZXh0IHtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICBmb250LWZhbWlseTogXCJNb250c2VycmF0XCIsIHNhbnMtc2VyaWY7XG4gIGNvbG9yOiAjMzAzNjNGO1xuICBsZXR0ZXItc3BhY2luZzogMnB4O1xuICBmb250LXNpemU6IDU1cHg7XG4gIHBhZGRpbmctYm90dG9tOiAxMXB4OyB9XG4gIEBtZWRpYSBzY3JlZW4gYW5kIChtYXgtd2lkdGg6IDQ4MHB4KSB7XG4gICAgI2hlYWRlci10ZXh0IHtcbiAgICAgIGZvbnQtc2l6ZTogMjVweDsgfSB9XG4iXX0= */