.primary-button, .secondary-button {
  border-radius: 1px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  -webkit-transition: background .4s, box-shadow .4s, color .4s, border .4s;
  transition: background .4s, box-shadow .4s, color .4s, border .4s;
  cursor: pointer; }
  .primary-button:focus, .secondary-button:focus {
    outline: none; }

#search-dismiss {
  font-size: 21px;
  color: #73C48D;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  border: 2px solid;
  border-radius: 50%;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
  cursor: pointer; }
  #search-dismiss:hover {
    color: #e74845; }

.primary-button {
  border: none;
  background: #73C48D;
  color: white; }
  .primary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .primary-button:active {
    box-shadow: 0px 0px 0px white; }

.secondary-button {
  border: 1px solid #30363F;
  background: white;
  color: #30363F; }
  .secondary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .secondary-button:active {
    box-shadow: 0px 0px 0px white; }
  .secondary-button:hover {
    color: #63AB80;
    border: 1px solid #63AB80; }

#search-dismiss {
  position: absolute;
  top: 29%;
  left: 95%;
  padding: 0 10px;
  color: white;
  border: 2px solid; }

.close-search-bar {
  -webkit-transition: color .4s;
  transition: color .4s; }
  .close-search-bar:hover {
    cursor: pointer;
    color: #73C48D; }

.search-bar-position {
  position: relative;
  width: 100%; }

.avocado-nav-container {
  position: fixed;
  width: 100%;
  z-index: 100000;
  background-color: white; }

.avocado-nav-spacing {
  height: 55px; }

.avo-nav {
  text-align: right;
  padding-right: 30px; }

.avo-navtabs {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: inline;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 65px;
  padding-right: 20px; }
  .avo-navtabs .link-pages {
    -webkit-transition: color .4s;
    transition: color .4s;
    text-decoration: none;
    color: #464646; }
    .avo-navtabs .link-pages:hover {
      cursor: pointer;
      color: #73C48D; }
    .avo-navtabs .link-pages :hover {
      text-decoration: none;
      background-color: transparent; }
  .avo-navtabs .active-tab {
    color: #73C48D !important; }

.bar-settings {
  color: #464646;
  text-align: center;
  font-size: 25px;
  margin-left: 5px;
  height: 20px;
  padding-top: 20px; }

.campaign-nav,
.create-nav,
.discover-nav,
.price-nav {
  color: #1d284c; }

.collapse-icon.dropdown {
  display: none; }

.discover-nav {
  padding-bottom: 21px; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 200px;
  margin-right: -30px; }

.dropdown-content a {
  color: #464646;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  float: left;
  letter-spacing: 1px;
  margin-left: 5px;
  padding: 15px 20px 60px 20px;
  text-align: center;
  text-decoration: none; }
  .dropdown-content a :hover {
    background-color: #f1f1f1; }

.dropdown:hover .dropdown-content {
  display: block; }

.floater-border {
  position: relative;
  margin-bottom: -10px;
  margin-top: -5px; }

.link-pages {
  text-decoration: none;
  color: #464646; }
  .link-pages :hover {
    text-decoration: none;
    background-color: transparent; }

.logo-container {
  height: 66px;
  margin-top: -14px; }

.nav-bottom {
  height: 5px;
  position: relative;
  background-color: #73C48D; }

i.icon.pe-close {
  font-size: 36px;
  font-weight: bold; }

i.input-search-icon.wb-search {
  color: #515862;
  position: relative;
  top: 2px;
  padding-right: 2%;
  font-size: 16px;
  right: -5px; }

i.fa.fa-bars.bar-settings {
  font-size: 24px; }

a#search {
  text-decoration: none;
  padding: relative;
  top: 2px;
  font-size: 18px; }

div.search-bar {
  width: 100%;
  margin-top: 50px;
  height: 75px;
  background: #73C48D;
  box-sizing: border-box;
  padding: 0 50px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3; }

input[type=text].search-placeholder {
  margin: 15px auto;
  width: 100%;
  height: 50px;
  outline: 0;
  border: 0;
  font-size: 36px;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  background: transparent;
  color: white;
  font-family: "Montserrat", sans-serif; }

input[type=text] ::-webkit-input-placeholder {
  color: white; }

@media (min-width: 650px) and (max-width: 900px) {
  .avo-navtabs {
    padding-right: 10px;
    font-size: 14px; }
  .avo-nav {
    padding-right: 20px; } }

@media (min-width: 300px) and (max-width: 700px) {
  .avo-navtabs {
    padding-right: 10px;
    font-size: 14px; }
  .avo-nav {
    padding-right: 0px; } }

@media (max-width: 750px) {
  .avo-navtabs {
    display: none; }
  .collapse-icon.dropdown {
    display: unset;
    float: right;
    width: 138px; }
  i.input-search-icon.wb-search {
    color: #515862;
    position: relative;
    top: 17px;
    padding-right: 0;
    right: -96px; }
  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 0px; }
    .dropdown-content a {
      font-size: 15px; } }


