.button-icon{
    padding-left: 10px;
    font-size: 30px;
    padding-right: 25px;
}
.button-icon-active{
    color:#73C48D;
}

.description-text{
    padding-bottom:10px;
    padding-top:10px;
    color: #A2A8B1;
    font-weight: 100;
    font-size: 13px;
    margin: 0 auto;
    max-width: 600px;
}
.discover-header{
    color:#515862;
    text-align:center;
    font-size:45px;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing:2px;
}
#engagement-text{
    margin-top:15px;
}

.filter-button-container{
    padding-bottom:20px;
}
.filter-text{
    font-size: 20px;
    color: #30363F;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-left: 0px;
    min-width: 135px;
    text-align: center;
}
.filter-input{
    max-width:700px;
    margin: 0 auto;
    margin-top:15px;
}

.influencer-header{
      color:#515862;
      font-family:'Montserrat', sans-serif;
      font-weight: 600;
      font-size:23px;
      padding-left:12px;
      padding-bottom:20px;
      
}
.influencer-results-container{
    height: 360px;
    border-top: 1px solid rgb(210, 215, 220);
    padding-left:50px;
    padding-top:20px;
}

.tokenfield{
    max-width:700px !important;
    margin: 0 auto !important; 
    margin-top:15px !important;
    
}
.button-container{
    text-align: center;
}

.filter-section{
    padding-top:30px;
}
.measure-text{
    float: left;
    min-width:150px;
}
.search-button{
    width:300px;
    border-radius: 1px;
    border: 0px;
    color: white;
    background-color: white;
    height: 50px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: #73C48D;
    margin-bottom:30px;
}



.slider-container{
    width:80%;

}
.slider-container:after{
display:table;
content:"" ;
clear:both;

}
.sliders{
    float:left; 
    width:80%;
}


@media only screen and (max-width: 700px) {
    .discover-header{
        font-size:35px;
    }
    .filter-text{
        font-size: 16px;
    }
    .filter-input{
        max-width: 425px;
    }
    .tokenfield{
        max-width: 425px !important;
    }
    .description-text{
        max-width:425px;
    }

}

@media only screen and (max-width: 1000px) and (min-width: 768px){
    .measure-text{
     min-width: 0px;   
    }
}

@media only screen and (max-width: 425px) {
    .filter-text{
        font-size: 13px;
    }
    .description-text{
        font-size:11px;
    }
    .influencer-results-container{
        padding-left:0px;
    }
    .influencer-header{
        text-align: center;
        font-size: 20px;
    }
    .filter-button-container{
        text-align: center;
    }
    .button-icon{
        font-size:20px;
        padding-left:20px;
    }
    .measure-text{
        float:none;
        text-align: center;
        padding-left:0px;
    }
    .sliders{
        float:none;
        margin: 0 auto;
    }
    .slider-container{
        width:100%;
    }
    .found-influencers{
        padding-right:0px;
    }
    .influencer-card-discover{
        width: 100%;
    }    

}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm5ldy1kaXNjb3Zlci5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7SUFDSSxtQkFBbUI7SUFDbkIsZ0JBQWdCO0lBQ2hCLG9CQUFvQjtDQUN2QjtBQUNEO0lBQ0ksY0FBYztDQUNqQjs7QUFFRDtJQUNJLG9CQUFvQjtJQUNwQixpQkFBaUI7SUFDakIsZUFBZTtJQUNmLGlCQUFpQjtJQUNqQixnQkFBZ0I7SUFDaEIsZUFBZTtJQUNmLGlCQUFpQjtDQUNwQjtBQUNEO0lBQ0ksY0FBYztJQUNkLGtCQUFrQjtJQUNsQixlQUFlO0lBQ2YscUNBQXFDO0lBQ3JDLGlCQUFpQjtJQUNqQixtQkFBbUI7Q0FDdEI7QUFDRDtJQUNJLGdCQUFnQjtDQUNuQjs7QUFFRDtJQUNJLG9CQUFvQjtDQUN2QjtBQUNEO0lBQ0ksZ0JBQWdCO0lBQ2hCLGVBQWU7SUFDZixxQ0FBcUM7SUFDckMsaUJBQWlCO0lBQ2pCLGtCQUFrQjtJQUNsQixpQkFBaUI7SUFDakIsbUJBQW1CO0NBQ3RCO0FBQ0Q7SUFDSSxnQkFBZ0I7SUFDaEIsZUFBZTtJQUNmLGdCQUFnQjtDQUNuQjs7QUFFRDtNQUNNLGNBQWM7TUFDZCxxQ0FBcUM7TUFDckMsaUJBQWlCO01BQ2pCLGVBQWU7TUFDZixrQkFBa0I7TUFDbEIsb0JBQW9COztDQUV6QjtBQUNEO0lBQ0ksY0FBYztJQUNkLHlDQUF5QztJQUN6QyxrQkFBa0I7SUFDbEIsaUJBQWlCO0NBQ3BCOztBQUVEO0lBQ0ksMkJBQTJCO0lBQzNCLDBCQUEwQjtJQUMxQiwyQkFBMkI7O0NBRTlCO0FBQ0Q7SUFDSSxtQkFBbUI7Q0FDdEI7O0FBRUQ7SUFDSSxpQkFBaUI7Q0FDcEI7QUFDRDtJQUNJLFlBQVk7SUFDWixnQkFBZ0I7Q0FDbkI7QUFDRDtJQUNJLFlBQVk7SUFDWixtQkFBbUI7SUFDbkIsWUFBWTtJQUNaLGFBQWE7SUFDYix3QkFBd0I7SUFDeEIsYUFBYTtJQUNiLGdCQUFnQjtJQUNoQixzQ0FBc0M7SUFDdEMsMEJBQTBCO0lBQzFCLG1CQUFtQjtDQUN0Qjs7OztBQUlEO0lBQ0ksVUFBVTs7Q0FFYjtBQUNEO0FBQ0EsY0FBYztBQUNkLFlBQVk7QUFDWixXQUFXOztDQUVWO0FBQ0Q7SUFDSSxXQUFXO0lBQ1gsVUFBVTtDQUNiOzs7QUFHRDtJQUNJO1FBQ0ksZUFBZTtLQUNsQjtJQUNEO1FBQ0ksZ0JBQWdCO0tBQ25CO0lBQ0Q7UUFDSSxpQkFBaUI7S0FDcEI7SUFDRDtRQUNJLDRCQUE0QjtLQUMvQjtJQUNEO1FBQ0ksZ0JBQWdCO0tBQ25COztDQUVKOztBQUVEO0lBQ0k7S0FDQyxlQUFlO0tBQ2Y7Q0FDSjs7QUFFRDtJQUNJO1FBQ0ksZ0JBQWdCO0tBQ25CO0lBQ0Q7UUFDSSxlQUFlO0tBQ2xCO0lBQ0Q7UUFDSSxpQkFBaUI7S0FDcEI7SUFDRDtRQUNJLG1CQUFtQjtRQUNuQixnQkFBZ0I7S0FDbkI7SUFDRDtRQUNJLG1CQUFtQjtLQUN0QjtJQUNEO1FBQ0ksZUFBZTtRQUNmLGtCQUFrQjtLQUNyQjtJQUNEO1FBQ0ksV0FBVztRQUNYLG1CQUFtQjtRQUNuQixpQkFBaUI7S0FDcEI7SUFDRDtRQUNJLFdBQVc7UUFDWCxlQUFlO0tBQ2xCO0lBQ0Q7UUFDSSxXQUFXO0tBQ2Q7SUFDRDtRQUNJLGtCQUFrQjtLQUNyQjtJQUNEO1FBQ0ksWUFBWTtLQUNmOztDQUVKIiwiZmlsZSI6Im5ldy1kaXNjb3Zlci5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIuYnV0dG9uLWljb257XG4gICAgcGFkZGluZy1sZWZ0OiAxMHB4O1xuICAgIGZvbnQtc2l6ZTogMzBweDtcbiAgICBwYWRkaW5nLXJpZ2h0OiAyNXB4O1xufVxuLmJ1dHRvbi1pY29uLWFjdGl2ZXtcbiAgICBjb2xvcjojNzNDNDhEO1xufVxuXG4uZGVzY3JpcHRpb24tdGV4dHtcbiAgICBwYWRkaW5nLWJvdHRvbToxMHB4O1xuICAgIHBhZGRpbmctdG9wOjEwcHg7XG4gICAgY29sb3I6ICNBMkE4QjE7XG4gICAgZm9udC13ZWlnaHQ6IDEwMDtcbiAgICBmb250LXNpemU6IDEzcHg7XG4gICAgbWFyZ2luOiAwIGF1dG87XG4gICAgbWF4LXdpZHRoOiA2MDBweDtcbn1cbi5kaXNjb3Zlci1oZWFkZXJ7XG4gICAgY29sb3I6IzUxNTg2MjtcbiAgICB0ZXh0LWFsaWduOmNlbnRlcjtcbiAgICBmb250LXNpemU6NDVweDtcbiAgICBmb250LWZhbWlseTonTW9udHNlcnJhdCcsIHNhbnMtc2VyaWY7XG4gICAgZm9udC13ZWlnaHQ6IDYwMDtcbiAgICBsZXR0ZXItc3BhY2luZzoycHg7XG59XG4jZW5nYWdlbWVudC10ZXh0e1xuICAgIG1hcmdpbi10b3A6MTVweDtcbn1cblxuLmZpbHRlci1idXR0b24tY29udGFpbmVye1xuICAgIHBhZGRpbmctYm90dG9tOjIwcHg7XG59XG4uZmlsdGVyLXRleHR7XG4gICAgZm9udC1zaXplOiAyMHB4O1xuICAgIGNvbG9yOiAjMzAzNjNGO1xuICAgIGZvbnQtZmFtaWx5OiAnT3BlbiBTYW5zJywgc2Fucy1zZXJpZjtcbiAgICBmb250LXdlaWdodDogNDAwO1xuICAgIHBhZGRpbmctbGVmdDogMHB4O1xuICAgIG1pbi13aWR0aDogMTM1cHg7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xufVxuLmZpbHRlci1pbnB1dHtcbiAgICBtYXgtd2lkdGg6NzAwcHg7XG4gICAgbWFyZ2luOiAwIGF1dG87XG4gICAgbWFyZ2luLXRvcDoxNXB4O1xufVxuXG4uaW5mbHVlbmNlci1oZWFkZXJ7XG4gICAgICBjb2xvcjojNTE1ODYyO1xuICAgICAgZm9udC1mYW1pbHk6J01vbnRzZXJyYXQnLCBzYW5zLXNlcmlmO1xuICAgICAgZm9udC13ZWlnaHQ6IDYwMDtcbiAgICAgIGZvbnQtc2l6ZToyM3B4O1xuICAgICAgcGFkZGluZy1sZWZ0OjEycHg7XG4gICAgICBwYWRkaW5nLWJvdHRvbToyMHB4O1xuICAgICAgXG59XG4uaW5mbHVlbmNlci1yZXN1bHRzLWNvbnRhaW5lcntcbiAgICBoZWlnaHQ6IDM2MHB4O1xuICAgIGJvcmRlci10b3A6IDFweCBzb2xpZCByZ2IoMjEwLCAyMTUsIDIyMCk7XG4gICAgcGFkZGluZy1sZWZ0OjUwcHg7XG4gICAgcGFkZGluZy10b3A6MjBweDtcbn1cblxuLnRva2VuZmllbGR7XG4gICAgbWF4LXdpZHRoOjcwMHB4ICFpbXBvcnRhbnQ7XG4gICAgbWFyZ2luOiAwIGF1dG8gIWltcG9ydGFudDsgXG4gICAgbWFyZ2luLXRvcDoxNXB4ICFpbXBvcnRhbnQ7XG4gICAgXG59XG4uYnV0dG9uLWNvbnRhaW5lcntcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG59XG5cbi5maWx0ZXItc2VjdGlvbntcbiAgICBwYWRkaW5nLXRvcDozMHB4O1xufVxuLm1lYXN1cmUtdGV4dHtcbiAgICBmbG9hdDogbGVmdDtcbiAgICBtaW4td2lkdGg6MTUwcHg7XG59XG4uc2VhcmNoLWJ1dHRvbntcbiAgICB3aWR0aDozMDBweDtcbiAgICBib3JkZXItcmFkaXVzOiAxcHg7XG4gICAgYm9yZGVyOiAwcHg7XG4gICAgY29sb3I6IHdoaXRlO1xuICAgIGJhY2tncm91bmQtY29sb3I6IHdoaXRlO1xuICAgIGhlaWdodDogNTBweDtcbiAgICBmb250LXNpemU6IDE2cHg7XG4gICAgZm9udC1mYW1pbHk6ICdNb250c2VycmF0Jywgc2Fucy1zZXJpZjtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjNzNDNDhEO1xuICAgIG1hcmdpbi1ib3R0b206MzBweDtcbn1cblxuXG5cbi5zbGlkZXItY29udGFpbmVye1xuICAgIHdpZHRoOjgwJTtcblxufVxuLnNsaWRlci1jb250YWluZXI6YWZ0ZXJ7XG5kaXNwbGF5OnRhYmxlO1xuY29udGVudDpcIlwiIDtcbmNsZWFyOmJvdGg7XG5cbn1cbi5zbGlkZXJze1xuICAgIGZsb2F0OmxlZnQ7IFxuICAgIHdpZHRoOjgwJTtcbn1cblxuXG5AbWVkaWEgb25seSBzY3JlZW4gYW5kIChtYXgtd2lkdGg6IDcwMHB4KSB7XG4gICAgLmRpc2NvdmVyLWhlYWRlcntcbiAgICAgICAgZm9udC1zaXplOjM1cHg7XG4gICAgfVxuICAgIC5maWx0ZXItdGV4dHtcbiAgICAgICAgZm9udC1zaXplOiAxNnB4O1xuICAgIH1cbiAgICAuZmlsdGVyLWlucHV0e1xuICAgICAgICBtYXgtd2lkdGg6IDQyNXB4O1xuICAgIH1cbiAgICAudG9rZW5maWVsZHtcbiAgICAgICAgbWF4LXdpZHRoOiA0MjVweCAhaW1wb3J0YW50O1xuICAgIH1cbiAgICAuZGVzY3JpcHRpb24tdGV4dHtcbiAgICAgICAgbWF4LXdpZHRoOjQyNXB4O1xuICAgIH1cblxufVxuXG5AbWVkaWEgb25seSBzY3JlZW4gYW5kIChtYXgtd2lkdGg6IDEwMDBweCkgYW5kIChtaW4td2lkdGg6IDc2OHB4KXtcbiAgICAubWVhc3VyZS10ZXh0e1xuICAgICBtaW4td2lkdGg6IDBweDsgICBcbiAgICB9XG59XG5cbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1heC13aWR0aDogNDI1cHgpIHtcbiAgICAuZmlsdGVyLXRleHR7XG4gICAgICAgIGZvbnQtc2l6ZTogMTNweDtcbiAgICB9XG4gICAgLmRlc2NyaXB0aW9uLXRleHR7XG4gICAgICAgIGZvbnQtc2l6ZToxMXB4O1xuICAgIH1cbiAgICAuaW5mbHVlbmNlci1yZXN1bHRzLWNvbnRhaW5lcntcbiAgICAgICAgcGFkZGluZy1sZWZ0OjBweDtcbiAgICB9XG4gICAgLmluZmx1ZW5jZXItaGVhZGVye1xuICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgICAgIGZvbnQtc2l6ZTogMjBweDtcbiAgICB9XG4gICAgLmZpbHRlci1idXR0b24tY29udGFpbmVye1xuICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgfVxuICAgIC5idXR0b24taWNvbntcbiAgICAgICAgZm9udC1zaXplOjIwcHg7XG4gICAgICAgIHBhZGRpbmctbGVmdDoyMHB4O1xuICAgIH1cbiAgICAubWVhc3VyZS10ZXh0e1xuICAgICAgICBmbG9hdDpub25lO1xuICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgICAgIHBhZGRpbmctbGVmdDowcHg7XG4gICAgfVxuICAgIC5zbGlkZXJze1xuICAgICAgICBmbG9hdDpub25lO1xuICAgICAgICBtYXJnaW46IDAgYXV0bztcbiAgICB9XG4gICAgLnNsaWRlci1jb250YWluZXJ7XG4gICAgICAgIHdpZHRoOjEwMCU7XG4gICAgfVxuICAgIC5mb3VuZC1pbmZsdWVuY2Vyc3tcbiAgICAgICAgcGFkZGluZy1yaWdodDowcHg7XG4gICAgfVxuICAgIC5pbmZsdWVuY2VyLWNhcmQtZGlzY292ZXJ7XG4gICAgICAgIHdpZHRoOiAxMDAlO1xuICAgIH0gICAgXG5cbn0iXX0= */