.button-icon{
    padding-left: 10px;
    font-size: 30px;
    padding-right: 25px;
}
.button-icon-active{
    color:#73C48D;
}

.description-text{
    padding-bottom:10px;
    padding-top:10px;
    color: #A2A8B1;
    font-weight: 100;
    font-size: 13px;
    margin: 0 auto;
    max-width: 600px;
}
.discover-header{
    color:#515862;
    text-align:center;
    font-size:45px;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing:2px;
}
#engagement-text{
    margin-top:15px;
}

.filter-button-container{
    padding-bottom:20px;
}
.filter-text{
    font-size: 20px;
    color: #30363F;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-left: 0px;
    min-width: 135px;
    text-align: center;
}
.filter-input{
    max-width:700px;
    margin: 0 auto;
    margin-top:15px;
}

.influencer-header{
      color:#515862;
      font-family:'Montserrat', sans-serif;
      font-weight: 600;
      font-size:23px;
      padding-left:12px;
      padding-bottom:20px;
      
}
.influencer-results-container{
    height: 360px;
    border-top: 1px solid rgb(210, 215, 220);
    padding-left:50px;
    padding-top:20px;
}

.invite{
    height: 35px;
    padding-top: 5px;
    width: 36px;
    border-radius: 32px;
    background-color: #e0e0e0;
    margin: 0 auto;
    text-align: center;
    float: none;


}

#loading{
    display:none; 
    top:31%; 
    left:43%; 
    position:fixed; 
    z-index:1001;
}

.tokenfield{
    max-width:700px !important;
    margin: 0 auto !important; 
    margin-top:15px !important;
    
}
.button-container{
    text-align: center;
}

.filter-section{
    padding-top:30px;
}
.measure-text{
    float: left;
    min-width:150px;
}
.search-button{
    width:300px;
    border-radius: 1px;
    border: 0px;
    color: white;
    background-color: white;
    height: 50px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: #73C48D;
    margin-bottom:30px;
}



.slider-container{
    width:80%;

}
.slider-container:after{
display:table;
content:"" ;
clear:both;

}
.sliders{
    float:left; 
    width:80%;
}


@media only screen and (max-width: 700px) {
    .discover-header{
        font-size:35px;
    }
    .filter-text{
        font-size: 16px;
    }
    .filter-input{
        max-width: 425px;
    }
    .tokenfield{
        max-width: 425px !important;
    }
    .description-text{
        max-width:425px;
    }

}

@media only screen and (max-width: 1000px) and (min-width: 768px){
    .measure-text{
     min-width: 0px;   
    }
}

@media only screen and (max-width: 425px) {
    .filter-text{
        font-size: 13px;
    }
    .description-text{
        font-size:11px;
    }
    .influencer-results-container{
        padding-left:0px;
    }
    .influencer-header{
        text-align: center;
        font-size: 20px;
    }
    .filter-button-container{
        text-align: center;
    }
    .button-icon{
        font-size:20px;
        padding-left:20px;
    }
    .measure-text{
        float:none;
        text-align: center;
        padding-left:0px;
    }
    .sliders{
        float:none;
        margin: 0 auto;
    }
    .slider-container{
        width:100%;
    }
    .found-influencers{
        padding-right:0px;
    }
    .influencer-card-discover{
        width: 100%;
    }    

}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm5ldy1kaXNjb3Zlci5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7SUFDSSxtQkFBbUI7SUFDbkIsZ0JBQWdCO0lBQ2hCLG9CQUFvQjtDQUN2QjtBQUNEO0lBQ0ksY0FBYztDQUNqQjs7QUFFRDtJQUNJLG9CQUFvQjtJQUNwQixpQkFBaUI7SUFDakIsZUFBZTtJQUNmLGlCQUFpQjtJQUNqQixnQkFBZ0I7SUFDaEIsZUFBZTtJQUNmLGlCQUFpQjtDQUNwQjtBQUNEO0lBQ0ksY0FBYztJQUNkLGtCQUFrQjtJQUNsQixlQUFlO0lBQ2YscUNBQXFDO0lBQ3JDLGlCQUFpQjtJQUNqQixtQkFBbUI7Q0FDdEI7QUFDRDtJQUNJLGdCQUFnQjtDQUNuQjs7QUFFRDtJQUNJLG9CQUFvQjtDQUN2QjtBQUNEO0lBQ0ksZ0JBQWdCO0lBQ2hCLGVBQWU7SUFDZixxQ0FBcUM7SUFDckMsaUJBQWlCO0lBQ2pCLGtCQUFrQjtJQUNsQixpQkFBaUI7SUFDakIsbUJBQW1CO0NBQ3RCO0FBQ0Q7SUFDSSxnQkFBZ0I7SUFDaEIsZUFBZTtJQUNmLGdCQUFnQjtDQUNuQjs7QUFFRDtNQUNNLGNBQWM7TUFDZCxxQ0FBcUM7TUFDckMsaUJBQWlCO01BQ2pCLGVBQWU7TUFDZixrQkFBa0I7TUFDbEIsb0JBQW9COztDQUV6QjtBQUNEO0lBQ0ksY0FBYztJQUNkLHlDQUF5QztJQUN6QyxrQkFBa0I7SUFDbEIsaUJBQWlCO0NBQ3BCOztBQUVEO0lBQ0ksYUFBQTtJQUNBLGlCQUFBO0lBQ0EsWUFBQTtJQUNBLG9CQUFvQjtJQUN2QiwwQkFBQTtJQUNELGVBQUE7SUFDSSxtQkFBbUI7SUFDdEIsWUFBQTs7O0NBR0E7O0FBRUQ7SUFDSSxhQUFZO0lBQ1osUUFBQTtJQUNILFNBQUE7SUFDRCxlQUFBO0lBQ0ksYUFBWTtDQUNmOztBQUVEO0lBQ0ksMkJBQXdCO0lBQ3hCLDBCQUFhO0lBQ2IsMkJBQWdCOztDQUVuQjtBQUNEO0lBQ0MsbUJBQUE7Q0FDQTs7QUFFRDtJQUNBLGlCQUFBO0NBQ0M7QUFDRDtJQUNDLFlBQUE7SUFDRCxnQkFBQTtDQUNBO0FBQ0E7SUFDQSxZQUFXO0lBQ1AsbUJBQW1CO0lBQ3RCLFlBQUE7SUFDRCxhQUFBO0lBQ0ksd0JBQVc7SUFDWCxhQUFVO0lBQ2IsZ0JBQUE7SUFDRyxzQ0FBc0M7SUFDdEMsMEJBQTBCO0lBQzlCLG1CQUFBO0NBQ0M7Ozs7QUFJRDtJQUNJLFVBQUM7O0NBRUo7QUFDRDtBQUNBLGNBQUk7QUFDSixZQUFRO0FBQ1IsV0FBSzs7Q0FFSjtBQUNEO0lBQ0ksV0FBVztJQUNkLFVBQUE7Q0FDQTs7O0FBR0Q7SUFDSTtRQUNILGVBQUE7S0FDSTtJQUNMO1FBQ0ksZ0JBQUE7S0FDQztJQUNEO1FBQ0EsaUJBQUE7S0FDQztJQUNEO1FBQ0EsNEJBQUE7S0FDQztJQUNEO1FBQ0EsZ0JBQUE7S0FDQzs7Q0FFSjs7QUFFRDtJQUNJO0tBQ0EsZUFBQTtLQUNDO0NBQ0o7O0FBRUQ7SUFDSTtRQUNJLGdCQUFBO0tBQ0g7SUFDRDtRQUNBLGVBQUE7S0FDQztJQUNEO1FBQ0MsaUJBQUE7S0FDRDtJQUNBO1FBQ0MsbUJBQUE7UUFDRCxnQkFBQTtLQUNDO0lBQ0Q7UUFDQSxtQkFBQTtLQUNDO0lBQ0Q7UUFDSSxlQUFlO1FBQ3RCLGtCQUFBO0tBQ0k7SUFDRDtRQUNJLFdBQVc7UUFDWCxtQkFBbUI7UUFDbkIsaUJBQWlCO0tBQ3BCO0lBQ0Q7UUFDSSxXQUFXO1FBQ1gsZUFBZTtLQUNsQjtJQUNEO1FBQ0ksV0FBVztLQUNkO0lBQ0Q7UUFDSSxrQkFBa0I7S0FDckI7SUFDRDtRQUNJLFlBQVk7S0FDZjs7Q0FFSiIsImZpbGUiOiJuZXctZGlzY292ZXIuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLmJ1dHRvbi1pY29ue1xuICAgIHBhZGRpbmctbGVmdDogMTBweDtcbiAgICBmb250LXNpemU6IDMwcHg7XG4gICAgcGFkZGluZy1yaWdodDogMjVweDtcbn1cbi5idXR0b24taWNvbi1hY3RpdmV7XG4gICAgY29sb3I6IzczQzQ4RDtcbn1cblxuLmRlc2NyaXB0aW9uLXRleHR7XG4gICAgcGFkZGluZy1ib3R0b206MTBweDtcbiAgICBwYWRkaW5nLXRvcDoxMHB4O1xuICAgIGNvbG9yOiAjQTJBOEIxO1xuICAgIGZvbnQtd2VpZ2h0OiAxMDA7XG4gICAgZm9udC1zaXplOiAxM3B4O1xuICAgIG1hcmdpbjogMCBhdXRvO1xuICAgIG1heC13aWR0aDogNjAwcHg7XG59XG4uZGlzY292ZXItaGVhZGVye1xuICAgIGNvbG9yOiM1MTU4NjI7XG4gICAgdGV4dC1hbGlnbjpjZW50ZXI7XG4gICAgZm9udC1zaXplOjQ1cHg7XG4gICAgZm9udC1mYW1pbHk6J01vbnRzZXJyYXQnLCBzYW5zLXNlcmlmO1xuICAgIGZvbnQtd2VpZ2h0OiA2MDA7XG4gICAgbGV0dGVyLXNwYWNpbmc6MnB4O1xufVxuI2VuZ2FnZW1lbnQtdGV4dHtcbiAgICBtYXJnaW4tdG9wOjE1cHg7XG59XG5cbi5maWx0ZXItYnV0dG9uLWNvbnRhaW5lcntcbiAgICBwYWRkaW5nLWJvdHRvbToyMHB4O1xufVxuLmZpbHRlci10ZXh0e1xuICAgIGZvbnQtc2l6ZTogMjBweDtcbiAgICBjb2xvcjogIzMwMzYzRjtcbiAgICBmb250LWZhbWlseTogJ09wZW4gU2FucycsIHNhbnMtc2VyaWY7XG4gICAgZm9udC13ZWlnaHQ6IDQwMDtcbiAgICBwYWRkaW5nLWxlZnQ6IDBweDtcbiAgICBtaW4td2lkdGg6IDEzNXB4O1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbn1cbi5maWx0ZXItaW5wdXR7XG4gICAgbWF4LXdpZHRoOjcwMHB4O1xuICAgIG1hcmdpbjogMCBhdXRvO1xuICAgIG1hcmdpbi10b3A6MTVweDtcbn1cblxuLmluZmx1ZW5jZXItaGVhZGVye1xuICAgICAgY29sb3I6IzUxNTg2MjtcbiAgICAgIGZvbnQtZmFtaWx5OidNb250c2VycmF0Jywgc2Fucy1zZXJpZjtcbiAgICAgIGZvbnQtd2VpZ2h0OiA2MDA7XG4gICAgICBmb250LXNpemU6MjNweDtcbiAgICAgIHBhZGRpbmctbGVmdDoxMnB4O1xuICAgICAgcGFkZGluZy1ib3R0b206MjBweDtcbiAgICAgIFxufVxuLmluZmx1ZW5jZXItcmVzdWx0cy1jb250YWluZXJ7XG4gICAgaGVpZ2h0OiAzNjBweDtcbiAgICBib3JkZXItdG9wOiAxcHggc29saWQgcmdiKDIxMCwgMjE1LCAyMjApO1xuICAgIHBhZGRpbmctbGVmdDo1MHB4O1xuICAgIHBhZGRpbmctdG9wOjIwcHg7XG59XG5cbi50b2tlbmZpZWxke1xuICAgIG1heC13aWR0aDo3MDBweCAhaW1wb3J0YW50O1xuICAgIG1hcmdpbjogMCBhdXRvICFpbXBvcnRhbnQ7IFxuICAgIG1hcmdpbi10b3A6MTVweCAhaW1wb3J0YW50O1xuICAgIFxufVxuLmJ1dHRvbi1jb250YWluZXJ7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xufVxuXG4uZmlsdGVyLXNlY3Rpb257XG4gICAgcGFkZGluZy10b3A6MzBweDtcbn1cbi5tZWFzdXJlLXRleHR7XG4gICAgZmxvYXQ6IGxlZnQ7XG4gICAgbWluLXdpZHRoOjE1MHB4O1xufVxuLnNlYXJjaC1idXR0b257XG4gICAgd2lkdGg6MzAwcHg7XG4gICAgYm9yZGVyLXJhZGl1czogMXB4O1xuICAgIGJvcmRlcjogMHB4O1xuICAgIGNvbG9yOiB3aGl0ZTtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiB3aGl0ZTtcbiAgICBoZWlnaHQ6IDUwcHg7XG4gICAgZm9udC1zaXplOiAxNnB4O1xuICAgIGZvbnQtZmFtaWx5OiAnTW9udHNlcnJhdCcsIHNhbnMtc2VyaWY7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogIzczQzQ4RDtcbiAgICBtYXJnaW4tYm90dG9tOjMwcHg7XG59XG5cblxuXG4uc2xpZGVyLWNvbnRhaW5lcntcbiAgICB3aWR0aDo4MCU7XG5cbn1cbi5zbGlkZXItY29udGFpbmVyOmFmdGVye1xuZGlzcGxheTp0YWJsZTtcbmNvbnRlbnQ6XCJcIiA7XG5jbGVhcjpib3RoO1xuXG59XG4uc2xpZGVyc3tcbiAgICBmbG9hdDpsZWZ0OyBcbiAgICB3aWR0aDo4MCU7XG59XG5cblxuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiA3MDBweCkge1xuICAgIC5kaXNjb3Zlci1oZWFkZXJ7XG4gICAgICAgIGZvbnQtc2l6ZTozNXB4O1xuICAgIH1cbiAgICAuZmlsdGVyLXRleHR7XG4gICAgICAgIGZvbnQtc2l6ZTogMTZweDtcbiAgICB9XG4gICAgLmZpbHRlci1pbnB1dHtcbiAgICAgICAgbWF4LXdpZHRoOiA0MjVweDtcbiAgICB9XG4gICAgLnRva2VuZmllbGR7XG4gICAgICAgIG1heC13aWR0aDogNDI1cHggIWltcG9ydGFudDtcbiAgICB9XG4gICAgLmRlc2NyaXB0aW9uLXRleHR7XG4gICAgICAgIG1heC13aWR0aDo0MjVweDtcbiAgICB9XG5cbn1cblxuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiAxMDAwcHgpIGFuZCAobWluLXdpZHRoOiA3NjhweCl7XG4gICAgLm1lYXN1cmUtdGV4dHtcbiAgICAgbWluLXdpZHRoOiAwcHg7ICAgXG4gICAgfVxufVxuXG5AbWVkaWEgb25seSBzY3JlZW4gYW5kIChtYXgtd2lkdGg6IDQyNXB4KSB7XG4gICAgLmZpbHRlci10ZXh0e1xuICAgICAgICBmb250LXNpemU6IDEzcHg7XG4gICAgfVxuICAgIC5kZXNjcmlwdGlvbi10ZXh0e1xuICAgICAgICBmb250LXNpemU6MTFweDtcbiAgICB9XG4gICAgLmluZmx1ZW5jZXItcmVzdWx0cy1jb250YWluZXJ7XG4gICAgICAgIHBhZGRpbmctbGVmdDowcHg7XG4gICAgfVxuICAgIC5pbmZsdWVuY2VyLWhlYWRlcntcbiAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgICAgICBmb250LXNpemU6IDIwcHg7XG4gICAgfVxuICAgIC5maWx0ZXItYnV0dG9uLWNvbnRhaW5lcntcbiAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIH1cbiAgICAuYnV0dG9uLWljb257XG4gICAgICAgIGZvbnQtc2l6ZToyMHB4O1xuICAgICAgICBwYWRkaW5nLWxlZnQ6MjBweDtcbiAgICB9XG4gICAgLm1lYXN1cmUtdGV4dHtcbiAgICAgICAgZmxvYXQ6bm9uZTtcbiAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgICAgICBwYWRkaW5nLWxlZnQ6MHB4O1xuICAgIH1cbiAgICAuc2xpZGVyc3tcbiAgICAgICAgZmxvYXQ6bm9uZTtcbiAgICAgICAgbWFyZ2luOiAwIGF1dG87XG4gICAgfVxuICAgIC5zbGlkZXItY29udGFpbmVye1xuICAgICAgICB3aWR0aDoxMDAlO1xuICAgIH1cbiAgICAuZm91bmQtaW5mbHVlbmNlcnN7XG4gICAgICAgIHBhZGRpbmctcmlnaHQ6MHB4O1xuICAgIH1cbiAgICAuaW5mbHVlbmNlci1jYXJkLWRpc2NvdmVye1xuICAgICAgICB3aWR0aDogMTAwJTtcbiAgICB9ICAgIFxuXG59Il19 */