.influencer-card-container{
padding-top: 55px;
margin-left: 55px;
}

.button-container{
    padding-left:0px;
}
.platform-container {
  text-align: center;
}
.social-container {
  margin-top: 40%;
}
.instagram-logo-green, .twitter-logo-green {
  width: 40px;
}
.facebook-logo-green{
  width: 38px;
}
.youtube-logo-green {
  width: 60px;
}
.followers-text {
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'montserratlight';
  letter-spacing: 0.5px;
  color: #A2A6b1;
}
.inf-number {
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  line-height: 18px;
  color: #1F232A;
  letter-spacing: 1px;
  margin-bottom: 10%;
}
.inf-number.youtube{
  margin-bottom: 4%;
}
.inf-number.facebook{
  margin-bottom: 13%;

}

.social-button{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: #30363F;
    padding-left: 11px;
    background-color: #A2A8B1;
    border: 1px;
    float: left;
    margin-bottom: 8px;
    padding-top: 5px;
    padding-bottom: 31px;
    max-width: 207px;
}



.card-discover{
    border: 1px solid rgb(210,215,220);
    float:left;
    /*max-width: 350px;*/
    width:100%;
}
.profile-tag-margin{
  margin-bottom: 5%;
}

.influencer-card-discover:hover{
      border: 1px solid #73C48D;
}
.checkmark-profile {
  margin-left: 44%;
}
.profile-card {
  height: 180px;
}

.tag-container{
  margin-top: 20px;
  text-align: -webkit-center;
}
.tag {
  text-align: center;
  text-transform: uppercase;
  width: 95px;
  height: 27px;
  font-size: 13px;
  background-color: lightgrey;
  border-radius: 95px;
  line-height: 19px;
  margin-top: 7px;
  margin-right: 3px;
}
.fb-feed-card{
  width: 207px;
  margin-top: 15px;
  height: 292px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  color: #1F232A;
}
.fb-feed-card:hover{
      border: 1px solid #73C48D;
}
.fb-card{
  height: 375px;
  width: 425px;
  max-width: 207px;
  max-height: 200px;
  background-color: black;
}

#facebook, .fb-feed-div {
  padding:0;
}

.interaction-info {
  text-align: left;
  border-top: 1px solid lightgrey;
  height: 50px;
  font-size: 12px;
  padding: 5px 10px;
}
.thumb-green{
  width: 18px;
}
img.share-green {
  width: 24px;
}
.comment-icon {
  width: 20px;
}
 .likes, .comments , .shares {
  display: inline-block;
   margin-right: 5%;
}

.comment-icon,.thumb-green,.share-green{
  margin-right: 2px;
}

.fb-caption {
 padding: 5px 10px;
 line-height: 22px;
  height: 55px;
  font-size: 12px;
  text-align: -webkit-left;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: 'montserratlight';
}


@media(min-width:600px) and)(max-width:770px){
.col-sm-9.social-content, .col-sm-9.social-buttons {
  float: right;
  }
}


@media(min-width:768px) and (max-width:831px){
  .profile-card {
    height: 220px;
  }
  .checkmark-profile{
    margin-left: 38%;
  }
}

@media(min-width:768px) and (max-width:991px){


}

@media(min-width:992px) and (max-width:1100px){
 .social-buttons, #instagram, #facebook {
    width: 120%;
  }
  #facebook, .fb-feed-div{
    padding:0;
  }
  .influencer-card-container{
    margin-left: 12px;
  }
}

@media(min-width:1101px) and (max-width:1200px){
 .social-buttons, #instagram, #facebook {
    width: 112%;
  }
  #facebook, .fb-feed-div{
    padding:0;
  }
  .influencer-card-container{
    margin-left: 12px;
  }
}

@media(min-width:1201px) and (max-width:1400px){
 .social-buttons, #instagram, #facebook {
    width: 110%;
  }
  #facebook, .fb-feed-div{
    padding:0;
  }
}

@media(min-width:1401px) and (max-width:1450px){
 .social-buttons, #instagram, #facebook {
    width: 106%;
  }
  #facebook, .fb-feed-div{
    padding:0;
  }
}

@media(min-width:1501px) and (max-width:1600px){
 .social-buttons, #instagram, #facebook {
    width: 108%;
  }
  #facebook, .fb-feed-div{
    padding:0;
  }
}

@media (max-width:991px) {
  .influencer-card-discover{
    width: 260px;
  }
}

@media (min-width:1200px) and (max-width:1350px){
.col-xl-5.social-collage {
    width:54.666667%;
}
}
@media (min-width:1351px) and (max-width:1500px){
.col-xl-5.social-collage {
    width:49.666667%;
}
}
@media (min-width:1501px) and (max-width:1700px){
.col-xl-5.social-collage {
  width:44.666667%;
}
}
@media (min-width:1800px){
.col-xl-5.social-collage {
  width:39.666667%
}
}

.influencer-image-card{
    max-width: 100%;
    width:100%;
    object-fit: cover;
    object-position: 30%;
    /*height: 262px;*/
    /*Height will be changed when we figure out different solution */

}


.button-option-text{
    position: absolute;
    padding-left: 13%;
    color: white;
    font-family: 'montserratlight';
    font-size: 13px;
    padding-top: 2px;
}


.image-container{
    padding-left:0px;
    max-height:207px;
    margin-bottom:10px;
}

.image-size{
    padding-left: 0px;
    padding-right: 0px;
    max-width: 207px;
    height: 200px;
    object-fit: cover;
    width: 100%;
    object-position: 0 12%;

}

.social-buttons{
  padding-top: 20px;
    padding-bottom:20px;
}
