.primary-button, #influencers-pullout button, .secondary-button {
  border-radius: 1px;
  font-family: "Montserrat", sans-serif;
  transition: background .4s, box-shadow .4s, color .4s, border .4s;
  cursor: pointer; }
  .primary-button:focus, #influencers-pullout button:focus, .secondary-button:focus {
    outline: none; }

#influencers-pullout header #dismiss-button {
  font-size: 21px;
  color: #73C48D;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  border: 2px solid;
  border-radius: 50%;
  transition: color .5s ease;
  cursor: pointer; }
  #influencers-pullout header #dismiss-button:hover {
    color: #e74845; }

.primary-button, #influencers-pullout button {
  border: none;
  background: #73C48D;
  color: white; }
  .primary-button:hover, #influencers-pullout button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .primary-button:active, #influencers-pullout button:active {
    box-shadow: 0px 0px 0px white; }

.secondary-button {
  border: 1px solid #30363F;
  background: white;
  color: #30363F; }
  .secondary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .secondary-button:active {
    box-shadow: 0px 0px 0px white; }
  .secondary-button:hover {
    color: #63AB80;
    border: 1px solid #63AB80; }

.content {
  min-width: 100%;
  min-height: 100%;
  padding: 40px;
  background-color: #fff;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1; }

#influencers-pullout {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  z-index: 200;
  left: 100vw;
  height: 100%;
  width: 400px;
  padding: 10px;
  user-select: none;
  background: white;
  border-left: 5px solid #73C48D; }
  #influencers-pullout #pulltab {
    position: absolute;
    width: 65px;
    height: auto;
    left: -65px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer; }
  #influencers-pullout header {
    margin-bottom: 15px; }
    #influencers-pullout header:after {
      content: "";
      display: table;
      clear: both; }
    #influencers-pullout header #num-influencers {
      float: left;
      color: #73C48D;
      font-size: 68px;
      font-weight: 600;
      line-height: 62px;
      margin-right: 12px; }
    #influencers-pullout header #header-text {
      font-size: 21px;
      color: #30363F;
      font-family: "Open Sans", sans-serif;
      font-weight: 600; }
    #influencers-pullout header #dismiss-button {
      position: absolute;
      top: 10px;
      left: 345px;
      padding: 0 10px; }
  #influencers-pullout button {
    padding: 12px; }
    #influencers-pullout button.greyed-out {
      background: #A2A8B1; }
      #influencers-pullout button.greyed-out:hover {
        box-shadow: 0px 0px 0px white; }
      #influencers-pullout button.greyed-out:active {
        box-shadow: 0px 0px 0px white; }
  #influencers-pullout #action-buttons {
    margin-top: -55.5px; }
  #influencers-pullout #influencer-pullout-image-container {
    overflow: scroll;
    height: calc(100vh - 230px);
    margin: 5% 0 5% 0; }
    #influencers-pullout #influencer-pullout-image-container .influencer-pullout-image {
      border-radius: 50%;
      width: 21%;
      height: auto;
      margin: 0 3% 3% 0;
      border: 2.5px solid transparent; }
    #influencers-pullout #influencer-pullout-image-container .image-selected {
      border: 2.5px solid #73C48D; }
