.primary-button, .secondary-button, .update-password-btn {
  border-radius: 1px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  -webkit-transition: background .4s, box-shadow .4s, color .4s, border .4s;
  transition: background .4s, box-shadow .4s, color .4s, border .4s;
  cursor: pointer; }
  .primary-button:focus, .secondary-button:focus, .update-password-btn:focus {
    outline: none; }

.primary-button {
  border: none;
  background: #73C48D;
  text-transform: uppercase;
  color: white; }
  .primary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .primary-button:active {
    box-shadow: 0px 0px 0px white; }

.secondary-button, .update-password-btn {
  border: 1px solid #30363F;
  background: white;
  color: #30363F; }
  .secondary-button:hover, .update-password-btn:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .secondary-button:active, .update-password-btn:active {
    box-shadow: 0px 0px 0px white; }
  .secondary-button:hover, .update-password-btn:hover {
    color: #63AB80;
    border: 1px solid #63AB80; }

.update-password-btn {
  border-radius: 1px;
  height: 50px;
  font-size: 16px; }

#uploaded-img {
  height: 150px;
  width: 150px; }

.image-title {
  margin-top: 110px;
  margin-left: -285px; }

@media (min-width: 900px) and (max-width: 1100px) {
  .settings-box {
    margin-left: 25%; } }

@media (min-width: 600px) and (max-width: 899px) {
  .settings-box {
    margin-left: 30%; }
  .settings {
    margin-top: 12%; } }

/* iphone 6 media query */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .image-title {
    display: none; }
  .upload-img {
    display: block; }
  input.upload-img-btn.avocado-hover.avocado-focus {
    width: 44%; } }

/* iphone 5 media query*/
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) and (-webkit-min-device-pixel-ratio: 2) {
  .form-control {
    font-size: 12px; }
  .upload-img {
    display: block; }
  input.upload-img-btn.avocado-hover.avocado-focus {
    width: 50%;
    padding: 4px 15px;
    margin-left: 5%; }
  .update-password-btn {
    height: 52px;
    width: 250px; }
  .update-profile-btn {
    height: 40px;
    width: 250px; }
  .uploaded-img-square {
    width: 100px;
    height: 100px; }
  #uploaded-img {
    height: 100px;
    width: 100px; }
  .image-title {
    display: none; }
  /**************************/
  .settings-lg-col {
    /*width: 36%;
        margin-left: 0%;*/
    margin-top: 5%; }
  .small-col {
    width: 40%; }
  .settings {
    margin-top: 25%; }
  .settings-box {
    margin-left: 35%; }
  .profile-title {
    font-size: 11px; }
  .title {
    width: 120px; } }

/* Iphone 5 landscape*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  input.upload-img-btn.avocado-hover.avocado-focus {
    width: 34%; } }

/* iphone 6+*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  input.upload-img-btn.avocado-hover.avocado-focus {
    width: 39%; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  input.upload-img-btn {
    width: 220px;
    height: 50px; }
  .image-title {
    margin-top: 100px;
    margin-left: -230px; } }

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .image-title {
    margin-left: -290px;
    margin-top: 115px; } }

/* Landscape iphone 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .image-title {
    margin-top: 103px;
    margin-left: -265px; }
  input.upload-img-btn.avocado-hover.avocado-focus {
    width: 30%; } }

/* Landscape iphone 6+ */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .image-title {
    display: none; }
  input.upload-img-btn.avocado-hover.avocado-focus {
    width: 29%; } }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInNldHRpbmdzLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLG1CQUFtQjtFQUNuQixzQ0FBc0M7RUFDdEMsMkJBQTJCO0VBQzNCLDBFQUFrRTtFQUFsRSxrRUFBa0U7RUFDbEUsZ0JBQWdCLEVBQUU7RUFDbEI7SUFDRSxjQUFjLEVBQUU7O0FBRXBCO0VBQ0UsYUFBYTtFQUNiLG9CQUFvQjtFQUNwQiwwQkFBMEI7RUFDMUIsYUFBYSxFQUFFO0VBQ2Y7SUFDRSxnQ0FBZ0MsRUFBRTtFQUNwQztJQUNFLDhCQUE4QixFQUFFOztBQUVwQztFQUNFLDBCQUEwQjtFQUMxQixrQkFBa0I7RUFDbEIsZUFBZSxFQUFFO0VBQ2pCO0lBQ0UsZ0NBQWdDLEVBQUU7RUFDcEM7SUFDRSw4QkFBOEIsRUFBRTtFQUNsQztJQUNFLGVBQWU7SUFDZiwwQkFBMEIsRUFBRTs7QUFFaEM7RUFDRSxtQkFBbUI7RUFDbkIsYUFBYTtFQUNiLGdCQUFnQixFQUFFOztBQUVwQjtFQUNFLGNBQWM7RUFDZCxhQUFhLEVBQUU7O0FBRWpCO0VBQ0Usa0JBQWtCO0VBQ2xCLG9CQUFvQixFQUFFOztBQUV4QjtFQUNFO0lBQ0UsaUJBQWlCLEVBQUUsRUFBRTs7QUFFekI7RUFDRTtJQUNFLGlCQUFpQixFQUFFO0VBQ3JCO0lBQ0UsZ0JBQWdCLEVBQUUsRUFBRTs7QUFFeEIsMEJBQTBCO0FBQzFCO0VBQ0U7SUFDRSxjQUFjLEVBQUU7RUFDbEI7SUFDRSxlQUFlLEVBQUU7RUFDbkI7SUFDRSxXQUFXLEVBQUUsRUFBRTs7QUFFbkIseUJBQXlCO0FBQ3pCO0VBQ0U7SUFDRSxnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFLGVBQWUsRUFBRTtFQUNuQjtJQUNFLFdBQVc7SUFDWCxrQkFBa0I7SUFDbEIsZ0JBQWdCLEVBQUU7RUFDcEI7SUFDRSxhQUFhO0lBQ2IsYUFBYSxFQUFFO0VBQ2pCO0lBQ0UsYUFBYTtJQUNiLGFBQWEsRUFBRTtFQUNqQjtJQUNFLGFBQWE7SUFDYixjQUFjLEVBQUU7RUFDbEI7SUFDRSxjQUFjO0lBQ2QsYUFBYSxFQUFFO0VBQ2pCO0lBQ0UsY0FBYyxFQUFFO0VBQ2xCLDRCQUE0QjtFQUM1QjtJQUNFOzBCQUNzQjtJQUN0QixlQUFlLEVBQUU7RUFDbkI7SUFDRSxXQUFXLEVBQUU7RUFDZjtJQUNFLGdCQUFnQixFQUFFO0VBQ3BCO0lBQ0UsaUJBQWlCLEVBQUU7RUFDckI7SUFDRSxnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFLGFBQWEsRUFBRSxFQUFFOztBQUVyQix1QkFBdUI7QUFDdkI7RUFDRTtJQUNFLFdBQVcsRUFBRSxFQUFFOztBQUVuQixjQUFjO0FBQ2Q7RUFDRTtJQUNFLFdBQVcsRUFBRSxFQUFFOztBQUVuQjtFQUNFO0lBQ0UsYUFBYTtJQUNiLGFBQWEsRUFBRTtFQUNqQjtJQUNFLGtCQUFrQjtJQUNsQixvQkFBb0IsRUFBRSxFQUFFOztBQUU1QjtFQUNFO0lBQ0Usb0JBQW9CO0lBQ3BCLGtCQUFrQixFQUFFLEVBQUU7O0FBRTFCLHdCQUF3QjtBQUN4QjtFQUNFO0lBQ0Usa0JBQWtCO0lBQ2xCLG9CQUFvQixFQUFFO0VBQ3hCO0lBQ0UsV0FBVyxFQUFFLEVBQUU7O0FBRW5CLHlCQUF5QjtBQUN6QjtFQUNFO0lBQ0UsY0FBYyxFQUFFO0VBQ2xCO0lBQ0UsV0FBVyxFQUFFLEVBQUUiLCJmaWxlIjoic2V0dGluZ3MuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLnByaW1hcnktYnV0dG9uLCAuc2Vjb25kYXJ5LWJ1dHRvbiwgLnVwZGF0ZS1wYXNzd29yZC1idG4ge1xuICBib3JkZXItcmFkaXVzOiAxcHg7XG4gIGZvbnQtZmFtaWx5OiBcIk1vbnRzZXJyYXRcIiwgc2Fucy1zZXJpZjtcbiAgdGV4dC10cmFuc2Zvcm06IGNhcGl0YWxpemU7XG4gIHRyYW5zaXRpb246IGJhY2tncm91bmQgLjRzLCBib3gtc2hhZG93IC40cywgY29sb3IgLjRzLCBib3JkZXIgLjRzO1xuICBjdXJzb3I6IHBvaW50ZXI7IH1cbiAgLnByaW1hcnktYnV0dG9uOmZvY3VzLCAuc2Vjb25kYXJ5LWJ1dHRvbjpmb2N1cywgLnVwZGF0ZS1wYXNzd29yZC1idG46Zm9jdXMge1xuICAgIG91dGxpbmU6IG5vbmU7IH1cblxuLnByaW1hcnktYnV0dG9uIHtcbiAgYm9yZGVyOiBub25lO1xuICBiYWNrZ3JvdW5kOiAjNzNDNDhEO1xuICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xuICBjb2xvcjogd2hpdGU7IH1cbiAgLnByaW1hcnktYnV0dG9uOmhvdmVyIHtcbiAgICBib3gtc2hhZG93OiAwcHggMHB4IDRweCAjNjNBQjgwOyB9XG4gIC5wcmltYXJ5LWJ1dHRvbjphY3RpdmUge1xuICAgIGJveC1zaGFkb3c6IDBweCAwcHggMHB4IHdoaXRlOyB9XG5cbi5zZWNvbmRhcnktYnV0dG9uLCAudXBkYXRlLXBhc3N3b3JkLWJ0biB7XG4gIGJvcmRlcjogMXB4IHNvbGlkICMzMDM2M0Y7XG4gIGJhY2tncm91bmQ6IHdoaXRlO1xuICBjb2xvcjogIzMwMzYzRjsgfVxuICAuc2Vjb25kYXJ5LWJ1dHRvbjpob3ZlciwgLnVwZGF0ZS1wYXNzd29yZC1idG46aG92ZXIge1xuICAgIGJveC1zaGFkb3c6IDBweCAwcHggNHB4ICM2M0FCODA7IH1cbiAgLnNlY29uZGFyeS1idXR0b246YWN0aXZlLCAudXBkYXRlLXBhc3N3b3JkLWJ0bjphY3RpdmUge1xuICAgIGJveC1zaGFkb3c6IDBweCAwcHggMHB4IHdoaXRlOyB9XG4gIC5zZWNvbmRhcnktYnV0dG9uOmhvdmVyLCAudXBkYXRlLXBhc3N3b3JkLWJ0bjpob3ZlciB7XG4gICAgY29sb3I6ICM2M0FCODA7XG4gICAgYm9yZGVyOiAxcHggc29saWQgIzYzQUI4MDsgfVxuXG4udXBkYXRlLXBhc3N3b3JkLWJ0biB7XG4gIGJvcmRlci1yYWRpdXM6IDFweDtcbiAgaGVpZ2h0OiA1MHB4O1xuICBmb250LXNpemU6IDE2cHg7IH1cblxuI3VwbG9hZGVkLWltZyB7XG4gIGhlaWdodDogMTUwcHg7XG4gIHdpZHRoOiAxNTBweDsgfVxuXG4uaW1hZ2UtdGl0bGUge1xuICBtYXJnaW4tdG9wOiAxMTBweDtcbiAgbWFyZ2luLWxlZnQ6IC0yODVweDsgfVxuXG5AbWVkaWEgKG1pbi13aWR0aDogOTAwcHgpIGFuZCAobWF4LXdpZHRoOiAxMTAwcHgpIHtcbiAgLnNldHRpbmdzLWJveCB7XG4gICAgbWFyZ2luLWxlZnQ6IDI1JTsgfSB9XG5cbkBtZWRpYSAobWluLXdpZHRoOiA2MDBweCkgYW5kIChtYXgtd2lkdGg6IDg5OXB4KSB7XG4gIC5zZXR0aW5ncy1ib3gge1xuICAgIG1hcmdpbi1sZWZ0OiAzMCU7IH1cbiAgLnNldHRpbmdzIHtcbiAgICBtYXJnaW4tdG9wOiAxMiU7IH0gfVxuXG4vKiBpcGhvbmUgNiBtZWRpYSBxdWVyeSAqL1xuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLWRldmljZS13aWR0aDogMzc1cHgpIGFuZCAobWF4LWRldmljZS13aWR0aDogNjY3cHgpIGFuZCAoLXdlYmtpdC1taW4tZGV2aWNlLXBpeGVsLXJhdGlvOiAyKSB7XG4gIC5pbWFnZS10aXRsZSB7XG4gICAgZGlzcGxheTogbm9uZTsgfVxuICAudXBsb2FkLWltZyB7XG4gICAgZGlzcGxheTogYmxvY2s7IH1cbiAgaW5wdXQudXBsb2FkLWltZy1idG4uYXZvY2Fkby1ob3Zlci5hdm9jYWRvLWZvY3VzIHtcbiAgICB3aWR0aDogNDQlOyB9IH1cblxuLyogaXBob25lIDUgbWVkaWEgcXVlcnkqL1xuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLWRldmljZS13aWR0aDogMzIwcHgpIGFuZCAobWF4LWRldmljZS13aWR0aDogMzc0cHgpIGFuZCAoLXdlYmtpdC1taW4tZGV2aWNlLXBpeGVsLXJhdGlvOiAyKSB7XG4gIC5mb3JtLWNvbnRyb2wge1xuICAgIGZvbnQtc2l6ZTogMTJweDsgfVxuICAudXBsb2FkLWltZyB7XG4gICAgZGlzcGxheTogYmxvY2s7IH1cbiAgaW5wdXQudXBsb2FkLWltZy1idG4uYXZvY2Fkby1ob3Zlci5hdm9jYWRvLWZvY3VzIHtcbiAgICB3aWR0aDogNTAlO1xuICAgIHBhZGRpbmc6IDRweCAxNXB4O1xuICAgIG1hcmdpbi1sZWZ0OiA1JTsgfVxuICAudXBkYXRlLXBhc3N3b3JkLWJ0biB7XG4gICAgaGVpZ2h0OiA1MnB4O1xuICAgIHdpZHRoOiAyNTBweDsgfVxuICAudXBkYXRlLXByb2ZpbGUtYnRuIHtcbiAgICBoZWlnaHQ6IDQwcHg7XG4gICAgd2lkdGg6IDI1MHB4OyB9XG4gIC51cGxvYWRlZC1pbWctc3F1YXJlIHtcbiAgICB3aWR0aDogMTAwcHg7XG4gICAgaGVpZ2h0OiAxMDBweDsgfVxuICAjdXBsb2FkZWQtaW1nIHtcbiAgICBoZWlnaHQ6IDEwMHB4O1xuICAgIHdpZHRoOiAxMDBweDsgfVxuICAuaW1hZ2UtdGl0bGUge1xuICAgIGRpc3BsYXk6IG5vbmU7IH1cbiAgLyoqKioqKioqKioqKioqKioqKioqKioqKioqL1xuICAuc2V0dGluZ3MtbGctY29sIHtcbiAgICAvKndpZHRoOiAzNiU7XG4gICAgICAgIG1hcmdpbi1sZWZ0OiAwJTsqL1xuICAgIG1hcmdpbi10b3A6IDUlOyB9XG4gIC5zbWFsbC1jb2wge1xuICAgIHdpZHRoOiA0MCU7IH1cbiAgLnNldHRpbmdzIHtcbiAgICBtYXJnaW4tdG9wOiAyNSU7IH1cbiAgLnNldHRpbmdzLWJveCB7XG4gICAgbWFyZ2luLWxlZnQ6IDM1JTsgfVxuICAucHJvZmlsZS10aXRsZSB7XG4gICAgZm9udC1zaXplOiAxMXB4OyB9XG4gIC50aXRsZSB7XG4gICAgd2lkdGg6IDEyMHB4OyB9IH1cblxuLyogSXBob25lIDUgbGFuZHNjYXBlKi9cbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1pbi1kZXZpY2Utd2lkdGg6IDMyMHB4KSBhbmQgKG1heC1kZXZpY2Utd2lkdGg6IDU2OHB4KSBhbmQgKC13ZWJraXQtbWluLWRldmljZS1waXhlbC1yYXRpbzogMikgYW5kIChvcmllbnRhdGlvbjogbGFuZHNjYXBlKSB7XG4gIGlucHV0LnVwbG9hZC1pbWctYnRuLmF2b2NhZG8taG92ZXIuYXZvY2Fkby1mb2N1cyB7XG4gICAgd2lkdGg6IDM0JTsgfSB9XG5cbi8qIGlwaG9uZSA2KyovXG5AbWVkaWEgb25seSBzY3JlZW4gYW5kIChtaW4tZGV2aWNlLXdpZHRoOiA0MTRweCkgYW5kIChtYXgtZGV2aWNlLXdpZHRoOiA3MzZweCkgYW5kICgtd2Via2l0LW1pbi1kZXZpY2UtcGl4ZWwtcmF0aW86IDMpIHtcbiAgaW5wdXQudXBsb2FkLWltZy1idG4uYXZvY2Fkby1ob3Zlci5hdm9jYWRvLWZvY3VzIHtcbiAgICB3aWR0aDogMzklOyB9IH1cblxuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLWRldmljZS13aWR0aDogNzY4cHgpIGFuZCAobWF4LWRldmljZS13aWR0aDogMTAyNHB4KSBhbmQgKC13ZWJraXQtbWluLWRldmljZS1waXhlbC1yYXRpbzogMSkge1xuICBpbnB1dC51cGxvYWQtaW1nLWJ0biB7XG4gICAgd2lkdGg6IDIyMHB4O1xuICAgIGhlaWdodDogNTBweDsgfVxuICAuaW1hZ2UtdGl0bGUge1xuICAgIG1hcmdpbi10b3A6IDEwMHB4O1xuICAgIG1hcmdpbi1sZWZ0OiAtMjMwcHg7IH0gfVxuXG5AbWVkaWEgc2NyZWVuIGFuZCAobWluLWRldmljZS13aWR0aDogMTIwMHB4KSBhbmQgKG1heC1kZXZpY2Utd2lkdGg6IDE2MDBweCkgYW5kICgtd2Via2l0LW1pbi1kZXZpY2UtcGl4ZWwtcmF0aW86IDEpIHtcbiAgLmltYWdlLXRpdGxlIHtcbiAgICBtYXJnaW4tbGVmdDogLTI5MHB4O1xuICAgIG1hcmdpbi10b3A6IDExNXB4OyB9IH1cblxuLyogTGFuZHNjYXBlIGlwaG9uZSA2ICovXG5AbWVkaWEgb25seSBzY3JlZW4gYW5kIChtaW4tZGV2aWNlLXdpZHRoOiAzNzVweCkgYW5kIChtYXgtZGV2aWNlLXdpZHRoOiA2NjdweCkgYW5kICgtd2Via2l0LW1pbi1kZXZpY2UtcGl4ZWwtcmF0aW86IDIpIGFuZCAob3JpZW50YXRpb246IGxhbmRzY2FwZSkge1xuICAuaW1hZ2UtdGl0bGUge1xuICAgIG1hcmdpbi10b3A6IDEwM3B4O1xuICAgIG1hcmdpbi1sZWZ0OiAtMjY1cHg7IH1cbiAgaW5wdXQudXBsb2FkLWltZy1idG4uYXZvY2Fkby1ob3Zlci5hdm9jYWRvLWZvY3VzIHtcbiAgICB3aWR0aDogMzAlOyB9IH1cblxuLyogTGFuZHNjYXBlIGlwaG9uZSA2KyAqL1xuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLWRldmljZS13aWR0aDogNDE0cHgpIGFuZCAobWF4LWRldmljZS13aWR0aDogNzM2cHgpIGFuZCAoLXdlYmtpdC1taW4tZGV2aWNlLXBpeGVsLXJhdGlvOiAzKSBhbmQgKG9yaWVudGF0aW9uOiBsYW5kc2NhcGUpIHtcbiAgLmltYWdlLXRpdGxlIHtcbiAgICBkaXNwbGF5OiBub25lOyB9XG4gIGlucHV0LnVwbG9hZC1pbWctYnRuLmF2b2NhZG8taG92ZXIuYXZvY2Fkby1mb2N1cyB7XG4gICAgd2lkdGg6IDI5JTsgfSB9XG4iXX0= */