.primary-button, .signup-btn, .sign-up, .secondary-button {
  border-radius: 1px;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: background .4s, box-shadow .4s, color .4s, border .4s;
  transition: background .4s, box-shadow .4s, color .4s, border .4s;
  cursor: pointer; }
  .primary-button:focus, .signup-btn:focus, .sign-up:focus, .secondary-button:focus {
    outline: none; }

.primary-button, .signup-btn, .sign-up {
  border: none;
  background: #73C48D;
  color: white; }
  .primary-button:hover, .signup-btn:hover, .sign-up:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .primary-button:active, .signup-btn:active, .sign-up:active {
    box-shadow: 0px 0px 0px white; }

.secondary-button {
  border: 1px solid #30363F;
  background: white;
  color: #30363F; }
  .secondary-button:hover {
    box-shadow: 0px 0px 4px #63AB80; }
  .secondary-button:active {
    box-shadow: 0px 0px 0px white; }
  .secondary-button:hover {
    color: #63AB80;
    border: 1px solid #63AB80; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #C7C7CD !important; }

.input-group {
  padding-top: 0px; }

.signup-btn {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 12px 20px; }

@media only screen and (max-width: 590px) {
  .signup-header {
    font-size: 45px;
    padding-bottom: 55px; }
  .input-group {
    /*min-width:300px;*/
    width: 300px;
    display: inline; }
  #field {
    height: 60px; }
  .col-xs-6.form-col {
    width: 96%;
    margin-left: 2%; }
  span {
    display: block; }
  .signup-btn-row {
    margin-top: 12%; } }

/*sign up page */
.signup-header {
  font-size: 100px;
  font-family: "montserratsemibold", sans-serif;
  color: #515862; }

.signup-subheader {
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  color: #515862;
  letter-spacing: 1px; }

.col-xs-12.signup-col {
  text-align: center;
  margin-top: 9%; }

.signup-btn-row {
  margin-bottom: 32%;
  margin-top: 3%; }

.container-fluid.signup {
  background: url(/assets/images/signup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInNpZ24tdXAuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsbUJBQW1CO0VBQ25CLHNDQUFzQztFQUN0QywwRUFBa0U7RUFBbEUsa0VBQWtFO0VBQ2xFLGdCQUFnQixFQUFFO0VBQ2xCO0lBQ0UsY0FBYyxFQUFFOztBQUVwQjtFQUNFLGFBQWE7RUFDYixvQkFBb0I7RUFDcEIsYUFBYSxFQUFFO0VBQ2Y7SUFDRSxnQ0FBZ0MsRUFBRTtFQUNwQztJQUNFLDhCQUE4QixFQUFFOztBQUVwQztFQUNFLDBCQUEwQjtFQUMxQixrQkFBa0I7RUFDbEIsZUFBZSxFQUFFO0VBQ2pCO0lBQ0UsZ0NBQWdDLEVBQUU7RUFDcEM7SUFDRSw4QkFBOEIsRUFBRTtFQUNsQztJQUNFLGVBQWU7SUFDZiwwQkFBMEIsRUFBRTs7QUFFaEM7RUFDRSx5QkFBeUI7RUFDekIsMEJBQTBCLEVBQUU7O0FBRTlCO0VBQ0UsaUJBQWlCLEVBQUU7O0FBRXJCO0VBQ0UsMEJBQTBCO0VBQzFCLHNCQUFzQjtFQUN0QixtQkFBbUIsRUFBRTs7QUFFdkI7RUFDRTtJQUNFLGdCQUFnQjtJQUNoQixxQkFBcUIsRUFBRTtFQUN6QjtJQUNFLG9CQUFvQjtJQUNwQixhQUFhO0lBQ2IsZ0JBQWdCLEVBQUU7RUFDcEI7SUFDRSxhQUFhLEVBQUU7RUFDakI7SUFDRSxXQUFXO0lBQ1gsZ0JBQWdCLEVBQUU7RUFDcEI7SUFDRSxlQUFlLEVBQUU7RUFDbkI7SUFDRSxnQkFBZ0IsRUFBRSxFQUFFOztBQUV4QixpQkFBaUI7QUFDakI7RUFDRSxpQkFBaUI7RUFDakIsOENBQThDO0VBQzlDLGVBQWUsRUFBRTs7QUFFbkI7RUFDRSxnQkFBZ0I7RUFDaEIsc0NBQXNDO0VBQ3RDLGVBQWU7RUFDZixvQkFBb0IsRUFBRTs7QUFFeEI7RUFDRSxtQkFBbUI7RUFDbkIsZUFBZSxFQUFFOztBQUVuQjtFQUNFLG1CQUFtQjtFQUNuQixlQUFlLEVBQUU7O0FBRW5CO0VBQ0UsMkNBQTJDO0VBQzNDLHVCQUF1QjtFQUN2Qiw2QkFBNkI7RUFDN0IsNEJBQTRCLEVBQUUiLCJmaWxlIjoic2lnbi11cC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIucHJpbWFyeS1idXR0b24sIC5zaWdudXAtYnRuLCAuc2lnbi11cCwgLnNlY29uZGFyeS1idXR0b24ge1xuICBib3JkZXItcmFkaXVzOiAxcHg7XG4gIGZvbnQtZmFtaWx5OiBcIk1vbnRzZXJyYXRcIiwgc2Fucy1zZXJpZjtcbiAgdHJhbnNpdGlvbjogYmFja2dyb3VuZCAuNHMsIGJveC1zaGFkb3cgLjRzLCBjb2xvciAuNHMsIGJvcmRlciAuNHM7XG4gIGN1cnNvcjogcG9pbnRlcjsgfVxuICAucHJpbWFyeS1idXR0b246Zm9jdXMsIC5zaWdudXAtYnRuOmZvY3VzLCAuc2lnbi11cDpmb2N1cywgLnNlY29uZGFyeS1idXR0b246Zm9jdXMge1xuICAgIG91dGxpbmU6IG5vbmU7IH1cblxuLnByaW1hcnktYnV0dG9uLCAuc2lnbnVwLWJ0biwgLnNpZ24tdXAge1xuICBib3JkZXI6IG5vbmU7XG4gIGJhY2tncm91bmQ6ICM3M0M0OEQ7XG4gIGNvbG9yOiB3aGl0ZTsgfVxuICAucHJpbWFyeS1idXR0b246aG92ZXIsIC5zaWdudXAtYnRuOmhvdmVyLCAuc2lnbi11cDpob3ZlciB7XG4gICAgYm94LXNoYWRvdzogMHB4IDBweCA0cHggIzYzQUI4MDsgfVxuICAucHJpbWFyeS1idXR0b246YWN0aXZlLCAuc2lnbnVwLWJ0bjphY3RpdmUsIC5zaWduLXVwOmFjdGl2ZSB7XG4gICAgYm94LXNoYWRvdzogMHB4IDBweCAwcHggd2hpdGU7IH1cblxuLnNlY29uZGFyeS1idXR0b24ge1xuICBib3JkZXI6IDFweCBzb2xpZCAjMzAzNjNGO1xuICBiYWNrZ3JvdW5kOiB3aGl0ZTtcbiAgY29sb3I6ICMzMDM2M0Y7IH1cbiAgLnNlY29uZGFyeS1idXR0b246aG92ZXIge1xuICAgIGJveC1zaGFkb3c6IDBweCAwcHggNHB4ICM2M0FCODA7IH1cbiAgLnNlY29uZGFyeS1idXR0b246YWN0aXZlIHtcbiAgICBib3gtc2hhZG93OiAwcHggMHB4IDBweCB3aGl0ZTsgfVxuICAuc2Vjb25kYXJ5LWJ1dHRvbjpob3ZlciB7XG4gICAgY29sb3I6ICM2M0FCODA7XG4gICAgYm9yZGVyOiAxcHggc29saWQgIzYzQUI4MDsgfVxuXG46Oi13ZWJraXQtaW5wdXQtcGxhY2Vob2xkZXIge1xuICAvKiBXZWJLaXQsIEJsaW5rLCBFZGdlICovXG4gIGNvbG9yOiAjQzdDN0NEICFpbXBvcnRhbnQ7IH1cblxuLmlucHV0LWdyb3VwIHtcbiAgcGFkZGluZy10b3A6IDBweDsgfVxuXG4uc2lnbnVwLWJ0biB7XG4gIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XG4gIGxldHRlci1zcGFjaW5nOiAxLjVweDtcbiAgcGFkZGluZzogMTJweCAyMHB4OyB9XG5cbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1heC13aWR0aDogNTkwcHgpIHtcbiAgLnNpZ251cC1oZWFkZXIge1xuICAgIGZvbnQtc2l6ZTogNDVweDtcbiAgICBwYWRkaW5nLWJvdHRvbTogNTVweDsgfVxuICAuaW5wdXQtZ3JvdXAge1xuICAgIC8qbWluLXdpZHRoOjMwMHB4OyovXG4gICAgd2lkdGg6IDMwMHB4O1xuICAgIGRpc3BsYXk6IGlubGluZTsgfVxuICAjZmllbGQge1xuICAgIGhlaWdodDogNjBweDsgfVxuICAuY29sLXhzLTYuZm9ybS1jb2wge1xuICAgIHdpZHRoOiA5NiU7XG4gICAgbWFyZ2luLWxlZnQ6IDIlOyB9XG4gIHNwYW4ge1xuICAgIGRpc3BsYXk6IGJsb2NrOyB9XG4gIC5zaWdudXAtYnRuLXJvdyB7XG4gICAgbWFyZ2luLXRvcDogMTIlOyB9IH1cblxuLypzaWduIHVwIHBhZ2UgKi9cbi5zaWdudXAtaGVhZGVyIHtcbiAgZm9udC1zaXplOiAxMDBweDtcbiAgZm9udC1mYW1pbHk6IFwibW9udHNlcnJhdHNlbWlib2xkXCIsIHNhbnMtc2VyaWY7XG4gIGNvbG9yOiAjNTE1ODYyOyB9XG5cbi5zaWdudXAtc3ViaGVhZGVyIHtcbiAgZm9udC1zaXplOiAyNnB4O1xuICBmb250LWZhbWlseTogXCJNb250c2VycmF0XCIsIHNhbnMtc2VyaWY7XG4gIGNvbG9yOiAjNTE1ODYyO1xuICBsZXR0ZXItc3BhY2luZzogMXB4OyB9XG5cbi5jb2wteHMtMTIuc2lnbnVwLWNvbCB7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgbWFyZ2luLXRvcDogOSU7IH1cblxuLnNpZ251cC1idG4tcm93IHtcbiAgbWFyZ2luLWJvdHRvbTogMzIlO1xuICBtYXJnaW4tdG9wOiAzJTsgfVxuXG4uY29udGFpbmVyLWZsdWlkLnNpZ251cCB7XG4gIGJhY2tncm91bmQ6IHVybCgvYXNzZXRzL2ltYWdlcy9zaWdudXAuanBnKTtcbiAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgYmFja2dyb3VuZC1wb3NpdGlvbjogY2VudGVyOyB9XG4iXX0= */