.influencer-card-container{
padding-top: 55px;
margin-left: 55px;
}

.button-container{
    padding-left:0px;
    
}

.social-button{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: #30363F;
    padding-left: 11px;
    background-color: #A2A8B1;
    border: 1px;
    float: left;
    margin-bottom: 8px;
    padding-top: 5px;
    padding-bottom: 31px;
    max-width: 207px;
}


.button-option-text{
    position: absolute;
    padding-left: 13%;
    color: white;
    font-family: 'montserratlight';
    font-size: 13px;
    padding-top: 2px;
}


.image-container{
    padding-left:0px;
    max-height:207px;
    margin-bottom:10px;
}

.image-size{
    padding-left: 0px;
    padding-right: 0px;
    max-width: 207px;
    height: 200px;
    object-fit: cover;
    width: 100%;
    object-position: 0 12%;

}

.social-buttons{
    padding-bottom:20px;
}
