
.item{
  color:white;
  list-style:none;
  padding-left:30px;
  font-size:20px;
  padding-bottom:20px;
  line-height:25px;
  font-family: 'Montserrat', sans-serif;
  
} 
.item:hover{
  background-color:#515862;
}

.side-link{
  text-decoration:none;
  color:white;
}
#li-container{
  margin-top:100px;
}