* {
	margin: 0;
	padding: 0;
}
body {
	padding: 10px;
	background: #eaeaea;
	font-family: arial;
	font-size: 1rem;
	color: #333333;
}
.container {
	width: 1000px;
	height: auto;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 10px;
	margin: auto;
	text-align: left;
}
.header {
	padding: 10px;
}
.main_title {
	background: #cccccc;
	color: #ffffff;
	padding: 10px;
	font-size: 20px;
	line-height: 20px;
}
.content {
	padding: 10px;
	min-height: 100px;
}
.footer {
	padding: 10px;
	text-align: right;
}
.footer a {
	color: #999999;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}
.label_div {
	width: 120px;
	float: left;
	line-height: 28px;
}
.input_containersearch {
	height: 30px;
	width:100%;
	float: left;
}
.input_containersearch input {
	height: 40px;
	width: 100%;
	padding: 3px;
	border: 1px solid #cccccc;
	border-radius: 0;
    padding: 5px 5px;
}
.input_containersearch ul {
	width: auto;
    height: auto;
	border: 1px solid #eaeaea;
	position: fixed;
	z-index: 9;
	background: #f3f3f3;
	list-style: none;
}
.input_containersearch ul li {
	padding: 2px;
}
.input_containersearch ul li:hover {
	background: #eaeaea;
}
#user_listsearch {
	display: none;
}